/* screen - 01-home-1 */

.x01-home-1 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 9476px;
  overflow: hidden;
  width: 1920px;
}

.x01-home-1 .overlap-group21 {
  height: 1265px;
  margin-left: -293px;
  margin-top: -70px;
  position: relative;
  width: 2643px;
}

.x01-home-1 .overlap-group17 {
  height: 1265px;
  left: 0;
  position: absolute;
  top: 0;
  width: 2643px;
}

.x01-home-1 .overlap-group-1 {
  height: 1010px;
  left: 293px;
  position: absolute;
  top: 70px;
  width: 1920px;
}

.x01-home-1 .image-2 {
  height: 1008px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1920px;
}

.x01-home-1 .shade {
  height: 893px;
  left: 0;
  position: absolute;
  top: 117px;
  width: 1678px;
}

.x01-home-1 .effect-shape {
  height: 1265px;
  left: 0;
  position: absolute;
  top: 0;
  width: 2643px;
}

.x01-home-1 .overlap-group1-2 {
  height: 120px;
  left: 665px;
  position: absolute;
  top: 810px;
  width: 226px;
}

.x01-home-1 .rectangle-702 {
  background-color: var(--telepossible-blue);
  border-radius: 35px;
  height: 68px;
  left: 0;
  position: absolute;
  top: 26px;
  width: 226px;
}

.x01-home-1 .join-now {
  color: var(--white);
  font-family: var(--font-family-oswald);
  font-size: 25px;
  font-weight: 700;
  left: 69px;
  letter-spacing: 0;
  line-height: 120px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.x01-home-1 .overlap-group2-1 {
  height: 364px;
  left: 648px;
  position: absolute;
  top: 401px;
  width: 1030px;
}

.x01-home-1 .vector-1 {
  height: 74px;
  left: 0;
  position: absolute;
  top: 144px;
  width: 819px;
}

.x01-home-1 .text-5 {
  color: var(--white);
  font-family: var(--font-family-noto_serif);
  font-size: 80px;
  font-weight: 700;
  left: 17px;
  letter-spacing: 0;
  line-height: 95px;
  position: absolute;
  top: 0;
  width: 1013px;
}

.x01-home-1 .header {
  align-items: flex-start;
  display: flex;
  height: 120px;
  left: 293px;
  min-width: 1920px;
  padding: 2px 0;
  position: absolute;
  top: 70px;
}

.x01-home-1 .overlap-group18 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  height: 115px;
  justify-content: flex-end;
  min-width: 1920px;
  padding: 0 570px;
}

.x01-home-1 .place {
  letter-spacing: 5.00px;
  min-height: 29px;
  text-align: center;
  width: 90px;
}

.x01-home-1 .about {
  letter-spacing: 5.00px;
  margin-left: 120px;
  min-height: 29px;
  text-align: center;
  width: 90px;
}

.x01-home-1 .works {
  letter-spacing: 5.00px;
  margin-left: 105px;
  min-height: 29px;
  text-align: center;
  width: 120px;
}

.x01-home-1 .contacts {
  letter-spacing: 5.00px;
  margin-left: 75px;
  min-height: 29px;
  text-align: center;
  width: 150px;
}

.x01-home-1 .overlap-group19 {
  height: 120px;
  left: 1798px;
  position: absolute;
  top: 67px;
  width: 173px;
}

.x01-home-1 .rectangle-703 {
  border: 2px solid var(--telepossible-red);
  border-radius: 35px;
  height: 55px;
  left: 0;
  position: absolute;
  top: 35px;
  width: 173px;
}

.x01-home-1 .donation {
  color: var(--telepossible-red);
  font-family: var(--font-family-oswald);
  font-size: var(--font-size-l);
  font-weight: 500;
  left: 52px;
  letter-spacing: 0;
  line-height: 120px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.x01-home-1 .logo-img {
  height: 75px;
  left: 534px;
  object-fit: cover;
  position: absolute;
  top: 92px;
  width: 158px;
}

.x01-home-1 .x2-about-us {
  align-items: center;
  align-self: flex-end;
  display: flex;
  height: 846px;
  justify-content: flex-end;
  margin-right: -504.0px;
  margin-top: 109px;
  min-width: 2327px;
  padding: 0 0.0px;
}

.x01-home-1 .overlap-group1-3 {
  height: 679px;
  margin-bottom: 39.21px;
  position: relative;
  width: 667px;
}

.x01-home-1 .ellipse-5 {
  height: 640px;
  left: 16px;
  position: absolute;
  top: 39px;
  width: 651px;
}

.x01-home-1 .overlap-group-2 {
  height: 651px;
  left: 0;
  position: absolute;
  top: 25px;
  width: 495px;
}

.x01-home-1 .rectangle-705 {
  border: 1px solid #cecece;
  height: 651px;
  left: 0;
  position: absolute;
  top: 0;
  width: 367px;
}

.x01-home-1 .rectangle-6 {
  height: 533px;
  left: 45px;
  object-fit: cover;
  position: absolute;
  top: 68px;
  width: 450px;
}

.x01-home-1 .ellipse-714 {
  height: 223px;
  left: 304px;
  position: absolute;
  top: 0;
  width: 278px;
}

.x01-home-1 .text-6 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  margin-left: 113px;
  min-height: 811px;
  width: 650px;
}

.x01-home-1 .text-7 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 654px;
  width: 656px;
}

.x01-home-1 .we-are-here-to {
  color: transparent;
  font-family: var(--font-family-noto_serif);
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0;
  min-height: 89px;
}

.x01-home-1 .span0 {
  color: var(--jaguar);
}

.x01-home-1 .span1 {
  color: var(--telepossible-red);
}

.x01-home-1 .text-40 {
  color: transparent;
  font-family: var(--font-family-zen_maru_gothic);
  font-size: var(--font-size-xxl);
  font-weight: 700;
  height: 195px;
  letter-spacing: 1.35px;
  margin-top: 80px;
  opacity: 0.8;
  width: 650px;
}

.x01-home-1 .span0-1 {
  color: var(--jaguar);
  font-weight: 700;
  letter-spacing: 0.36px;
}

.x01-home-1 .span {
  letter-spacing: 0.36px;
}

.x01-home-1 .text-39 {
  color: transparent;
  font-family: var(--font-family-zen_maru_gothic);
  font-size: var(--font-size-xxl);
  font-weight: 400;
  height: 273px;
  letter-spacing: 1.35px;
  margin-top: 17px;
  opacity: 0.8;
  width: 600px;
}

.x01-home-1 .overlap-group-3 {
  align-items: flex-start;
  border: 2px solid var(--black);
  border-radius: 35px;
  display: flex;
  height: 64px;
  margin-left: 4px;
  margin-top: 93px;
  min-width: 250px;
  padding: 15px 50px;
}

.x01-home-1 .learn-more {
  color: #141313;
  font-family: var(--font-family-heebo);
  font-size: var(--font-size-l);
  font-weight: 400;
  letter-spacing: 5.00px;
  min-height: 29px;
  min-width: 147px;
  text-align: center;
}

.x01-home-1 .overlap-group-4 {
  height: 673px;
  margin-bottom: 16.6px;
  margin-left: 64px;
  position: relative;
  width: 750px;
}

.x01-home-1 .ellipse-6 {
  background-color: var(--telepossible-blue);
  border-radius: 336.5px;
  height: 673px;
  left: 77px;
  opacity: 0.3;
  position: absolute;
  top: 0;
  width: 673px;
}

.x01-home-1 .vector-smart-object-copy {
  height: 197px;
  left: 0;
  position: absolute;
  top: 155px;
  width: 196px;
}

.x01-home-1 .we-have-been-saving {
  align-items: flex-end;
  background-color: #fff6f1;
  display: flex;
  height: 785px;
  margin-top: 285px;
  min-width: 1920px;
  padding: 87px 87.3px;
}

.x01-home-1 .overlap-group16 {
  height: 584px;
  position: relative;
  width: 1693px;
}

.x01-home-1 .text-8 {
  align-items: flex-end;
  display: flex;
  height: 550px;
  left: 288px;
  min-width: 1263px;
  position: absolute;
  top: 0;
}

.x01-home-1 .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 550px;
  width: 643px;
}

.x01-home-1 .text-29 {
  color: var(--jaguar);
  font-family: var(--font-family-noto_serif);
  font-size: var(--font-size-xxxxl);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 68px;
  min-height: 266px;
  width: 643px;
}

.x01-home-1 .span0-2 {
  font-weight: 700;
}

.x01-home-1 .span1-1 {
  font-family: var(--font-family-pt_sans);
  font-weight: 700;
}

.x01-home-1 .overlap-group-5 {
  height: 237px;
  margin-top: 47px;
  position: relative;
  width: 530px;
}

.x01-home-1 .text-31 {
  color: var(--jaguar);
  font-family: var(--font-family-oswald);
  font-size: var(--font-size-xl);
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 40px;
  opacity: 0.8;
  position: absolute;
  top: 0;
  width: 530px;
}

.x01-home-1 .text-32 {
  color: var(--jaguar);
  font-family: var(--font-family-oswald);
  font-size: var(--font-size-m);
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 34px;
  opacity: 0.8;
  position: absolute;
  top: 109px;
  width: 511px;
}

.x01-home-1 .text-30 {
  color: var(--orange);
  font-family: var(--font-family-oswald);
  font-size: var(--font-size-xxxl);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 68px;
  margin-bottom: 91px;
  margin-left: 57px;
  min-height: 73px;
  white-space: nowrap;
  width: 563px;
}

.x01-home-1 .drop-down-text {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 988px;
  min-height: 373px;
  position: absolute;
  top: 0;
  width: 501px;
}

.x01-home-1 .flex-row-1 {
  align-items: center;
  display: flex;
  height: 36px;
  margin-left: 5.94px;
  min-width: 410px;
}

.x01-home-1 .plus {
  height: 2px;
  width: 17px;
}

.x01-home-1 .text-34 {
  letter-spacing: 0;
  line-height: 36px;
  margin-left: 10px;
  min-height: 36px;
  white-space: nowrap;
  width: 383px;
}

.x01-home-1 .overlap-group1-4 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 6px;
  display: flex;
  height: 138px;
  justify-content: flex-end;
  margin-top: 18px;
  min-width: 470px;
  padding: 14px 17px;
}

.x01-home-1 .text-33 {
  color: var(--black);
  font-family: var(--font-family-oswald);
  font-size: var(--font-size-m);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 34px;
  min-height: 109px;
  opacity: 0.8;
  width: 410px;
}

.x01-home-1 .flex-row-2 {
  align-items: center;
  align-self: center;
  display: flex;
  height: 36px;
  margin-right: 2.0px;
  margin-top: 49px;
  min-width: 483px;
}

.x01-home-1 .plus-1 {
  height: 11px;
  margin-top: 3.0px;
  width: 11px;
}

.x01-home-1 .text-35 {
  letter-spacing: 0;
  line-height: 36px;
  margin-left: 14px;
  min-height: 36px;
  white-space: nowrap;
  width: 458px;
}

.x01-home-1 .flex-row {
  align-items: center;
  display: flex;
  height: 36px;
  margin-left: 8px;
  margin-top: 12px;
  min-width: 408px;
}

.x01-home-1 .plus-2 {
  height: 11px;
  margin-bottom: 1.0px;
  width: 11px;
}

.x01-home-1 .text-3 {
  letter-spacing: 0;
  line-height: 36px;
  margin-left: 14px;
  min-height: 36px;
  white-space: nowrap;
  width: 383px;
}

.x01-home-1 .plus-3 {
  height: 11px;
  margin-top: 1.0px;
  width: 11px;
}

.x01-home-1 .overlap-group2-2 {
  height: 120px;
  left: 988px;
  position: absolute;
  top: 464px;
  width: 290px;
}

.x01-home-1 .rectangle-4 {
  border: 2px solid var(--black);
  border-radius: 35px;
  height: 64px;
  left: 0;
  position: absolute;
  top: 29px;
  width: 290px;
}

.x01-home-1 .text-38 {
  color: #141313;
  font-family: var(--font-family-oswald);
  font-size: var(--font-size-m);
  font-weight: 600;
  left: 62px;
  letter-spacing: 0;
  line-height: 120px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.x01-home-1 .effect {
  height: 492px;
  left: 0;
  position: absolute;
  top: 17px;
  width: 1693px;
}

.x01-home-1 .case {
  align-items: center;
  display: flex;
  height: 1263px;
  margin-left: -35px;
  margin-top: 112px;
  min-width: 1861px;
}

.x01-home-1 .flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 1263px;
  width: 1676px;
}

.x01-home-1 .overlap-group10 {
  height: 1020px;
  position: relative;
  width: 1605px;
}

.x01-home-1 .titles {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 687px;
  min-height: 180px;
  position: absolute;
  top: 0;
  width: 607px;
}

.x01-home-1 .x100-our-causes {
  color: #f25e25;
  font-family: var(--font-family-oswald);
  font-size: var(--font-size-s);
  font-weight: 500;
  letter-spacing: 0;
  margin-right: 9.0px;
  min-height: 24px;
  min-width: 114px;
  text-align: center;
}

.x01-home-1 .text-4-1 {
  letter-spacing: 0;
  margin-right: 4.0px;
  margin-top: 20px;
  min-height: 136px;
  min-width: 603px;
  text-align: center;
}

.x01-home-1 .overlap-group3 {
  height: 923px;
  left: 244px;
  position: absolute;
  top: 96px;
  width: 562px;
}

.x01-home-1 .image-3 {
  align-items: flex-start;
  display: flex;
  height: 528px;
  justify-content: flex-end;
  left: 0;
  min-width: 536px;
  position: absolute;
  top: 0;
}

.x01-home-1 .seth-doyle-zf9-aek-js-unsplash {
  height: 2px;
  margin-top: -0.29px;
  width: 1px;
}

.x01-home-1 .rectangle-642-copy-1 {
  align-self: flex-end;
  height: 391px;
  margin-bottom: -0.5px;
  margin-left: 165px;
  width: 371px;
}

.x01-home-1 .overlap-group1-5 {
  height: 409px;
  left: 140px;
  position: absolute;
  top: 515px;
  width: 421px;
}

.x01-home-1 .group-1 {
  height: 404px;
  left: 0;
  position: absolute;
  top: 5px;
  width: 421px;
}

.x01-home-1 .text-5-1 {
  left: 54px;
  letter-spacing: 0;
  line-height: 36px;
  position: absolute;
  top: 49px;
}

.x01-home-1 .text-6-1 {
  left: 54px;
  letter-spacing: 0;
  line-height: 30px;
  opacity: 0.8;
  position: absolute;
  top: 143px;
}

.x01-home-1 .raised-1000-1 {
  left: 54px;
  letter-spacing: 0;
  position: absolute;
  top: 286px;
}

.x01-home-1 .goal-1200-1 {
  left: 288px;
  letter-spacing: 0;
  position: absolute;
  top: 286px;
}

.x01-home-1 .overlap-group-6 {
  align-items: flex-end;
  background-image: url(../img/rectangle@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 27px;
  left: 53px;
  min-width: 65px;
  padding: 0.7px 16.0px;
  position: absolute;
  top: 0;
}

.x01-home-1 .food {
  letter-spacing: 0;
  min-height: 21px;
  min-width: 26px;
}

.x01-home-1 .overlap-group2-3 {
  height: 48px;
  left: 194px;
  position: absolute;
  top: 728px;
  width: 320px;
}

.x01-home-1 .rectangle-585-1 {
  height: 26px;
  left: 0;
  position: absolute;
  top: 22px;
  width: 320px;
}

.x01-home-1 .rectangle-585-copy-1 {
  height: 10px;
  left: 8px;
  position: absolute;
  top: 30px;
  width: 255px;
}

.x01-home-1 .percent {
  left: 240px;
  letter-spacing: 0;
  position: absolute;
  top: 0;
}

.x01-home-1 .ellipse-590-1 {
  height: 23px;
  left: 246px;
  position: absolute;
  top: 24px;
  width: 23px;
}

.x01-home-1 .overlap-group4 {
  height: 924px;
  left: 644px;
  position: absolute;
  top: 96px;
  width: 561px;
}

.x01-home-1 .image {
  align-items: flex-start;
  display: flex;
  height: 528px;
  left: 0;
  min-width: 536px;
  position: absolute;
  top: 0;
}

.x01-home-1 .rectangle-642-copy {
  align-self: flex-end;
  height: 391px;
  margin-bottom: -0.5px;
  margin-left: 165px;
  width: 370px;
}

.x01-home-1 .overlap-group1 {
  height: 409px;
  left: 141px;
  position: absolute;
  top: 515px;
  width: 420px;
}

.x01-home-1 .group {
  height: 396px;
  left: 0;
  position: absolute;
  top: 13px;
  width: 420px;
}

.x01-home-1 .text {
  left: 53px;
  letter-spacing: 0;
  line-height: 36px;
  position: absolute;
  top: 49px;
}

.x01-home-1 .text-1 {
  left: 53px;
  letter-spacing: 0;
  line-height: 30px;
  opacity: 0.8;
  position: absolute;
  top: 143px;
}

.x01-home-1 .raised-1000 {
  left: 53px;
  letter-spacing: 0;
  position: absolute;
  top: 286px;
}

.x01-home-1 .goal-1200 {
  left: 287px;
  letter-spacing: 0;
  position: absolute;
  top: 286px;
}

.x01-home-1 .overlap-group-7 {
  align-items: flex-end;
  background-image: url(../img/rectangle-1@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 27px;
  left: 53px;
  min-width: 67px;
  padding: 0.7px 19px;
  position: absolute;
  top: 0;
}

.x01-home-1 .overlap-group2 {
  height: 48px;
  left: 194px;
  position: absolute;
  top: 728px;
  width: 319px;
}

.x01-home-1 .rectangle-585 {
  height: 26px;
  left: 0;
  position: absolute;
  top: 22px;
  width: 319px;
}

.x01-home-1 .rectangle-585-copy {
  height: 10px;
  left: 8px;
  position: absolute;
  top: 30px;
  width: 254px;
}

.x01-home-1 .ellipse-590 {
  height: 23px;
  left: 246px;
  position: absolute;
  top: 24px;
  width: 22px;
}

.x01-home-1 .overlap-group5 {
  height: 924px;
  left: 1044px;
  position: absolute;
  top: 96px;
  width: 561px;
}

.x01-home-1 .seth-doyle-zf9-aek-js-unsplash-1 {
  height: 2px;
  margin-top: -0.29px;
  width: 2px;
}

.x01-home-1 .overlap-group-8 {
  align-items: flex-end;
  background-image: url(../img/rectangle-2@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 27px;
  left: 53px;
  min-width: 92px;
  padding: 0.7px 16px;
  position: absolute;
  top: 0;
}

.x01-home-1 .homeless-1 {
  letter-spacing: 0;
  min-height: 21px;
  min-width: 52px;
}

.x01-home-1 .effect-1 {
  height: 312px;
  left: 0;
  position: absolute;
  top: 364px;
  width: 272px;
}

.x01-home-1 .overlap-group11 {
  align-self: flex-end;
  height: 211px;
  margin-top: 32px;
  position: relative;
  width: 1266px;
}

.x01-home-1 .arrow {
  align-items: flex-start;
  display: flex;
  height: 56px;
  left: 0;
  min-width: 149px;
  position: absolute;
  top: 0;
}

.x01-home-1 .overlap-group7 {
  align-items: center;
  background-image: url(../img/ellipse-615@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 56px;
  justify-content: flex-end;
  min-width: 56px;
  padding: 0 22px;
}

.x01-home-1 .right-arrow-6 {
  height: 18px;
  width: 11px;
}

.x01-home-1 .overlap-group6 {
  align-items: center;
  background-image: url(../img/ellipse-615@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 56px;
  justify-content: flex-end;
  margin-left: 37px;
  min-width: 56px;
  padding: 0 22px;
}

.x01-home-1 .overlap-group9 {
  height: 211px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1266px;
}

.x01-home-1 .text-11 {
  color: var(--black);
  font-family: var(--font-family-oswald);
  font-size: var(--font-size-xxxl);
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 46px;
  position: absolute;
  top: 76px;
  width: 844px;
}

.x01-home-1 .overlap-group8 {
  height: 211px;
  left: 708px;
  position: absolute;
  top: 0;
  width: 558px;
}

.x01-home-1 .rectangle-708 {
  background-color: #fff5ef;
  border-radius: 10px;
  height: 211px;
  left: 0;
  position: absolute;
  top: 0;
  width: 453px;
}

.x01-home-1 .text-12 {
  color: #010001;
  font-family: var(--font-family-oswald);
  font-size: 28px;
  font-weight: 500;
  left: 51px;
  letter-spacing: 0;
  line-height: 36px;
  position: absolute;
  top: 32px;
  width: 402px;
}

.x01-home-1 .phone {
  color: var(--orange);
  font-family: var(--font-family-oswald);
  font-size: 36px;
  font-weight: 500;
  left: 156px;
  letter-spacing: 0;
  line-height: 36.5px;
  position: absolute;
  top: 135px;
  white-space: nowrap;
  width: 402px;
}

.x01-home-1 .group-2 {
  height: 59px;
  left: 49px;
  position: absolute;
  top: 125px;
  width: 99px;
}

.x01-home-1 .effect-2 {
  height: 133px;
  margin-bottom: 356.37px;
  margin-left: 52px;
  width: 133px;
}

.x01-home-1 .success-story-place-holder {
  align-items: flex-start;
  display: flex;
  height: 762px;
  margin-left: 65px;
  margin-top: 95px;
  min-width: 1622px;
}

.x01-home-1 .effect-3 {
  align-self: center;
  height: 197px;
  margin-bottom: 32.92px;
  width: 196px;
}

.x01-home-1 .overlap-group12 {
  height: 763px;
  margin-left: 115px;
  margin-top: -0.68px;
  position: relative;
  width: 1311px;
}

.x01-home-1 .overlap-group1-6 {
  height: 536px;
  left: 0;
  position: absolute;
  top: 148px;
  width: 590px;
}

.x01-home-1 .rectangle {
  height: 65px;
  left: 2px;
  position: absolute;
  top: 471px;
  width: 240px;
}

.x01-home-1 .our-success-story {
  color: #010001;
  font-family: var(--font-family-oswald);
  font-size: var(--font-size-m);
  font-weight: 600;
  left: 44px;
  letter-spacing: 0;
  position: absolute;
  top: 493px;
}

.x01-home-1 .titles-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 472px;
  position: absolute;
  top: 0;
  width: 590px;
}

.x01-home-1 .success-story {
  color: #fe7432;
  font-family: var(--font-family-oswald);
  font-size: var(--font-size-s);
  font-weight: 500;
  letter-spacing: 0;
  min-height: 24px;
}

.x01-home-1 .overlap-group-9 {
  height: 423px;
  margin-left: 1px;
  margin-top: 25px;
  position: relative;
  width: 583px;
}

.x01-home-1 .text-13 {
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 583px;
}

.x01-home-1 .text-14 {
  color: var(--cod-gray);
  font-family: var(--font-family-oswald);
  font-size: 17px;
  font-weight: 400;
  left: 1px;
  letter-spacing: 0;
  line-height: 36px;
  opacity: 0.8;
  position: absolute;
  top: 303px;
  width: 437px;
}

.x01-home-1 .bg-effect {
  height: 763px;
  left: 503px;
  position: absolute;
  top: 0;
  width: 808px;
}

.x01-home-1 .image-4 {
  background-color: #f1e3e3;
  border-radius: 10px;
  height: 470px;
  left: 702px;
  position: absolute;
  top: 143px;
  width: 476px;
}

.x01-home-1 .overlap-group2-4 {
  align-items: flex-start;
  background-image: url(../img/rectangle-622@2x.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  left: 537px;
  min-height: 237px;
  padding: 33.8px 50.0px;
  position: absolute;
  top: 430px;
  width: 366px;
}

.x01-home-1 .flex-row-3 {
  align-items: flex-start;
  display: flex;
  height: 39px;
  min-width: 245px;
}

.x01-home-1 .andro-m {
  align-self: flex-end;
  color: var(--cod-gray);
  font-family: var(--font-family-oswald);
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0;
  min-height: 33px;
  width: 105px;
}

.x01-home-1 .right-quote {
  height: 28px;
  margin-left: 100px;
  width: 40px;
}

.x01-home-1 .text-15 {
  color: var(--cod-gray);
  font-family: var(--font-family-oswald);
  font-size: var(--font-size-m);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 34px;
  margin-top: 14px;
  min-height: 117px;
  opacity: 0.8;
  width: 254px;
}

.x01-home-1 .effect-4 {
  height: 95px;
  left: 634px;
  position: absolute;
  top: 244px;
  width: 116px;
}

.x01-home-1 .overlap-group20 {
  height: 1147px;
  margin-left: -404px;
  margin-top: 60px;
  position: relative;
  width: 2715px;
}

.x01-home-1 .overlap-group13 {
  align-items: flex-start;
  background-image: url(../img/bg@1x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 1051px;
  left: 0;
  min-width: 2716px;
  padding: 88.7px 509.4px;
  position: absolute;
  top: 0;
}

.x01-home-1 .group-3 {
  align-self: flex-end;
  height: 59px;
  margin-bottom: 129.28px;
  width: 58px;
}

.x01-home-1 .overlap-group5-1 {
  height: 767px;
  margin-left: 128px;
  position: relative;
  width: 1338px;
}

.x01-home-1 .overlap-group4-1 {
  height: 758px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1338px;
}

.x01-home-1 .titles-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 344px;
  min-height: 758px;
  position: absolute;
  top: 0;
  width: 626px;
}

.x01-home-1 .testimonial {
  align-self: center;
  letter-spacing: 0;
  margin-right: 0.41px;
  min-height: 24px;
  min-width: 82px;
}

.x01-home-1 .text-16 {
  align-self: flex-end;
  color: var(--jaguar-2);
  font-family: var(--font-family-noto_serif);
  font-size: var(--font-size-xxxxl);
  font-weight: 700;
  letter-spacing: 0;
  margin-right: 6px;
  margin-top: 17px;
  min-height: 136px;
  min-width: 587px;
  text-align: center;
}

.x01-home-1 .text-17 {
  color: var(--jaguar-2);
  font-family: var(--font-family-oswald);
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0;
  margin-top: 537px;
  min-height: 44px;
}

.x01-home-1 .overlap-group-10 {
  background-image: url(../img/bg-1@2x.svg);
  background-size: 100% 100%;
  height: 540px;
  left: 0;
  position: absolute;
  top: 156px;
  width: 538px;
}

.x01-home-1 .text-user {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 216px;
  min-height: 55px;
  position: absolute;
  top: 333px;
  width: 103px;
}

.x01-home-1 .name {
  letter-spacing: 0;
  min-height: 27px;
}

.x01-home-1 .voluntter {
  letter-spacing: 0;
  margin-left: 2px;
  margin-top: 4px;
  min-height: 24px;
  opacity: 0.8;
}

.x01-home-1 .text-2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 117px;
  min-height: 294px;
  padding: 0 3.5px;
  position: absolute;
  top: 132px;
  width: 327px;
}

.x01-home-1 .massa-eget-eges-empor-nec-lorem {
  height: 89px;
  margin-right: 2.0px;
  margin-top: 30px;
  width: 318px;
}

.x01-home-1 .quotation-copy-2 {
  height: 1px;
  margin-right: 72.0px;
  margin-top: 174px;
  width: 1px;
}

.x01-home-1 .image-1 {
  height: 127px;
  left: 39px;
  position: absolute;
  top: 310px;
  width: 227px;
}

.x01-home-1 .overlap-group1-7 {
  background-image: url(../img/bg-2@2x.svg);
  background-size: 100% 100%;
  height: 540px;
  left: 400px;
  position: absolute;
  top: 156px;
  width: 538px;
}

.x01-home-1 .text-user-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 216px;
  min-height: 55px;
  position: absolute;
  top: 333px;
  width: 119px;
}

.x01-home-1 .j-ack-lamps {
  letter-spacing: 0;
  min-height: 27px;
}

.x01-home-1 .overlap-group2-5 {
  background-image: url(../img/bg-3@2x.svg);
  background-size: 100% 100%;
  height: 540px;
  left: 800px;
  position: absolute;
  top: 156px;
  width: 538px;
}

.x01-home-1 .text-user-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 216px;
  min-height: 55px;
  position: absolute;
  top: 333px;
  width: 115px;
}

.x01-home-1 .lona-shiro {
  letter-spacing: 0;
  min-height: 27px;
}

.x01-home-1 .overlap-group3-1 {
  align-items: flex-end;
  background-image: url(../img/rectangle--copy-5@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 65px;
  left: 85px;
  min-width: 225px;
  padding: 17px 51px;
  position: absolute;
  top: 702px;
}

.x01-home-1 .all-testimonial {
  color: var(--jaguar-2);
  font-family: var(--font-family-oswald);
  font-size: var(--font-size-m);
  font-weight: 600;
  letter-spacing: 0;
  min-height: 27px;
  min-width: 107px;
}

.x01-home-1 .group-4 {
  height: 47px;
  margin-left: 44px;
  margin-top: 47.28px;
  width: 48px;
}

.x01-home-1 .history {
  align-items: flex-start;
  display: flex;
  height: 192px;
  left: 780px;
  min-width: 1169px;
  position: absolute;
  top: 955px;
}

.x01-home-1 .succeeded-project {
  align-items: flex-end;
  background-color: #f3eade;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  min-height: 192px;
  padding: 31px 16px;
  width: 335px;
}

.x01-home-1 .x15k {
  align-self: center;
  letter-spacing: 0;
  line-height: 40px;
  margin-left: 7.0px;
  margin-top: 20px;
  min-height: 53px;
  width: 250px;
}

.x01-home-1 .text-18 {
  letter-spacing: 0;
  line-height: 40px;
  margin-top: 11px;
  min-height: 46px;
  white-space: nowrap;
  width: 273px;
}

.x01-home-1 .succeeded-project-1 {
  align-items: flex-end;
  background-color: #e8f8f2;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-left: 81px;
  min-height: 192px;
  padding: 31px 16px;
  width: 335px;
}

.x01-home-1 .text-19 {
  align-self: center;
  letter-spacing: 0;
  line-height: 40px;
  margin-left: 7.0px;
  margin-top: 20px;
  min-height: 53px;
  width: 250px;
}

.x01-home-1 .successful-campains {
  letter-spacing: 0;
  line-height: 40px;
  margin-top: 11px;
  min-height: 46px;
  white-space: nowrap;
  width: 273px;
}

.x01-home-1 .succeeded-project-2 {
  align-items: flex-end;
  background-color: #fffdf2;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-left: 83px;
  min-height: 192px;
  padding: 31px 16px;
  width: 335px;
}

.x01-home-1 .text-20 {
  align-self: center;
  letter-spacing: 0;
  line-height: 40px;
  margin-left: 7.0px;
  margin-top: 20px;
  min-height: 53px;
  width: 250px;
}

.x01-home-1 .monthly-donors {
  letter-spacing: 0;
  line-height: 40px;
  margin-top: 11px;
  min-height: 46px;
  white-space: nowrap;
  width: 273px;
}

.x01-home-1 .overlap-group22 {
  height: 2045px;
  margin-left: -358px;
  margin-top: 109px;
  position: relative;
  width: 2414px;
}

.x01-home-1 .call-to-action {
  align-items: flex-start;
  display: flex;
  height: 1428px;
  left: 0;
  min-width: 2414px;
  position: absolute;
  top: 0;
}

.x01-home-1 .overlap-group14 {
  height: 1428px;
  position: relative;
  width: 1366px;
}

.x01-home-1 .contact-place-holder {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 1428px;
  position: absolute;
  top: 0;
  width: 1366px;
}

.x01-home-1 .logo {
  align-items: flex-start;
  display: flex;
  margin-right: 50px;
  min-width: 512px;
}

.x01-home-1 .worldmappng28 {
  height: 1px;
  width: 1px;
}

.x01-home-1 .worldmappng28-copy {
  height: 1px;
  margin-left: 510px;
  width: 1px;
}

.x01-home-1 .overlap-group4-2 {
  height: 1339px;
  margin-top: 88px;
  position: relative;
  width: 1366px;
}

.x01-home-1 .contact-form {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 734px;
  min-height: 596px;
  position: absolute;
  top: 0;
  width: 632px;
}

.x01-home-1 .titles-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 0.92px;
  min-height: 171px;
  width: 635px;
}

.x01-home-1 .call-to-action-1 {
  letter-spacing: 0;
  min-height: 24px;
}

.x01-home-1 .text-21 {
  color: var(--jaguar-2);
  font-family: var(--font-family-noto_serif);
  font-size: var(--font-size-xxxxl);
  font-weight: 700;
  letter-spacing: 0;
  margin-left: 0.08px;
  margin-top: 18px;
  min-height: 129px;
  width: 631px;
}

.x01-home-1 .box {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 62px;
  min-height: 265px;
  width: 576px;
}

.x01-home-1 .flex-row-4 {
  align-items: flex-start;
  display: flex;
  min-width: 569px;
}

.x01-home-1 .overlap-group1-8 {
  align-items: flex-end;
  background-image: url(../img/shape-660@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 71px;
  min-width: 270px;
  padding: 21.8px 19.9px;
}

.x01-home-1 .full-name {
  letter-spacing: 0;
  min-height: 24px;
  min-width: 58px;
  opacity: 0.7;
}

.x01-home-1 .overlap-group-11 {
  align-items: flex-end;
  background-image: url(../img/shape-660-copy@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 71px;
  margin-left: 29px;
  min-width: 270px;
  padding: 21.8px 19.9px;
}

.x01-home-1 .overlap-group2-6 {
  align-items: flex-start;
  background-image: url(../img/shape-660-copy-2@1x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 161px;
  margin-left: 2px;
  margin-top: 34px;
  min-width: 568px;
  padding: 22.2px 20.9px;
}

.x01-home-1 .message-details {
  letter-spacing: 0;
  min-height: 24px;
  opacity: 0.7;
}

.x01-home-1 .overlap-group3-2 {
  align-items: flex-end;
  background-image: url(../img/rectangle--copy-2@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 61px;
  margin-left: 2px;
  margin-top: 37px;
  min-width: 130px;
  padding: 16.5px 43px;
}

.x01-home-1 .place-1 {
  color: var(--white);
  font-family: var(--font-family-oswald);
  font-size: var(--font-size-s);
  font-weight: 500;
  letter-spacing: 0;
  min-height: 24px;
  min-width: 33px;
}

.x01-home-1 .years-of-expericen {
  height: 896px;
  left: 0;
  position: absolute;
  top: 443px;
  width: 1343px;
}

.x01-home-1 .overlap-group6-1 {
  height: 538px;
  left: 12px;
  position: absolute;
  top: 154px;
  width: 553px;
}

.x01-home-1 .ellipse-713 {
  background-color: #ecfcf9;
  border-radius: 269px;
  height: 538px;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 538px;
}

.x01-home-1 .misc04 {
  height: 65px;
  left: 488px;
  position: absolute;
  top: 153px;
  width: 65px;
}

.x01-home-1 .overlap-group5-2 {
  height: 700px;
  margin-left: 68px;
  margin-top: 37px;
  position: relative;
  width: 980px;
}

.x01-home-1 .bg {
  background-color: #f3f7f6;
  border-radius: 172.5px;
  height: 345px;
  left: 236px;
  position: absolute;
  top: 355px;
  width: 345px;
}

.x01-home-1 .bg-image {
  align-items: flex-start;
  background-image: url(../img/rectangle-587@1x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 576px;
  left: 132px;
  min-width: 848px;
  position: absolute;
  top: 54px;
}

.x01-home-1 .rectangle-710 {
  height: 576px;
  width: 844px;
}

.x01-home-1 .image-2-1 {
  background-color: #ebe9e9;
  border-radius: 10px;
  height: 580px;
  left: 0;
  position: absolute;
  top: 0;
  width: 429px;
}

.x01-home-1 .news {
  align-items: flex-start;
  background-image: url(../img/bg-4@1x.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  left: 339px;
  min-height: 1204px;
  padding: 80.7px 368px;
  position: absolute;
  top: 841px;
  width: 1973px;
}

.x01-home-1 .titles-4 {
  align-items: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-right: 12.0px;
  min-height: 180px;
  width: 621px;
}

.x01-home-1 .news-update {
  letter-spacing: 0;
  margin-right: 33.13px;
  min-height: 24px;
  min-width: 87px;
}

.x01-home-1 .text-28 {
  letter-spacing: 0;
  margin-right: 4.0px;
  margin-top: 20px;
  min-height: 136px;
  min-width: 617px;
  text-align: center;
}

.x01-home-1 .overlap-group15 {
  height: 687px;
  margin-top: 57px;
  position: relative;
  width: 1226px;
}

.x01-home-1 .overlap-group {
  height: 687px;
  left: 0;
  position: absolute;
  top: 0;
  width: 426px;
}

.x01-home-1 .rectangle-696 {
  height: 370px;
  left: 28px;
  position: absolute;
  top: 0;
  width: 371px;
}

.x01-home-1 .group-5 {
  height: 334px;
  left: 0;
  position: absolute;
  top: 353px;
  width: 426px;
}

.x01-home-1 .text-2-1 {
  left: 58px;
  letter-spacing: 0;
  line-height: 30px;
  opacity: 0.8;
  position: absolute;
  top: 546px;
  width: 302px;
}

.x01-home-1 .text-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 57px;
  min-height: 121px;
  position: absolute;
  top: 409px;
  width: 317px;
}

.x01-home-1 .overlap-group1-1 {
  align-items: flex-end;
  background-image: url(../img/rectangle-698@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 28px;
  margin-left: 1.0px;
  min-width: 107px;
  padding: 0 17.0px;
}

.x01-home-1 .homeless {
  letter-spacing: 0;
  min-height: 24px;
  min-width: 56px;
}

.x01-home-1 .text-2-2 {
  letter-spacing: 0;
  line-height: 36px;
  margin-top: 18px;
  min-height: 75px;
  width: 313px;
}

.x01-home-1 .overlap-group3-3 {
  height: 687px;
  left: 400px;
  position: absolute;
  top: 0;
  width: 426px;
}

.x01-home-1 .rectangle-696-1 {
  height: 370px;
  left: 28px;
  position: absolute;
  top: 0;
  width: 371px;
}

.x01-home-1 .bg-1 {
  height: 334px;
  left: 0;
  position: absolute;
  top: 353px;
  width: 426px;
}

.x01-home-1 .overlap-group4-3 {
  height: 687px;
  left: 800px;
  position: absolute;
  top: 0;
  width: 426px;
}

.x01-home-1 .image-5 {
  height: 370px;
  left: 28px;
  position: absolute;
  top: 0;
  width: 371px;
}

.x01-home-1 .bg-2 {
  height: 334px;
  left: 0;
  position: absolute;
  top: 353px;
  width: 426px;
}

.x01-home-1 .footer {
  align-items: flex-start;
  display: flex;
  min-width: 2092px;
}

.x01-home-1 .overlap-group-12 {
  height: 664px;
  position: relative;
  width: 2092px;
}

.x01-home-1 .bg-3 {
  align-items: flex-end;
  background-color: #21202b;
  display: flex;
  height: 664px;
  left: 0;
  min-width: 2092px;
  padding: 117.0px 375.0px;
  position: absolute;
  top: 0;
}

.x01-home-1 .line-1 {
  height: 2px;
  width: 1170px;
}

.x01-home-1 .effect-5 {
  align-items: flex-start;
  display: flex;
  height: 465px;
  left: 106px;
  min-width: 1715px;
  position: absolute;
  top: 108px;
}

.x01-home-1 .highlight {
  height: 39px;
  width: 36px;
}

.x01-home-1 .group-6 {
  align-self: flex-end;
  height: 35px;
  margin-bottom: 51.25px;
  margin-left: 23px;
  width: 69px;
}

.x01-home-1 .highlight-1 {
  align-self: center;
  height: 89px;
  margin-bottom: 127.01px;
  margin-left: 1483px;
  width: 105px;
}

.x01-home-1 .outbound {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 1302px;
  min-height: 148px;
  position: absolute;
  top: 239px;
  width: 238px;
}

.x01-home-1 .social {
  height: 66px;
  margin-left: -8.5px;
  margin-top: -12px;
  width: 188px;
}

.x01-home-1 .discover {
  align-items: flex-end;
  display: flex;
  height: 80px;
  margin-top: 14px;
  min-width: 240px;
}

.x01-home-1 .flex-col-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 80px;
  width: 120px;
}

.x01-home-1 .discover-our-app {
  color: var(--white);
  font-family: var(--font-family-oswald);
  font-size: var(--font-size-m);
  font-weight: 500;
  letter-spacing: 0.09px;
  line-height: 22.4px;
  margin-left: 2px;
  min-height: 22px;
  white-space: nowrap;
}

.x01-home-1 .google-play {
  align-items: center;
  background-color: #080808;
  border-radius: 17.5px;
  display: flex;
  height: 39px;
  justify-content: flex-end;
  margin-top: 19px;
  min-width: 119px;
  padding: 6.9px 12.3px;
}

.x01-home-1 .google-play-1 {
  align-self: flex-end;
  height: 24px;
  width: 24px;
}

.x01-home-1 .vector {
  height: 17px;
  margin-left: 5px;
  margin-top: 0.42px;
  width: 60px;
}

.x01-home-1 .play-store {
  align-items: center;
  background-color: #080808;
  border-radius: 17.5px;
  display: flex;
  height: 39px;
  justify-content: flex-end;
  margin-left: 7px;
  min-width: 111px;
  padding: 8.1px 12.2px;
}

.x01-home-1 .apple-2-1 {
  height: 18px;
  margin-top: 1.11px;
  width: 15px;
}

.x01-home-1 .vector-2 {
  align-self: flex-end;
  height: 21px;
  margin-left: 6px;
  width: 62px;
}

.x01-home-1 .address {
  left: 375px;
  letter-spacing: 0;
  line-height: 32px;
  position: absolute;
  top: 402px;
  width: 292px;
}

.x01-home-1 .text-1-1 {
  left: 375px;
  letter-spacing: 0;
  line-height: 32px;
  position: absolute;
  top: 283px;
  width: 292px;
}

.x01-home-1 .nav-columns {
  align-items: flex-start;
  display: flex;
  height: 321px;
  left: 771px;
  min-width: 442px;
  position: absolute;
  top: 234px;
}

.x01-home-1 .nav-row {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 321px;
  width: 150px;
}

.x01-home-1 .main-menu {
  color: var(--white);
  font-family: var(--font-family-noto_serif);
  font-size: var(--font-size-l);
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24.9px;
  min-height: 25px;
  white-space: nowrap;
}

.x01-home-1 .text-2-3 {
  letter-spacing: 0;
  line-height: 38.5px;
  margin-top: 21px;
  min-height: 275px;
  width: 146px;
}

.x01-home-1 .nav-row-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 110px;
  min-height: 321px;
  width: 186px;
}

.x01-home-1 .nonprofits {
  color: var(--white);
  font-family: var(--font-family-noto_serif);
  font-size: var(--font-size-l);
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24.9px;
  min-height: 33px;
  width: 138px;
}

.x01-home-1 .text-3-1 {
  letter-spacing: 0;
  line-height: 38.5px;
  margin-top: 13px;
  min-height: 275px;
  width: 182px;
}

.x01-home-1 .span1-2 {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-weight: 400;
}

.x01-home-1 .copyrights {
  left: 803px;
  letter-spacing: 0;
  line-height: 22.4px;
  opacity: 0.7;
  position: absolute;
  text-align: center;
  top: 591px;
  white-space: nowrap;
}

.x01-home-1 .logo-1 {
  height: 54px;
  left: 375px;
  position: absolute;
  top: 205px;
  width: 184px;
}
