/* screen - about-2 */

.about-2 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 6779px;
  overflow: hidden;
  width: 1920px;
}

.about-2 .overlap-group8 {
  align-items: flex-start;
  background-image: url(../img/banner-@1x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 604px;
  min-width: 1920px;
}

.about-2 .header1 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  height: 85px;
  min-width: 1920px;
  padding: 0 29.9px;
}

.about-2 .logo-img {
  height: 55px;
  object-fit: cover;
  width: 116px;
}

.about-2 .header-icons {
  align-items: center;
  display: flex;
  margin-left: 414px;
  min-width: 800px;
}

.about-2 .icon-1 {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 55px;
  min-width: 172px;
  padding: 0 40px;
}

.about-2 .place {
  letter-spacing: 5.00px;
  min-height: 29px;
  text-align: center;
  width: 90px;
}

.about-2 .about {
  letter-spacing: 5.00px;
  margin-left: 78px;
  min-height: 29px;
  text-align: center;
  width: 90px;
}

.about-2 .works {
  letter-spacing: 5.00px;
  margin-left: 105px;
  min-height: 29px;
  text-align: center;
  width: 120px;
}

.about-2 .icon-4 {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 55px;
  margin-left: 65px;
  min-width: 172px;
  padding: 0 10px;
}

.about-2 .place-1 {
  letter-spacing: 5.00px;
  min-height: 29px;
  text-align: center;
  width: 150px;
}

.about-2 .introduction {
  align-items: flex-start;
  background-image: url(../img/dot-style-1@1x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 951px;
  justify-content: flex-end;
  margin-left: 0;
  margin-top: 90px;
  min-width: 1920px;
  padding: 122px 87.0px;
}

.about-2 .overlap-group-1 {
  align-self: center;
  height: 614px;
  margin-bottom: 1.0px;
  position: relative;
  width: 979px;
}

.about-2 .x3 {
  height: 576px;
  left: 0;
  position: absolute;
  top: 38px;
  width: 939px;
}

.about-2 .x2 {
  height: 576px;
  left: 20px;
  position: absolute;
  top: 18px;
  width: 939px;
}

.about-2 .x1 {
  height: 576px;
  left: 40px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 939px;
}

.about-2 .text {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 131px;
  min-height: 707px;
  width: 602px;
}

.about-2 .text-101 {
  letter-spacing: 0;
  min-height: 150px;
  width: 470px;
}

.about-2 .text-100 {
  color: var(--jaguar);
  font-family: var(--font-family-zen_maru_gothic);
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 40px;
  margin-top: 28px;
  min-height: 200px;
  opacity: 0.8;
  width: 547px;
}

.about-2 .overlap-group1 {
  background-color: var(--fantasy);
  border-radius: 10px;
  height: 98px;
  margin-top: 43px;
  position: relative;
  width: 526px;
}

.about-2 .name-1 {
  color: var(--jaguar);
  font-family: var(--font-family-oswald);
  font-size: 16px;
  font-weight: 400;
  height: 70px;
  left: 74px;
  letter-spacing: 0;
  line-height: 40px;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  top: 19px;
  width: 399px;
}

.about-2 .group {
  height: 59px;
  left: 23px;
  position: absolute;
  top: 22px;
  width: 65px;
}

.about-2 .dollar-collected {
  align-items: center;
  display: flex;
  height: 159px;
  margin-top: 29px;
  min-width: 604px;
}

.about-2 .overlap-group-2 {
  align-items: flex-end;
  background-image: url(../img/rectangle-716@2x.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  min-height: 159px;
  padding: 40.0px 20px;
  width: 170px;
}

.about-2 .core-values {
  color: var(--white);
  font-family: var(--font-family-oswald);
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 34px;
  margin-top: 8px;
  min-height: 34px;
  min-width: 129px;
  white-space: nowrap;
}

.about-2 .what-we-pursue {
  align-self: center;
  height: 27px;
  letter-spacing: 0;
  margin-top: 10px;
  text-align: center;
  width: 124px;
}

.about-2 .text-99 {
  letter-spacing: 0;
  line-height: 34px;
  margin-bottom: 5.0px;
  margin-left: 23px;
  min-height: 102px;
  opacity: 0.8;
  width: 405px;
}

.about-2 .overlap-group10 {
  align-self: center;
  height: 620px;
  margin-left: 101.0px;
  margin-top: 141px;
  position: relative;
  width: 1255px;
}

.about-2 .overlap-group1-1 {
  height: 620px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1255px;
}

.about-2 .our-vission {
  align-items: flex-start;
  display: flex;
  height: 577px;
  left: 0;
  min-width: 645px;
  position: absolute;
  top: 0;
}

.about-2 .line-5 {
  height: 291px;
  width: 1px;
}

.about-2 .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 7px;
  min-height: 577px;
  width: 631px;
}

.about-2 .our-vision {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 40px;
  min-height: 54px;
  width: 621px;
}

.about-2 .text-93 {
  letter-spacing: 0;
  line-height: 18px;
  margin-left: 16px;
  margin-top: 34px;
  min-height: 139px;
  opacity: 0.8;
  width: 484px;
}

.about-2 .span0 {
  line-height: 34px;
}

.about-2 .span1 {
  line-height: 40px;
}

.about-2 .text-94 {
  color: transparent;
  font-family: var(--font-family-oswald);
  font-size: var(--font-size-m);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 34px;
  margin-top: 239px;
  min-height: 111px;
  opacity: 0.8;
  width: 567px;
}

.about-2 .about-us {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 615px;
  min-height: 620px;
  position: absolute;
  top: 0;
  width: 640px;
}

.about-2 .text-1 {
  align-items: flex-start;
  display: flex;
  height: 242px;
  min-width: 646px;
}

.about-2 .line-6 {
  height: 226px;
  margin-left: -1px;
  width: 1px;
}

.about-2 .flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 19px;
  min-height: 242px;
  width: 621px;
}

.about-2 .about-us-1 {
  letter-spacing: 0;
  line-height: 40px;
  min-height: 54px;
  width: 621px;
}

.about-2 .text-95 {
  color: var(--orange);
  font-family: var(--font-family-noto_serif);
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 34px;
  margin-left: 5px;
  margin-top: 10px;
  min-height: 49px;
  width: 484px;
}

.about-2 .text-96 {
  letter-spacing: 0;
  line-height: 18px;
  margin-left: 5px;
  margin-top: 18px;
  min-height: 111px;
  opacity: 0.8;
  width: 484px;
}

.about-2 .image-2 {
  background-color: var(--mist-gray);
  border-radius: 5px;
  height: 348px;
  margin-left: 24.0px;
  margin-top: 30px;
  width: 506px;
}

.about-2 .dollar-collected-1 {
  align-items: flex-end;
  display: flex;
  height: 159px;
  left: 7px;
  min-width: 574px;
  position: absolute;
  top: 272px;
}

.about-2 .overlap-group7 {
  align-items: flex-end;
  background-image: url(../img/rectangle-716-1@2x.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  min-height: 159px;
  padding: 19px 22px;
  width: 170px;
}

.about-2 .x15y {
  color: var(--white);
  font-family: var(--font-family-oswald);
  font-size: 55px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 34px;
  margin-top: 16px;
  min-height: 34px;
  min-width: 106px;
  white-space: nowrap;
}

.about-2 .years-of-experience {
  align-self: center;
  letter-spacing: 0;
  line-height: 28px;
  margin-top: 18px;
  min-height: 53px;
  text-align: center;
  width: 124px;
}

.about-2 .text-102 {
  letter-spacing: 0;
  line-height: 34px;
  margin-left: 31px;
  min-height: 149px;
  opacity: 0.8;
  width: 367px;
}

.about-2 .overlap-group9 {
  height: 2174px;
  margin-left: -467px;
  margin-top: 157px;
  position: relative;
  width: 2715px;
}

.about-2 .overlap-group2 {
  background-image: url(../img/bg@1x.svg);
  background-size: 100% 100%;
  height: 1042px;
  left: 0;
  position: absolute;
  top: 1133px;
  width: 2716px;
}

.about-2 .bg-effect {
  height: 737px;
  left: 547px;
  position: absolute;
  top: 207px;
  width: 1626px;
}

.about-2 .blocks {
  align-items: flex-start;
  display: flex;
  height: 420px;
  left: 646px;
  min-width: 1422px;
  position: absolute;
  top: 406px;
}

.about-2 .block-1 {
  align-items: center;
  background-image: url(../img/bg-1@2x.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  min-height: 420px;
  padding: 56px 29.5px;
  width: 370px;
}

.about-2 .image {
  align-items: flex-start;
  background-image: url(../img/ellipse-648@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 81px;
  justify-content: flex-end;
  margin-right: 1.0px;
  min-width: 81px;
  padding: 5px;
}

.about-2 .social-icon {
  height: 70px;
  object-fit: cover;
  width: 70px;
}

.about-2 .title {
  letter-spacing: 2.30px;
  margin-top: 38px;
  min-height: 30px;
  text-align: center;
  width: 250px;
}

.about-2 .text-2 {
  align-self: flex-start;
  height: 74px;
  margin-top: 46px;
  width: 310px;
}

.about-2 .block-3 {
  align-items: center;
  background-image: url(../img/bg-1@2x.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  margin-left: 156px;
  min-height: 420px;
  padding: 46px 24px;
  width: 370px;
}

.about-2 .image-3 {
  align-items: flex-start;
  background-image: url(../img/ellipse-648@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 81px;
  justify-content: flex-end;
  margin-left: 1.0px;
  min-width: 81px;
  padding: 5px;
}

.about-2 .global {
  height: 70px;
  object-fit: cover;
  width: 70px;
}

.about-2 .title-1 {
  letter-spacing: 2.30px;
  margin-left: 2.0px;
  margin-top: 38px;
  min-height: 60px;
  text-align: center;
  width: 250px;
}

.about-2 .text-3 {
  align-self: flex-end;
  height: 74px;
  margin-top: 36px;
  width: 321px;
}

.about-2 .block-2 {
  align-items: center;
  background-image: url(../img/bg-1@2x.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  margin-left: 156px;
  min-height: 420px;
  padding: 56px 24px;
  width: 370px;
}

.about-2 .moral-icon {
  height: 70px;
  object-fit: cover;
  width: 70px;
}

.about-2 .text-4 {
  align-self: flex-start;
  height: 47px;
  margin-top: 44px;
  width: 321px;
}

.about-2 .title-2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 907px;
  min-height: 121px;
  position: absolute;
  top: 161px;
  width: 905px;
}

.about-2 .obligations {
  height: 30px;
  letter-spacing: 9.00px;
  margin-right: 5.0px;
  text-align: center;
  width: 250px;
}

.about-2 .text-97 {
  letter-spacing: 0;
  margin-right: 4.0px;
  margin-top: 16px;
  min-height: 75px;
  min-width: 901px;
  text-align: center;
}

.about-2 .overlap-group5 {
  align-items: flex-start;
  background-image: url(../img/bg-4@1x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 1183px;
  justify-content: flex-end;
  left: 84px;
  min-width: 2548px;
  padding: 9px 334.6px;
  position: absolute;
  top: 0;
}

.about-2 .flex-col-2 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-top: 99.61px;
  min-height: 279px;
  width: 508px;
}

.about-2 .overlap-group-3 {
  align-self: flex-end;
  height: 181px;
  position: relative;
  width: 466px;
}

.about-2 .our-services {
  color: var(--jaguar-2);
  font-family: var(--font-family-noto_serif);
  font-size: 72px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 46px;
  width: 466px;
}

.about-2 .text-98 {
  color: var(--orange);
  font-family: var(--font-family-oswald);
  font-size: 24px;
  font-weight: 500;
  left: 3px;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 463px;
}

.about-2 .group-1 {
  height: 58px;
  margin-top: 39px;
  width: 58px;
}

.about-2 .overlap-group6 {
  height: 1154px;
  margin-left: 8px;
  position: relative;
  width: 938px;
}

.about-2 .overlap-group1-2 {
  align-items: flex-start;
  background-image: url(../img/bg-5@2x.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 641px;
  padding: 93px 83px;
  position: absolute;
  top: 0;
  width: 538px;
}

.about-2 .quote {
  align-self: center;
  height: 57px;
  margin-right: 15.0px;
  margin-top: 29px;
  width: 57px;
}

.about-2 .overlap-group-4 {
  height: 347px;
  margin-top: 22px;
  position: relative;
  width: 361px;
}

.about-2 .text-user {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 177px;
  min-height: 51px;
  position: absolute;
  top: 237px;
  width: 126px;
}

.about-2 .name {
  letter-spacing: 0;
  min-height: 27px;
}

.about-2 .voluntter {
  letter-spacing: 0;
  margin-left: 2px;
  margin-top: 4px;
  min-height: 20px;
  opacity: 0.8;
}

.about-2 .text-5 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 34px;
  min-height: 263px;
  padding: 0 2px;
  position: absolute;
  top: 0;
  width: 327px;
}

.about-2 .tele-p-immediat-symptoms-better {
  height: 157px;
  margin-right: 2.0px;
  margin-top: 16px;
  width: 321px;
}

.about-2 .quotation-copy-2-1 {
  height: 1px;
  margin-right: 72.0px;
  margin-top: 90px;
  width: 1px;
}

.about-2 .image-1 {
  height: 127px;
  left: 0;
  position: absolute;
  top: 220px;
  width: 227px;
}

.about-2 .overlap-group2-1 {
  align-items: flex-start;
  background-image: url(../img/bg-6@2x.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  left: 400px;
  min-height: 641px;
  padding: 93px 39px;
  position: absolute;
  top: 0;
  width: 538px;
}

.about-2 .overlap-group {
  height: 347px;
  margin-top: 22px;
  position: relative;
  width: 405px;
}

.about-2 .text-6 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 78px;
  min-height: 263px;
  padding: 0 0.5px;
  position: absolute;
  top: 0;
  width: 327px;
}

.about-2 .based-on-the-ch-hey-are-on-hold {
  height: 292px;
  margin-right: 2.0px;
  margin-top: -52px;
  width: 324px;
}

.about-2 .quotation-copy-2 {
  height: 1px;
  margin-right: 72.0px;
  margin-top: 22px;
  width: 1px;
}

.about-2 .overlap-group3 {
  align-items: flex-start;
  background-image: url(../img/bg-7@2x.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 641px;
  padding: 93px 39px;
  position: absolute;
  top: 513px;
  width: 538px;
}

.about-2 .text-7 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 78px;
  min-height: 263px;
  padding: 0 1.5px;
  position: absolute;
  top: 0;
  width: 327px;
}

.about-2 .tele-p-provides-es-between-them {
  height: 293px;
  margin-right: 2.0px;
  margin-top: -52px;
  width: 322px;
}

.about-2 .overlap-group4 {
  align-items: flex-start;
  background-image: url(../img/bg-8@2x.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  left: 400px;
  min-height: 641px;
  padding: 93px 39px;
  position: absolute;
  top: 513px;
  width: 538px;
}

.about-2 .text-8 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 78px;
  min-height: 263px;
  padding: 0 3px;
  position: absolute;
  top: 0;
  width: 327px;
}

.about-2 .even-when-the-v-om-the-patients {
  height: 225px;
  margin-right: 2.0px;
  margin-top: -18px;
  width: 319px;
}

.about-2 .quotation-copy-2-2 {
  height: 1px;
  margin-right: 72.0px;
  margin-top: 56px;
  width: 1px;
}

.about-2 .group-2 {
  height: 47px;
  margin-left: 170px;
  margin-top: 98px;
  width: 48px;
}

.about-2 .footer {
  align-items: flex-start;
  background-color: var(--desert-storm);
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  min-height: 406px;
  width: 1920px;
}

.about-2 .upper {
  align-items: center;
  display: flex;
  height: 68px;
  padding: 0 352.7px;
  width: 1949px;
}

.about-2 .line-1 {
  height: 2px;
  width: 1219px;
}

.about-2 .contents {
  align-items: flex-end;
  background-color: var(--desert-storm);
  display: flex;
  height: 271px;
  min-width: 1949px;
  padding: 67.7px 62.3px;
}

.about-2 .x1-1 {
  align-items: flex-start;
  display: flex;
  height: 135px;
  min-width: 406px;
  padding: 4.1px 0;
}

.about-2 .logo {
  align-self: center;
  height: 74px;
  margin-top: 0.74px;
  object-fit: cover;
  width: 68px;
}

.about-2 .contact-info {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  min-height: 99px;
  width: 253px;
}

.about-2 .contact-info-1 {
  height: 36px;
  letter-spacing: 9.74px;
}

.about-2 .text-92 {
  height: 49px;
  letter-spacing: 2.44px;
  margin-top: 14px;
}

.about-2 .x2-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 296px;
  min-height: 135px;
  padding: 1.4px 0;
  width: 420px;
}

.about-2 .connect-with-us {
  height: 36px;
  letter-spacing: 9.74px;
  margin-left: 0.32px;
  margin-top: 3px;
  min-width: 317px;
  text-align: center;
}

.about-2 .icons {
  align-items: flex-start;
  display: flex;
  justify-content: flex-end;
  margin-left: 0;
  margin-top: 26px;
  min-width: 420px;
}

.about-2 .instagram-icon {
  height: 68px;
  margin-top: -0.17px;
  object-fit: cover;
  width: 68px;
}

.about-2 .x-icon {
  height: 68px;
  margin-left: 108px;
  margin-top: -0.17px;
  object-fit: cover;
  width: 68px;
}

.about-2 .law {
  align-self: flex-start;
  height: 100px;
  letter-spacing: 0;
  margin-left: 298px;
  margin-top: 0;
  width: 300px;
}

.about-2 .copyright {
  align-items: flex-start;
  background-color: var(--desert-storm);
  display: flex;
  min-width: 1949px;
}

.about-2 .overlap-group-5 {
  align-items: flex-end;
  background-color: var(--telepossible-blue);
  display: flex;
  height: 68px;
  justify-content: flex-end;
  min-width: 1949px;
  padding: 23.3px 708.3px;
}

.about-2 .text-9 {
  height: 20px;
  letter-spacing: 8.12px;
  min-width: 530px;
  text-align: center;
}
