/* screen - about */

.about {
  align-items: flex-start;
  background-color: var(--desert-storm);
  display: flex;
  height: 4396px;
  overflow: hidden;
  width: 1440px;
}

.about .overlap-group6 {
  height: 4432px;
  margin-left: -218px;
  margin-top: -36px;
  position: relative;
  width: 1798px;
}

.about .bg-objects {
  align-items: flex-start;
  display: flex;
  height: 3675px;
  left: 140px;
  min-width: 1599px;
  position: absolute;
  top: 560px;
}

.about .overlap-group-1 {
  height: 3680px;
  margin-top: -4.75px;
  position: relative;
  width: 1128px;
}

.about .ellipse-12 {
  background-color: var(--gallery);
  border-radius: 155px/153.7px;
  height: 307px;
  left: 226px;
  position: absolute;
  top: 1863px;
  width: 310px;
}

.about .ellipse-15 {
  background-color: var(--gallery);
  border-radius: 257px/254.5px;
  height: 509px;
  left: 0;
  position: absolute;
  top: 3171px;
  width: 514px;
}

.about .ellipse-14 {
  border: 0.5px solid var(--black);
  border-radius: 250px/247.91px;
  height: 496px;
  left: 278px;
  position: absolute;
  top: 2047px;
  width: 500px;
}

.about .ellipse-16 {
  border: 0.5px solid var(--black);
  border-radius: 199.5px/198px;
  height: 396px;
  left: 278px;
  position: absolute;
  top: 979px;
  width: 399px;
}

.about .line {
  height: 3575px;
  left: 252px;
  position: absolute;
  top: 0;
  width: 876px;
}

.about .flex-col {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-bottom: 189.7px;
  margin-left: 110px;
  min-height: 2096px;
  width: 361px;
}

.about .ellipse-16-1 {
  background-color: var(--aqua-pearl);
  border-radius: 90px;
  height: 180px;
  width: 180px;
}

.about .ellipse-13 {
  align-self: flex-end;
  background-color: var(--gallery);
  border-radius: 155px/153.7px;
  height: 307px;
  margin-top: 717px;
  width: 310px;
}

.about .ellipse-17 {
  background-color: var(--aqua-pearl);
  border-radius: 105px;
  height: 210px;
  margin-left: 4px;
  margin-top: 166px;
  width: 210px;
}

.about .ellipse-13-1 {
  align-self: flex-end;
  background-color: var(--cinnabar);
  border-radius: 45px/44.65px;
  height: 89px;
  margin-right: 57px;
  margin-top: 427px;
  width: 90px;
}

.about .page-4 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 411px;
  min-height: 726px;
  position: absolute;
  top: 3269px;
  width: 1053px;
}

.about .overlap-group3 {
  height: 81px;
  margin-left: 1.0px;
  position: relative;
  width: 524px;
}

.about .text-7 {
  height: 71px;
  left: 0;
  letter-spacing: 4.80px;
  position: absolute;
  text-align: center;
  top: 10px;
}

.about .accent {
  background-color: var(--cinnabar);
  border-radius: 10px;
  height: 20px;
  left: 381px;
  position: absolute;
  top: 0;
  width: 20px;
}

.about .contents {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 54px;
  min-height: 591px;
  width: 1053px;
}

.about .box-1 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 15px;
  display: flex;
  height: 161px;
  min-width: 1053px;
  padding: 30px 57px;
}

.about .overlap-group {
  align-items: center;
  background-color: var(--gallery);
  border-radius: 15px;
  display: flex;
  height: 100px;
  min-width: 100px;
  padding: 0 20px;
}

.about .image-1 {
  height: 60px;
  object-fit: cover;
  width: 60px;
}

.about .text {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 35px;
  min-height: 100px;
  width: 804px;
}

.about .social-obligation {
  height: 36px;
  letter-spacing: 2.40px;
}

.about .text-1 {
  height: 60px;
  letter-spacing: 2.40px;
  margin-top: 4px;
  width: 800px;
}

.about .box-2 {
  align-items: center;
  background-color: var(--white);
  border-radius: 15px;
  display: flex;
  height: 161px;
  margin-top: 54px;
  min-width: 1053px;
  padding: 30px 57px;
}

.about .overlap-group1 {
  align-items: center;
  align-self: flex-end;
  background-color: var(--gallery);
  border-radius: 15px;
  display: flex;
  height: 100px;
  min-width: 100px;
  padding: 0 20px;
}

.about .moral {
  height: 60px;
  object-fit: cover;
  width: 60px;
}

.about .text-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 8.0px;
  margin-left: 35px;
  min-height: 79px;
  width: 773px;
}

.about .moral-obligation {
  height: 36px;
  letter-spacing: 2.40px;
}

.about .text-5 {
  height: 30px;
  letter-spacing: 2.40px;
  margin-top: 13px;
}

.about .box-3 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 15px;
  display: flex;
  height: 161px;
  margin-top: 54px;
  min-width: 1053px;
  padding: 30px 57px;
}

.about .global {
  height: 60px;
  object-fit: cover;
  width: 60px;
}

.about .text-4 {
  height: 36px;
  letter-spacing: 2.40px;
}

.about .page-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 518px;
  min-height: 860px;
  position: absolute;
  top: 2269px;
  width: 952px;
}

.about .overlap-group-2 {
  height: 81px;
  position: relative;
  width: 296px;
}

.about .our-team-is {
  height: 71px;
  left: 0;
  letter-spacing: 4.80px;
  position: absolute;
  top: 10px;
}

.about .accent-1 {
  background-color: var(--cinnabar);
  border-radius: 10px;
  height: 20px;
  left: 146px;
  position: absolute;
  top: 0;
  width: 20px;
}

.about .overlap-group4 {
  height: 736px;
  margin-top: 43px;
  position: relative;
  width: 950px;
}

.about .team-img {
  height: 501px;
  left: 100px;
  object-fit: cover;
  position: absolute;
  top: 235px;
  width: 751px;
}

.about .description {
  height: 245px;
  left: 0;
  letter-spacing: 2.80px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 950px;
}

.about .span {
  letter-spacing: 0.78px;
}

.about .page-2 {
  align-items: flex-start;
  display: flex;
  height: 467px;
  left: 269px;
  min-width: 1294px;
  position: absolute;
  top: 1361px;
}

.about .overlap-group-3 {
  align-self: flex-end;
  height: 450px;
  position: relative;
  width: 590px;
}

.about .ellipse-15-1 {
  background-color: var(--gallery);
  border-radius: 225px;
  height: 450px;
  left: 70px;
  position: absolute;
  top: 0;
  width: 450px;
}

.about .image {
  height: 394px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 28px;
  width: 590px;
}

.about .text-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 54px;
  min-height: 416px;
  width: 656px;
}

.about .overlap-group1-1 {
  height: 81px;
  position: relative;
  width: 364px;
}

.about .we-are-here-to {
  height: 71px;
  left: 0;
  letter-spacing: 4.80px;
  position: absolute;
  top: 10px;
}

.about .accent-2 {
  background-color: var(--cinnabar);
  border-radius: 10px;
  height: 20px;
  left: 220px;
  position: absolute;
  top: 0;
  width: 20px;
}

.about .text-9 {
  height: 105px;
  letter-spacing: 0;
  margin-top: 66px;
  width: 650px;
}

.about .text-8 {
  height: 140px;
  letter-spacing: 0;
  margin-top: 24px;
  width: 650px;
}

.about .overlap-group5 {
  height: 1283px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1796px;
}

.about .objects {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 1283px;
  position: absolute;
  top: 0;
  width: 1796px;
}

.about .flex-row {
  align-items: flex-start;
  display: flex;
  height: 930px;
  min-width: 1796px;
}

.about .overlap-group1-2 {
  align-self: flex-end;
  height: 534px;
  position: relative;
  width: 513px;
}

.about .ellipse-8 {
  background-color: var(--gallery);
  border-radius: 256.5px/254.5px;
  height: 509px;
  left: 0;
  position: absolute;
  top: 25px;
  width: 513px;
}

.about .ellipse-11 {
  background-color: var(--cinnabar);
  border-radius: 45px/44.65px;
  height: 89px;
  left: 314px;
  position: absolute;
  top: 0;
  width: 90px;
}

.about .overlap-group-4 {
  height: 636px;
  margin-left: 616px;
  position: relative;
  width: 667px;
}

.about .ellipse-7 {
  background-color: var(--gallery);
  border-radius: 256.5px/254.5px;
  height: 509px;
  left: 91px;
  position: absolute;
  top: 0;
  width: 513px;
}

.about .ellipse-10 {
  background-color: var(--cinnabar);
  border-radius: 75px/74.42px;
  height: 149px;
  left: 0;
  position: absolute;
  top: 156px;
  width: 150px;
}

.about .ellipse-9 {
  background-color: var(--aqua-pearl);
  border-radius: 152.5px/151.5px;
  height: 303px;
  left: 362px;
  position: absolute;
  top: 333px;
  width: 305px;
}

.about .ellipse-12-1 {
  background-color: var(--gallery);
  border-radius: 155px/153.7px;
  height: 307px;
  margin-right: 63px;
  margin-top: 46px;
  width: 310px;
}

.about .who-we-are {
  color: transparent;
  font-family: var(--font-family-oswald);
  font-size: 72px;
  font-weight: 700;
  height: 107px;
  left: 656px;
  letter-spacing: 21.60px;
  position: absolute;
  text-align: center;
  top: 441px;
}

.about .span0 {
  color: var(--blue-gray);
  letter-spacing: 15.55px;
}

.about .span1 {
  color: var(--black);
  letter-spacing: 15.55px;
}

.about .nav-bar-1 {
  align-items: center;
  background-color: var(--desert-storm);
  display: flex;
  height: 70px;
  justify-content: flex-end;
  left: 218px;
  min-width: 1440px;
  padding: 0 21px;
  position: absolute;
  top: 36px;
}

.about .logoimg {
  cursor: pointer;
  height: 50px;
  object-fit: cover;
  width: 106px;
}

.about .navigation-icons {
  align-items: flex-start;
  display: flex;
  margin-bottom: 2.0px;
  margin-left: 511px;
  min-width: 691px;
}

.about .place {
  cursor: pointer;
  height: 22px;
  letter-spacing: 2.25px;
  text-align: center;
  width: 44px;
}

.about .about-1 {
  height: 22px;
  letter-spacing: 2.25px;
  margin-left: 111px;
  text-align: center;
  width: 53px;
}

.about .works {
  height: 22px;
  letter-spacing: 2.25px;
  margin-left: 105px;
  text-align: center;
  width: 57px;
}

.about .contacts {
  height: 22px;
  letter-spacing: 2.25px;
  margin-left: 89px;
  text-align: center;
  width: 85px;
}

.about .donate {
  color: var(--black);
  font-family: var(--font-family-oswald);
  font-size: var(--font-size-xxs);
  font-weight: 700;
  height: 22px;
  letter-spacing: 2.25px;
  margin-left: 88px;
  min-width: 59px;
  text-align: center;
}

.about .overlap-group-5 {
  height: 15px;
  margin-bottom: 1.0px;
  margin-left: 62px;
  position: relative;
  width: 25px;
}

.about .ellipse-2 {
  border: 1px solid var(--black);
  border-radius: 7.5px;
  height: 15px;
  left: 10px;
  position: absolute;
  top: 0;
  width: 15px;
}

.about .ellipse-3 {
  height: 15px;
  left: 0;
  position: absolute;
  top: 0;
  width: 15px;
}

.about .footer-1 {
  align-items: flex-start;
  background-color: var(--desert-storm);
  display: flex;
  flex-direction: column;
  left: 218px;
  min-height: 300px;
  position: absolute;
  top: 4132px;
  width: 1440px;
}

.about .upper {
  align-items: center;
  display: flex;
  height: 50px;
  padding: 0 261px;
  width: 1440px;
}

.about .line-1 {
  height: 1px;
  width: 900px;
}

.about .contents-1 {
  align-items: center;
  background-color: var(--desert-storm);
  display: flex;
  height: 200px;
  justify-content: flex-end;
  min-width: 1440px;
  padding: 0 45px;
}

.about .x1 {
  align-items: center;
  display: flex;
  height: 100px;
  min-width: 300px;
}

.about .logo {
  height: 55px;
  margin-top: 0.55px;
  object-fit: cover;
  width: 50px;
}

.about .contact-info {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 18px;
  min-height: 94px;
  width: 236px;
}

.about .contact-info-1 {
  height: 27px;
  letter-spacing: 7.20px;
}

.about .text-10 {
  color: var(--black);
  font-family: var(--font-family-alternate_gothic_atf-semilight);
  font-size: var(--font-size-xs);
  font-weight: 300;
  height: 49px;
  letter-spacing: 1.80px;
  margin-top: 18px;
}

.about .x2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 219px;
  min-height: 100px;
  padding: 1px 0;
  width: 310px;
}

.about .connect-with-us {
  height: 27px;
  letter-spacing: 7.20px;
  margin-top: 2px;
  min-width: 234px;
  text-align: center;
}

.about .icons {
  align-items: flex-start;
  display: flex;
  margin-top: 19px;
  min-width: 310px;
}

.about .instagram-icon {
  height: 50px;
  object-fit: cover;
  width: 50px;
}

.about .x-icon {
  height: 50px;
  margin-left: 80px;
  object-fit: cover;
  width: 50px;
}

.about .law {
  color: #808080;
  font-family: var(--font-family-alternate_gothic_atf-semilight);
  font-size: var(--font-size-xs);
  font-weight: 300;
  height: 100px;
  letter-spacing: 0;
  margin-left: 220px;
  width: 300px;
}

.about .copyright {
  align-items: flex-start;
  background-color: var(--desert-storm);
  display: flex;
  min-width: 1440px;
}

.about .overlap-group-6 {
  align-items: flex-end;
  background-color: var(--blue-gray);
  display: flex;
  height: 50px;
  justify-content: flex-end;
  min-width: 1440px;
  padding: 17px 523px;
}

.about .text-6 {
  color: var(--white);
  font-family: var(--font-family-oswald);
  font-size: var(--font-size-xxxs);
  font-weight: 300;
  height: 15px;
  letter-spacing: 6.00px;
  min-width: 392px;
  text-align: center;
}
