/* screen - contact */

.contact {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 2072px;
  overflow: hidden;
  width: 1920px;
}

.contact .overlap-group4 {
  height: 1189px;
  margin-left: -168px;
  position: relative;
  width: 2091px;
}

.contact .map {
  height: 586px;
  left: 168px;
  position: absolute;
  top: 603px;
  width: 1920px;
}

.contact .overlap-group3 {
  height: 618px;
  left: 0;
  position: absolute;
  top: 0;
  width: 2091px;
}

.contact .bg-image {
  background-color: #f8f8f8;
  height: 604px;
  left: 165px;
  position: absolute;
  top: 0;
  width: 1926px;
}

.contact .effect-shape {
  align-items: flex-start;
  display: flex;
  height: 501px;
  left: 0;
  min-width: 2084px;
  padding: 0 21px;
  position: absolute;
  top: 117px;
}

.contact .overlap-group {
  height: 446px;
  position: relative;
  width: 356px;
}

.contact .polygon-5 {
  height: 237px;
  left: 13px;
  position: absolute;
  top: 210px;
  width: 274px;
}

.contact .polygon-9 {
  height: 237px;
  left: 0;
  position: absolute;
  top: 116px;
  width: 274px;
}

.contact .ellipse-4 {
  height: 383px;
  left: 179px;
  position: absolute;
  top: 0;
  width: 170px;
}

.contact .ellipse-6 {
  height: 160px;
  left: 285px;
  position: absolute;
  top: 39px;
  width: 71px;
}

.contact .overlap-group1 {
  align-self: flex-end;
  height: 349px;
  margin-bottom: 33.4px;
  margin-left: 1392px;
  position: relative;
  width: 273px;
}

.contact .polygon-6 {
  height: 224px;
  left: 65px;
  position: absolute;
  top: 0;
  width: 208px;
}

.contact .polygon-7 {
  height: 223px;
  left: 34px;
  position: absolute;
  top: 59px;
  width: 208px;
}

.contact .polygon-8 {
  height: 224px;
  left: 0;
  position: absolute;
  top: 125px;
  width: 208px;
}

.contact .ellipse-5 {
  height: 31px;
  left: 190px;
  position: absolute;
  top: 37px;
  width: 31px;
}

.contact .text {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 621px;
  min-height: 170px;
  position: absolute;
  top: 261px;
  width: 1017px;
}

.contact .overlap-group2 {
  height: 138px;
  margin-right: 4.0px;
  position: relative;
  width: 1013px;
}

.contact .underline {
  height: 32px;
  left: 312px;
  position: absolute;
  top: 106px;
  width: 433px;
}

.contact .place {
  color: var(--black);
  font-family: var(--font-family-noto_serif);
  font-size: 120px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: 125.5px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 1013px;
}

.contact .text-15 {
  color: #494949;
  font-family: var(--font-family-zen_kaku_gothic_antique);
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1.50px;
  margin-right: 5.0px;
  margin-top: 10px;
  min-height: 22px;
  text-align: center;
  width: 350px;
}

.contact .header {
  align-items: center;
  background-color: var(--white);
  display: flex;
  height: 85px;
  left: 168px;
  min-width: 1920px;
  padding: 0 29.9px;
  position: absolute;
  top: 0;
}

.contact .logo-img {
  cursor: pointer;
  height: 55px;
  object-fit: cover;
  width: 116px;
}

.contact .header-icons {
  align-items: flex-start;
  display: flex;
  margin-left: 414px;
  min-width: 800px;
}

.contact .icon-1 {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 55px;
  min-width: 172px;
  padding: 0 40px;
}

.contact .place-1 {
  letter-spacing: 5.00px;
  min-height: 29px;
  text-align: center;
  width: 90px;
}

.contact .icon-2 {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 55px;
  margin-left: 38px;
  min-width: 172px;
  padding: 0 40px;
}

.contact .about {
  letter-spacing: 5.00px;
  min-height: 29px;
  text-align: center;
  width: 90px;
}

.contact .icon-3 {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 55px;
  margin-left: 38px;
  min-width: 172px;
  padding: 0 25px;
}

.contact .works {
  letter-spacing: 5.00px;
  min-height: 29px;
  text-align: center;
  width: 120px;
}

.contact .icon-4 {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 55px;
  margin-left: 38px;
  min-width: 172px;
  padding: 0 10px;
}

.contact .place-2 {
  letter-spacing: 5.00px;
  min-height: 29px;
  text-align: center;
  width: 150px;
}

.contact .list-of-help {
  align-items: flex-start;
  align-self: center;
  display: flex;
  margin-top: 146px;
  min-width: 1170px;
}

.contact .call {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 224px;
  min-width: 374px;
  transition: all 0.2s ease;
}

.contact .call:hover {
  transform: translate(0, -5px);
box-shadow: 0px 12px 5px -8px rgba(0,0,0,0.2);
}

.contact .overlap-group2-1 {
  align-items: center;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0px 14px 20px #ded7d740;
  display: flex;
  flex-direction: column;
  min-height: 224px;
  padding: 36px 0;
  width: 370px;
}

.contact .overlap-group-1 {
  height: 105px;
  margin-top: 4px;
  position: relative;
  width: 82px;
}

.contact .call-us {
  left: 0;
  letter-spacing: 0;
  line-height: 38px;
  position: absolute;
  text-align: center;
  top: 67px;
  white-space: nowrap;
}

.contact .call-svgrepo-com-2 {
  height: 49px;
  left: 3px;
  position: absolute;
  top: 21px;
  width: 49px;
}

.contact .call-svgrepo-com-1 {
  height: 67px;
  left: 14px;
  position: absolute;
  top: 0;
  width: 67px;
}

.contact .phone {
  letter-spacing: 0;
  line-height: 38px;
  margin-top: 5px;
  min-height: 38px;
  min-width: 128px;
  opacity: 0.8;
  text-align: center;
  white-space: nowrap;
}

.contact .list-of-help-item {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 224px;
  margin-left: 26px;
  min-width: 374px;
  transition: all 0.2s ease;
}

.contact .list-of-help-item:hover {
  transform: translate(0, -5px);
box-shadow: 0px 12px 5px -8px rgba(0,0,0,0.2);
}

.contact .overlap-group1-1 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0px 14px 20px #ded7d740;
  display: flex;
  flex-direction: column;
  min-height: 224px;
  padding: 36px 69px;
  width: 370px;
}

.contact .location-1 {
  align-self: center;
  height: 57px;
  margin-right: 7.0px;
  margin-top: 6px;
  width: 57px;
}

.contact .overlap-group-2 {
  height: 81px;
  margin-top: 8px;
  position: relative;
  width: 231px;
}

.contact .address {
  left: 0;
  letter-spacing: 0;
  line-height: 38px;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  top: 43px;
  white-space: nowrap;
}

.contact .address-1 {
  left: 60px;
  letter-spacing: 0;
  line-height: 38px;
  position: absolute;
  text-align: center;
  top: 0;
}

.contact .overlap-group-3 {
  align-items: center;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0px 14px 20px #ded7d740;
  display: flex;
  flex-direction: column;
  min-height: 224px;
  padding: 36px 118px;
  width: 370px;
}

.contact .group {
  height: 39px;
  margin-right: 5.42px;
  margin-top: 18px;
  width: 59px;
}

.contact .mail-us {
  letter-spacing: 0;
  line-height: 38px;
  margin-left: 1.0px;
  margin-top: 14px;
  min-height: 38px;
  min-width: 89px;
  text-align: center;
  white-space: nowrap;
}

.contact .text-14 {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 38px;
  margin-top: 5px;
  min-height: 38px;
  min-width: 133px;
  opacity: 0.8;
  text-align: center;
  white-space: nowrap;
}

.contact .footer {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  margin-top: 112px;
  min-height: 400px;
  width: 1920px;
}

.contact .overlap-group1-2 {
  height: 307px;
  margin-left: 0;
  position: relative;
  width: 1925px;
}

.contact .contents {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 267px;
  justify-content: flex-end;
  left: 0;
  min-width: 1925px;
  padding: 66.8px 37.4px;
  position: absolute;
  top: 40px;
}

.contact .x1 {
  align-items: flex-end;
  display: flex;
  height: 112px;
  justify-content: flex-end;
  margin-top: 0;
  min-width: 458px;
}

.contact .logo {
  height: 74px;
  margin-bottom: 8.33px;
  object-fit: cover;
  width: 68px;
}

.contact .contact-info {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  margin-left: 37px;
  min-height: 104px;
  width: 358px;
}

.contact .contact-info-1 {
  height: 28px;
  letter-spacing: 9.62px;
  margin-left: 0;
  width: 274px;
}

.contact .text-13 {
  height: 65px;
  letter-spacing: 2.00px;
  margin-top: 11px;
  width: 354px;
}

.contact .x2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 235px;
  margin-top: 0;
  min-height: 132px;
  padding: 0.0px 0;
  width: 414px;
}

.contact .connect-with-us {
  height: 28px;
  letter-spacing: 9.62px;
  margin-right: 0;
  margin-top: 8px;
  text-align: center;
  width: 348px;
}

.contact .icons {
  align-items: flex-start;
  display: flex;
  height: 67px;
  margin-right: 0;
  margin-top: 29px;
  min-width: 414px;
}

.contact .instagram-icon {
  height: 68px;
  margin-top: -0.33px;
  object-fit: cover;
  width: 68px;
}

.contact .x-icon {
  height: 68px;
  margin-left: 106px;
  margin-top: -0.33px;
  object-fit: cover;
  width: 68px;
}

.contact .law {
  align-self: flex-end;
  height: 134px;
  letter-spacing: -0.40px;
  margin-left: 210px;
  width: 508px;
}

.contact .upper {
  align-items: flex-start;
  display: flex;
  height: 67px;
  left: 0;
  padding: 32.4px 348.4px;
  position: absolute;
  top: 0;
  width: 1925px;
}

.contact .line-1 {
  height: 2px;
  width: 1204px;
}

.contact .copyright {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  margin-left: 0;
  margin-top: 27px;
  min-width: 1925px;
}

.contact .overlap-group-4 {
  align-items: flex-end;
  background-color: var(--telepossible-blue);
  display: flex;
  height: 67px;
  min-width: 1925px;
  padding: 21.4px 721.8px;
}

.contact .text-1 {
  height: 23px;
  letter-spacing: 9.62px;
  text-align: center;
  width: 480px;
}
