/* screen - contact-2 */

.contact-2 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 3342px;
  overflow: hidden;
  width: 1920px;
}

.contact-2 .overlap-group7 {
  height: 1190px;
  margin-left: -168px;
  margin-top: -1px;
  position: relative;
  width: 2091px;
}

.contact-2 .map {
  height: 586px;
  left: 168px;
  position: absolute;
  top: 604px;
  width: 1920px;
}

.contact-2 .overlap-group6 {
  height: 619px;
  left: 0;
  position: absolute;
  top: 0;
  width: 2091px;
}

.contact-2 .overlap-group-1 {
  height: 605px;
  left: 55px;
  position: absolute;
  top: 0;
  width: 2036px;
}

.contact-2 .mask-group {
  background-color: var(--telepossible-white);
  height: 604px;
  left: 110px;
  position: absolute;
  top: 1px;
  width: 1926px;
}

.contact-2 .rectangle-3 {
  height: 605px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1904px;
}

.contact-2 .effect-shape {
  align-items: flex-start;
  display: flex;
  height: 501px;
  left: 0;
  min-width: 2084px;
  padding: 0 21px;
  position: absolute;
  top: 118px;
}

.contact-2 .overlap-group1 {
  height: 446px;
  position: relative;
  width: 356px;
}

.contact-2 .polygon-5 {
  height: 237px;
  left: 13px;
  position: absolute;
  top: 210px;
  width: 274px;
}

.contact-2 .polygon-9 {
  height: 237px;
  left: 0;
  position: absolute;
  top: 116px;
  width: 274px;
}

.contact-2 .ellipse-4 {
  height: 383px;
  left: 179px;
  position: absolute;
  top: 0;
  width: 170px;
}

.contact-2 .ellipse-6 {
  height: 160px;
  left: 285px;
  position: absolute;
  top: 39px;
  width: 71px;
}

.contact-2 .overlap-group2 {
  align-self: flex-end;
  height: 349px;
  margin-bottom: 33.4px;
  margin-left: 1392px;
  position: relative;
  width: 273px;
}

.contact-2 .polygon-6 {
  height: 224px;
  left: 65px;
  position: absolute;
  top: 0;
  width: 208px;
}

.contact-2 .polygon-7 {
  height: 223px;
  left: 34px;
  position: absolute;
  top: 59px;
  width: 208px;
}

.contact-2 .polygon-8 {
  height: 224px;
  left: 0;
  position: absolute;
  top: 125px;
  width: 208px;
}

.contact-2 .ellipse-5 {
  height: 31px;
  left: 190px;
  position: absolute;
  top: 37px;
  width: 31px;
}

.contact-2 .text {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 621px;
  min-height: 170px;
  position: absolute;
  top: 262px;
  width: 1017px;
}

.contact-2 .overlap-group3 {
  height: 138px;
  margin-right: 4.0px;
  position: relative;
  width: 1013px;
}

.contact-2 .underline {
  height: 32px;
  left: 312px;
  position: absolute;
  top: 106px;
  width: 433px;
}

.contact-2 .place {
  color: var(--white);
  font-family: var(--font-family-noto_serif);
  font-size: 120px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: 125.5px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 1013px;
}

.contact-2 .text-90 {
  color: var(--gravel);
  font-family: var(--font-family-zen_kaku_gothic_antique);
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1.50px;
  margin-right: 5.0px;
  margin-top: 10px;
  min-height: 22px;
  text-align: center;
  width: 350px;
}

.contact-2 .header {
  align-items: center;
  background-color: var(--white);
  display: flex;
  height: 85px;
  left: 168px;
  min-width: 1920px;
  padding: 0 29.9px;
  position: absolute;
  top: 1px;
}

.contact-2 .logo-img {
  cursor: pointer;
  height: 55px;
  object-fit: cover;
  width: 116px;
}

.contact-2 .header-icons {
  align-items: center;
  cursor: pointer;
  display: flex;
  margin-left: 414px;
  min-width: 800px;
}

.contact-2 .icon-1 {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 55px;
  min-width: 172px;
  padding: 0 40px;
}

.contact-2 .place-1 {
  letter-spacing: 5.00px;
  min-height: 29px;
  text-align: center;
  width: 90px;
}

.contact-2 .icon-2 {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 55px;
  margin-left: 38px;
  min-width: 172px;
  padding: 0 40px;
}

.contact-2 .about {
  letter-spacing: 5.00px;
  min-height: 29px;
  text-align: center;
  width: 90px;
}

.contact-2 .works {
  letter-spacing: 5.00px;
  margin-left: 63px;
  min-height: 29px;
  text-align: center;
  width: 120px;
}

.contact-2 .place-2 {
  letter-spacing: 5.00px;
  margin-left: 75px;
  min-height: 29px;
  text-align: center;
  width: 150px;
}

.contact-2 .list-of-help {
  align-items: flex-start;
  align-self: center;
  display: flex;
  margin-top: 116px;
  min-width: 1170px;
}

.contact-2 .call {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 224px;
  min-width: 374px;
  transition: all 0.2s ease;
}

.contact-2 .call:hover {
  transform: translate(0, -5px);
box-shadow: 0px 12px 5px -8px rgba(0,0,0,0.2);
}

.contact-2 .overlap-group2-1 {
  align-items: center;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0px 14px 20px #ded7d740;
  display: flex;
  flex-direction: column;
  min-height: 224px;
  padding: 36px 0;
  width: 370px;
}

.contact-2 .overlap-group-2 {
  height: 105px;
  margin-top: 4px;
  position: relative;
  width: 82px;
}

.contact-2 .call-us {
  left: 0;
  letter-spacing: 0;
  line-height: 38px;
  position: absolute;
  text-align: center;
  top: 67px;
  white-space: nowrap;
}

.contact-2 .call-svgrepo-com-2 {
  height: 49px;
  left: 3px;
  position: absolute;
  top: 21px;
  width: 49px;
}

.contact-2 .call-svgrepo-com-1 {
  height: 67px;
  left: 14px;
  position: absolute;
  top: 0;
  width: 67px;
}

.contact-2 .phone {
  letter-spacing: 0;
  line-height: 38px;
  margin-top: 5px;
  min-height: 38px;
  min-width: 128px;
  opacity: 0.8;
  text-align: center;
  white-space: nowrap;
}

.contact-2 .list-of-help-item {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 224px;
  margin-left: 26px;
  min-width: 374px;
  transition: all 0.2s ease;
}

.contact-2 .list-of-help-item:hover {
  transform: translate(0, -5px);
box-shadow: 0px 12px 5px -8px rgba(0,0,0,0.2);
}

.contact-2 .overlap-group1-1 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0px 14px 20px #ded7d740;
  display: flex;
  flex-direction: column;
  min-height: 224px;
  padding: 36px 69px;
  width: 370px;
}

.contact-2 .location-1 {
  align-self: center;
  height: 57px;
  margin-right: 7.0px;
  margin-top: 6px;
  width: 57px;
}

.contact-2 .overlap-group-3 {
  height: 81px;
  margin-top: 8px;
  position: relative;
  width: 231px;
}

.contact-2 .address {
  left: 0;
  letter-spacing: 0;
  line-height: 38px;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  top: 43px;
  white-space: nowrap;
}

.contact-2 .address-1 {
  left: 60px;
  letter-spacing: 0;
  line-height: 38px;
  position: absolute;
  text-align: center;
  top: 0;
}

.contact-2 .overlap-group-4 {
  align-items: center;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0px 14px 20px #ded7d740;
  display: flex;
  flex-direction: column;
  min-height: 224px;
  padding: 36px 118px;
  width: 370px;
}

.contact-2 .group {
  height: 39px;
  margin-right: 5.42px;
  margin-top: 18px;
  width: 59px;
}

.contact-2 .mail-us {
  letter-spacing: 0;
  line-height: 38px;
  margin-left: 1.0px;
  margin-top: 14px;
  min-height: 38px;
  min-width: 89px;
  text-align: center;
  white-space: nowrap;
}

.contact-2 .text-89 {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 38px;
  margin-top: 5px;
  min-height: 38px;
  min-width: 133px;
  opacity: 0.8;
  text-align: center;
  white-space: nowrap;
}

.contact-2 .get-in-touch {
  align-items: flex-start;
  background-color: var(--desert-storm);
  display: flex;
  flex-direction: column;
  margin-top: 112px;
  min-height: 714px;
  padding: 61px 400px;
  width: 1920px;
}

.contact-2 .get-in-touch-1 {
  color: var(--cod-gray);
  font-family: var(--font-family-noto_serif);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0;
  margin-left: 10px;
  margin-top: 17px;
  min-height: 38px;
  width: 322px;
}

.contact-2 .text-88 {
  color: var(--cod-gray);
  font-family: var(--font-family-oswald);
  font-size: var(--font-size-m);
  font-weight: 400;
  letter-spacing: 0;
  margin-left: 10px;
  margin-top: 26px;
  min-height: 38px;
  width: 742px;
}

.contact-2 .box {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  min-height: 349px;
  width: 1110px;
}

.contact-2 .flex-row {
  align-items: flex-start;
  display: flex;
  height: 181px;
  min-width: 1100px;
}

.contact-2 .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 181px;
  width: 535px;
}

.contact-2 .overlap-group-5 {
  align-items: flex-end;
  background-color: var(--white);
  border: 1px solid var(--black);
  display: flex;
  height: 84px;
  min-width: 535px;
  padding: 28px 20px;
}

.contact-2 .name {
  background-color: transparent;
  border: 0;
  height: 25px;
  letter-spacing: 0;
  opacity: 0.8;
  padding: 0;
  width: 178px;
}

.contact-2 .name::placeholder {
  color: #00000099;
}

.contact-2 .overlap-group {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  height: 84px;
  margin-top: 13px;
  min-width: 535px;
  padding: 27px 21px;
}

.contact-2 .website {
  background-color: transparent;
  border: 0;
  height: 25px;
  letter-spacing: 0;
  opacity: 0.8;
  padding: 0;
  width: 178px;
}

.contact-2 .website::placeholder {
  color: #00000099;
}

.contact-2 .flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  min-height: 181px;
  width: 535px;
}

.contact-2 .overlap-group4 {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  height: 84px;
  min-width: 535px;
  padding: 27px 21px;
}

.contact-2 .email-address {
  background-color: transparent;
  border: 0;
  height: 25px;
  letter-spacing: 0;
  opacity: 0.8;
  padding: 0;
  width: 178px;
}

.contact-2 .email-address::placeholder {
  color: #00000099;
}

.contact-2 .subject {
  background-color: transparent;
  border: 0;
  height: 25px;
  letter-spacing: 0;
  opacity: 0.8;
  padding: 0;
  width: 178px;
}

.contact-2 .subject::placeholder {
  color: #00000099;
}

.contact-2 .overlap-group1-2 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 155px;
  margin-top: 13px;
  min-width: 1100px;
  padding: 32px 21px;
}

.contact-2 .your-message {
  background-color: transparent;
  border: 0;
  height: 25px;
  letter-spacing: 0;
  opacity: 0.8;
  padding: 0;
  width: 178px;
}

.contact-2 .your-message::placeholder {
  color: #00000099;
}

.contact-2 .buttom {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-left: 10px;
  margin-top: 32px;
  min-width: 189px;
}

.contact-2 .overlap-group5 {
  align-items: flex-end;
  background-color: var(--telepossible-blue);
  border-radius: 30px;
  display: flex;
  height: 60px;
  justify-content: flex-end;
  min-width: 187px;
  padding: 14px 22.2px;
}

.contact-2 .send-message {
  color: var(--white);
  cursor: pointer;
  font-family: var(--font-family-oswald);
  font-size: var(--font-size-m);
  font-weight: 500;
  letter-spacing: 0;
  min-height: 27px;
  width: 133px;
}

.contact-2 .footer {
  align-items: flex-start;
  background-color: var(--desert-storm);
  display: flex;
  flex-direction: column;
  margin-left: -4px;
  min-height: 406px;
  width: 1920px;
}

.contact-2 .upper {
  align-items: center;
  display: flex;
  height: 68px;
  padding: 0 352.7px;
  width: 1949px;
}

.contact-2 .line-1 {
  height: 2px;
  width: 1219px;
}

.contact-2 .contents {
  align-items: flex-start;
  background-color: var(--desert-storm);
  display: flex;
  height: 271px;
  min-width: 1949px;
  padding: 67.7px 62.3px;
}

.contact-2 .x1 {
  align-items: flex-start;
  display: flex;
  height: 135px;
  min-width: 406px;
  padding: 4.1px 0;
}

.contact-2 .logo {
  align-self: center;
  height: 74px;
  margin-top: 0.74px;
  object-fit: cover;
  width: 68px;
}

.contact-2 .contact-info {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  min-height: 99px;
  width: 253px;
}

.contact-2 .contact-info-1 {
  height: 36px;
  letter-spacing: 9.74px;
}

.contact-2 .text-91 {
  height: 49px;
  letter-spacing: 2.44px;
  margin-top: 14px;
}

.contact-2 .x2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 296px;
  min-height: 135px;
  padding: 1.4px 0;
  width: 420px;
}

.contact-2 .connect-with-us {
  height: 36px;
  letter-spacing: 9.74px;
  margin-left: 0.32px;
  margin-top: 3px;
  min-width: 317px;
  text-align: center;
}

.contact-2 .icons {
  align-items: flex-start;
  display: flex;
  justify-content: flex-end;
  margin-left: 0;
  margin-top: 26px;
  min-width: 420px;
}

.contact-2 .instagram-icon {
  height: 68px;
  margin-top: -0.17px;
  object-fit: cover;
  width: 68px;
}

.contact-2 .x-icon {
  height: 68px;
  margin-left: 108px;
  margin-top: -0.17px;
  object-fit: cover;
  width: 68px;
}

.contact-2 .law {
  height: 100px;
  letter-spacing: 0;
  margin-left: 298px;
  width: 300px;
}

.contact-2 .copyright {
  align-items: flex-start;
  background-color: var(--desert-storm);
  display: flex;
  min-width: 1949px;
}

.contact-2 .overlap-group-6 {
  align-items: flex-end;
  background-color: var(--telepossible-blue);
  display: flex;
  height: 68px;
  justify-content: flex-end;
  min-width: 1949px;
  padding: 23.3px 708.3px;
}

.contact-2 .text-1 {
  height: 20px;
  letter-spacing: 8.12px;
  min-width: 530px;
  text-align: center;
}
