/* screen - contact */

.contact {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 3342px;
  overflow: hidden;
  width: 1920px;
}

.contact .overlap-group7 {
  height: 1190px;
  margin-left: -168px;
  margin-top: -1px;
  position: relative;
  width: 2091px;
}

.contact .map {
  height: 586px;
  left: 168px;
  position: absolute;
  top: 604px;
  width: 1920px;
}

.contact .overlap-group6 {
  height: 619px;
  left: 0;
  position: absolute;
  top: 0;
  width: 2091px;
}

.contact .overlap-group-1 {
  height: 604px;
  left: 112px;
  position: absolute;
  top: 0;
  width: 1980px;
}

.contact .mask-group {
  background-color: var(--telepossible-white);
  height: 604px;
  left: 54px;
  position: absolute;
  top: 0;
  width: 1926px;
}

.contact .rectangle-3 {
  height: 604px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1791px;
}

.contact .effect-shape1 {
  align-items: flex-start;
  display: flex;
  height: 501px;
  justify-content: flex-end;
  left: 0;
  min-width: 2084px;
  padding: 0 41.4px;
  position: absolute;
  top: 118px;
}

.contact .overlap-group1 {
  height: 446px;
  position: relative;
  width: 282px;
}

.contact .polygon-5 {
  height: 237px;
  left: 6px;
  position: absolute;
  top: 210px;
  width: 140px;
}

.contact .polygon-9 {
  height: 237px;
  left: 0;
  position: absolute;
  top: 116px;
  width: 127px;
}

.contact .ellipse-4 {
  height: 383px;
  left: 106px;
  position: absolute;
  top: 0;
  width: 170px;
}

.contact .ellipse-6 {
  height: 160px;
  left: 212px;
  position: absolute;
  top: 39px;
  width: 71px;
}

.contact .overlap-group2 {
  align-self: flex-end;
  height: 349px;
  margin-bottom: 33.4px;
  margin-left: 1392px;
  position: relative;
  width: 273px;
}

.contact .polygon-6 {
  height: 224px;
  left: 65px;
  position: absolute;
  top: 0;
  width: 208px;
}

.contact .polygon-7 {
  height: 223px;
  left: 34px;
  position: absolute;
  top: 59px;
  width: 208px;
}

.contact .polygon-8 {
  height: 224px;
  left: 0;
  position: absolute;
  top: 125px;
  width: 208px;
}

.contact .ellipse-5 {
  height: 31px;
  left: 190px;
  position: absolute;
  top: 37px;
  width: 31px;
}

.contact .text {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 621px;
  min-height: 170px;
  position: absolute;
  top: 262px;
  width: 1017px;
}

.contact .overlap-group3 {
  height: 138px;
  margin-right: 4.0px;
  position: relative;
  width: 1013px;
}

.contact .underline {
  height: 32px;
  left: 312px;
  position: absolute;
  top: 106px;
  width: 433px;
}

.contact .place {
  color: var(--white);
  font-family: var(--font-family-noto_serif);
  font-size: 120px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: 125.5px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 1013px;
}

.contact .text-82 {
  color: var(--gravel);
  font-family: var(--font-family-zen_kaku_gothic_antique);
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1.50px;
  margin-right: 5.0px;
  margin-top: 10px;
  min-height: 22px;
  text-align: center;
  width: 350px;
}

.contact .header {
  align-items: center;
  background-color: var(--white);
  display: flex;
  height: 85px;
  left: 168px;
  min-width: 1920px;
  padding: 0 29.9px;
  position: absolute;
  top: 1px;
}

.contact .logo-img {
  cursor: pointer;
  height: 55px;
  object-fit: cover;
  width: 116px;
}

.contact .header-icons {
  align-items: center;
  cursor: pointer;
  display: flex;
  margin-left: 414px;
  min-width: 800px;
}

.contact .icon-1 {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 55px;
  min-width: 172px;
  padding: 0 40px;
}

.contact .place-1 {
  letter-spacing: 5.00px;
  min-height: 29px;
  text-align: center;
  width: 90px;
}

.contact .icon-2 {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 55px;
  margin-left: 38px;
  min-width: 172px;
  padding: 0 40px;
}

.contact .about {
  letter-spacing: 5.00px;
  min-height: 29px;
  text-align: center;
  width: 90px;
}

.contact .works {
  letter-spacing: 5.00px;
  margin-left: 63px;
  min-height: 29px;
  text-align: center;
  width: 120px;
}

.contact .place-2 {
  letter-spacing: 5.00px;
  margin-left: 75px;
  min-height: 29px;
  text-align: center;
  width: 150px;
}

.contact .list-of-help {
  align-items: flex-start;
  align-self: center;
  display: flex;
  margin-top: 116px;
  min-width: 1170px;
}

.contact .call {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 224px;
  min-width: 374px;
  transition: all 0.2s ease;
}

.contact .call:hover {
  transform: translate(0, -5px);
box-shadow: 0px 12px 5px -8px rgba(0,0,0,0.2);
}

.contact .overlap-group2-1 {
  align-items: center;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0px 14px 20px #ded7d740;
  display: flex;
  flex-direction: column;
  min-height: 224px;
  padding: 36px 0;
  width: 370px;
}

.contact .overlap-group-2 {
  height: 105px;
  margin-top: 4px;
  position: relative;
  width: 82px;
}

.contact .call-us {
  left: 0;
  letter-spacing: 0;
  line-height: 38px;
  position: absolute;
  text-align: center;
  top: 67px;
  white-space: nowrap;
}

.contact .call-svgrepo-com-2 {
  height: 49px;
  left: 3px;
  position: absolute;
  top: 21px;
  width: 49px;
}

.contact .call-svgrepo-com-1 {
  height: 67px;
  left: 14px;
  position: absolute;
  top: 0;
  width: 67px;
}

.contact .phone {
  letter-spacing: 0;
  line-height: 38px;
  margin-top: 5px;
  min-height: 38px;
  min-width: 128px;
  opacity: 0.8;
  text-align: center;
  white-space: nowrap;
}

.contact .list-of-help-item {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 224px;
  margin-left: 26px;
  min-width: 374px;
  transition: all 0.2s ease;
}

.contact .list-of-help-item:hover {
  transform: translate(0, -5px);
box-shadow: 0px 12px 5px -8px rgba(0,0,0,0.2);
}

.contact .overlap-group1-1 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0px 14px 20px #ded7d740;
  display: flex;
  flex-direction: column;
  min-height: 224px;
  padding: 36px 69px;
  width: 370px;
}

.contact .location-1 {
  align-self: center;
  height: 57px;
  margin-right: 7.0px;
  margin-top: 6px;
  width: 57px;
}

.contact .overlap-group-3 {
  height: 81px;
  margin-top: 8px;
  position: relative;
  width: 231px;
}

.contact .address {
  left: 0;
  letter-spacing: 0;
  line-height: 38px;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  top: 43px;
  white-space: nowrap;
}

.contact .address-1 {
  left: 60px;
  letter-spacing: 0;
  line-height: 38px;
  position: absolute;
  text-align: center;
  top: 0;
}

.contact .overlap-group-4 {
  align-items: center;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0px 14px 20px #ded7d740;
  display: flex;
  flex-direction: column;
  min-height: 224px;
  padding: 36px 118px;
  width: 370px;
}

.contact .group {
  height: 39px;
  margin-right: 5.42px;
  margin-top: 18px;
  width: 59px;
}

.contact .mail-us {
  letter-spacing: 0;
  line-height: 38px;
  margin-left: 1.0px;
  margin-top: 14px;
  min-height: 38px;
  min-width: 89px;
  text-align: center;
  white-space: nowrap;
}

.contact .text-81 {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 38px;
  margin-top: 5px;
  min-height: 38px;
  min-width: 133px;
  opacity: 0.8;
  text-align: center;
  white-space: nowrap;
}

.contact .get-in-touch {
  align-items: flex-start;
  background-color: var(--desert-storm);
  display: flex;
  flex-direction: column;
  margin-top: 112px;
  min-height: 714px;
  padding: 61px 400px;
  width: 1920px;
}

.contact .get-in-touch-1 {
  color: var(--cod-gray);
  font-family: var(--font-family-noto_serif);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0;
  margin-left: 10px;
  margin-top: 17px;
  min-height: 38px;
  width: 322px;
}

.contact .text-80 {
  color: var(--cod-gray);
  font-family: var(--font-family-oswald);
  font-size: var(--font-size-m);
  font-weight: 400;
  letter-spacing: 0;
  margin-left: 10px;
  margin-top: 26px;
  min-height: 38px;
  width: 742px;
}

.contact .box {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  min-height: 349px;
  width: 1110px;
}

.contact .flex-row {
  align-items: flex-start;
  display: flex;
  height: 181px;
  min-width: 1100px;
}

.contact .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 181px;
  width: 535px;
}

.contact .overlap-group1-2 {
  align-items: flex-end;
  background-color: var(--white);
  border: 1px solid var(--black);
  display: flex;
  height: 84px;
  min-width: 535px;
  padding: 28px 20px;
}

.contact .name {
  background-color: transparent;
  border: 0;
  height: 25px;
  letter-spacing: 0;
  opacity: 0.8;
  padding: 0;
  width: 178px;
}

.contact .name::placeholder {
  color: #00000099;
}

.contact .overlap-group {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  height: 84px;
  margin-top: 13px;
  min-width: 535px;
  padding: 27px 21px;
}

.contact .website {
  background-color: transparent;
  border: 0;
  height: 25px;
  letter-spacing: 0;
  opacity: 0.8;
  padding: 0;
  width: 178px;
}

.contact .website::placeholder {
  color: #00000099;
}

.contact .flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  min-height: 181px;
  width: 535px;
}

.contact .overlap-group2-2 {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  height: 84px;
  min-width: 535px;
  padding: 27px 21px;
}

.contact .email-address {
  background-color: transparent;
  border: 0;
  height: 25px;
  letter-spacing: 0;
  opacity: 0.8;
  padding: 0;
  width: 178px;
}

.contact .email-address::placeholder {
  color: #00000099;
}

.contact .subject {
  background-color: transparent;
  border: 0;
  height: 25px;
  letter-spacing: 0;
  opacity: 0.8;
  padding: 0;
  width: 178px;
}

.contact .subject::placeholder {
  color: #00000099;
}

.contact .overlap-group4 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 155px;
  margin-top: 13px;
  min-width: 1100px;
  padding: 32px 21px;
}

.contact .your-message {
  background-color: transparent;
  border: 0;
  height: 25px;
  letter-spacing: 0;
  opacity: 0.8;
  padding: 0;
  width: 178px;
}

.contact .your-message::placeholder {
  color: #00000099;
}

.contact .buttom {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-left: 10px;
  margin-top: 32px;
  min-width: 189px;
}

.contact .overlap-group5 {
  align-items: flex-end;
  background-color: var(--telepossible-blue);
  border-radius: 30px;
  display: flex;
  height: 60px;
  justify-content: flex-end;
  min-width: 187px;
  padding: 14px 22.2px;
}

.contact .send-message {
  color: var(--white);
  cursor: pointer;
  font-family: var(--font-family-oswald);
  font-size: var(--font-size-m);
  font-weight: 500;
  letter-spacing: 0;
  min-height: 27px;
  width: 133px;
}

.contact .footer {
  align-items: flex-start;
  background-color: var(--desert-storm);
  display: flex;
  flex-direction: column;
  margin-left: -4px;
  min-height: 406px;
  width: 1920px;
}

.contact .upper {
  align-items: center;
  display: flex;
  height: 68px;
  padding: 0 352.7px;
  width: 1949px;
}

.contact .line-1 {
  height: 2px;
  width: 1219px;
}

.contact .contents {
  align-items: flex-start;
  background-color: var(--desert-storm);
  display: flex;
  height: 271px;
  min-width: 1949px;
  padding: 67.7px 62.3px;
}

.contact .x1 {
  align-items: flex-start;
  display: flex;
  height: 135px;
  min-width: 406px;
  padding: 4.1px 0;
}

.contact .logo {
  align-self: center;
  height: 74px;
  margin-top: 0.74px;
  object-fit: cover;
  width: 68px;
}

.contact .contact-info {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  min-height: 99px;
  width: 253px;
}

.contact .contact-info-1 {
  height: 36px;
  letter-spacing: 9.74px;
}

.contact .text-83 {
  height: 49px;
  letter-spacing: 2.44px;
  margin-top: 14px;
}

.contact .x2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 296px;
  min-height: 135px;
  padding: 1.4px 0;
  width: 420px;
}

.contact .connect-with-us {
  height: 36px;
  letter-spacing: 9.74px;
  margin-left: 0.32px;
  margin-top: 3px;
  min-width: 317px;
  text-align: center;
}

.contact .icons {
  align-items: flex-start;
  display: flex;
  justify-content: flex-end;
  margin-left: 0;
  margin-top: 26px;
  min-width: 420px;
}

.contact .instagram-icon {
  height: 68px;
  margin-top: -0.17px;
  object-fit: cover;
  width: 68px;
}

.contact .x-icon {
  height: 68px;
  margin-left: 108px;
  margin-top: -0.17px;
  object-fit: cover;
  width: 68px;
}

.contact .law {
  height: 100px;
  letter-spacing: 0;
  margin-left: 298px;
  width: 300px;
}

.contact .copyright {
  align-items: flex-start;
  background-color: var(--desert-storm);
  display: flex;
  min-width: 1949px;
}

.contact .overlap-group-5 {
  align-items: flex-end;
  background-color: var(--telepossible-blue);
  display: flex;
  height: 68px;
  justify-content: flex-end;
  min-width: 1949px;
  padding: 23.3px 708.3px;
}

.contact .text-1 {
  height: 20px;
  letter-spacing: 8.12px;
  min-width: 530px;
  text-align: center;
}
/* screen - contact2 */

.contact2 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 2926.19px;
  overflow: hidden;
  width: 1680px;
}

.contact2 .overlap-group7-1 {
  height: 1043px;
  margin-left: -147.1px;
  margin-top: -1px;
  position: relative;
  width: 2067px;
}

.contact2 .map-1 {
  height: 515px;
  left: 147px;
  position: absolute;
  top: 528px;
  width: 1682px;
}

.contact2 .overlap-group6-1 {
  height: 542px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1831px;
}

.contact2 .overlap-group-7 {
  height: 530px;
  left: 48px;
  position: absolute;
  top: 0;
  width: 1783px;
}

.contact2 .mask-group-1 {
  background-color: var(--telepossible-white);
  height: 529px;
  left: 97px;
  position: absolute;
  top: 1px;
  width: 1686px;
}

.contact2 .rectangle-3-1 {
  height: 530px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1668px;
}

.contact2 .effect-shape {
  align-items: flex-start;
  display: flex;
  height: 439px;
  left: 0;
  min-width: 1824px;
  padding: 0 17.8px;
  position: absolute;
  top: 103px;
}

.contact2 .overlap-group2-3 {
  height: 392px;
  margin-top: -0.33px;
  position: relative;
  width: 313px;
}

.contact2 .polygon-5-1 {
  height: 208px;
  left: 11px;
  position: absolute;
  top: 184px;
  width: 241px;
}

.contact2 .polygon-9-1 {
  height: 209px;
  left: 0;
  position: absolute;
  top: 101px;
  width: 241px;
}

.contact2 .ellipse-4-1 {
  height: 336px;
  left: 157px;
  position: absolute;
  top: 0;
  width: 149px;
}

.contact2 .ellipse-6-1 {
  height: 141px;
  left: 250px;
  position: absolute;
  top: 34px;
  width: 63px;
}

.contact2 .overlap-group1-3 {
  align-self: flex-end;
  height: 305px;
  margin-bottom: 29.81px;
  margin-left: 1219px;
  position: relative;
  width: 239px;
}

.contact2 .polygon-6-1 {
  height: 196px;
  left: 56px;
  position: absolute;
  top: 0;
  width: 183px;
}

.contact2 .polygon-7-1 {
  height: 196px;
  left: 29px;
  position: absolute;
  top: 51px;
  width: 183px;
}

.contact2 .polygon-8-1 {
  height: 195px;
  left: 0;
  position: absolute;
  top: 110px;
  width: 182px;
}

.contact2 .ellipse-5-1 {
  height: 28px;
  left: 165px;
  position: absolute;
  top: 32px;
  width: 28px;
}

.contact2 .text-2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 544px;
  min-height: 149px;
  position: absolute;
  top: 230px;
  width: 891px;
}

.contact2 .overlap-group3-1 {
  height: 121px;
  margin-right: 4.0px;
  position: relative;
  width: 887px;
}

.contact2 .underline-1 {
  height: 28px;
  left: 272px;
  position: absolute;
  top: 93px;
  width: 379px;
}

.contact2 .place-3 {
  color: var(--white);
  font-family: var(--font-family-noto_serif);
  font-size: 105.1px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: 109.9px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 887px;
}

.contact2 .text-78 {
  color: var(--gravel);
  font-family: var(--font-family-zen_kaku_gothic_antique);
  font-size: 13.1px;
  font-weight: 500;
  letter-spacing: 1.31px;
  margin-right: 4.88px;
  margin-top: 9px;
  min-height: 19px;
  text-align: center;
  width: 306px;
}

.contact2 .header-1 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  height: 85px;
  left: 147px;
  min-width: 1920px;
  padding: 0 29.9px;
  position: absolute;
  top: 1px;
}

.contact2 .logo-img-1 {
  cursor: pointer;
  height: 55px;
  object-fit: cover;
  width: 116px;
}

.contact2 .header-icons-1 {
  align-items: center;
  cursor: pointer;
  display: flex;
  margin-left: 414px;
  min-width: 800px;
}

.contact2 .icon-1-1 {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 55px;
  min-width: 172px;
  padding: 0 40px;
}

.contact2 .place-4 {
  letter-spacing: 5.00px;
  min-height: 29px;
  text-align: center;
  width: 90px;
}

.contact2 .icon-2-1 {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 55px;
  margin-left: 38px;
  min-width: 172px;
  padding: 0 40px;
}

.contact2 .about-1 {
  letter-spacing: 5.00px;
  min-height: 29px;
  text-align: center;
  width: 90px;
}

.contact2 .works-1 {
  letter-spacing: 5.00px;
  margin-left: 63px;
  min-height: 29px;
  text-align: center;
  width: 120px;
}

.contact2 .place-5 {
  letter-spacing: 5.00px;
  margin-left: 75px;
  min-height: 29px;
  text-align: center;
  width: 150px;
}

.contact2 .list-of-help-1 {
  align-items: flex-end;
  align-self: center;
  display: flex;
  margin-left: 1.11px;
  margin-top: 101px;
  min-width: 1024px;
}

.contact2 .call-1 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 196px;
  margin-bottom: 0;
  min-width: 328px;
  transition: all 0.2s ease;
}

.contact2 .call-1:hover {
  transform: translate(0, -5px);
box-shadow: 0px 12px 5px -8px rgba(0,0,0,0.2);
}

.contact2 .overlap-group2-4 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 8.76px;
  box-shadow: 0px 12.26px 17.51px #ded7d740;
  display: flex;
  flex-direction: column;
  min-height: 196px;
  padding: 31.5px 105.9px;
  width: 324px;
}

.contact2 .overlap-group-8 {
  align-self: center;
  height: 93px;
  margin-right: 0;
  margin-top: 3px;
  position: relative;
  width: 72px;
}

.contact2 .call-us-1 {
  left: 0;
  letter-spacing: 0;
  line-height: 33.3px;
  position: absolute;
  text-align: center;
  top: 59px;
  white-space: nowrap;
  width: 72px;
}

.contact2 .call-svgrepo-com-2-1 {
  height: 43px;
  left: 3px;
  position: absolute;
  top: 19px;
  width: 43px;
}

.contact2 .call-svgrepo-com-1-1 {
  height: 60px;
  left: 12px;
  position: absolute;
  top: 0;
  width: 60px;
}

.contact2 .phone-1 {
  letter-spacing: 0;
  line-height: 33.3px;
  margin-top: 4px;
  min-height: 33px;
  opacity: 0.8;
  text-align: center;
  white-space: nowrap;
  width: 112px;
}

.contact2 .list-of-help-item-1 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 196px;
  margin-bottom: 0;
  margin-left: 22px;
  min-width: 328px;
  transition: all 0.2s ease;
}

.contact2 .list-of-help-item-1:hover {
  transform: translate(0, -5px);
box-shadow: 0px 12px 5px -8px rgba(0,0,0,0.2);
}

.contact2 .overlap-group1-4 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 8.76px;
  box-shadow: 0px 12.26px 17.51px #ded7d740;
  display: flex;
  flex-direction: column;
  min-height: 196px;
  padding: 31.5px 60.4px;
  width: 324px;
}

.contact2 .location-1-1 {
  align-self: center;
  height: 51px;
  margin-right: 7.24px;
  margin-top: 5px;
  width: 50px;
}

.contact2 .overlap-group-9 {
  height: 71px;
  margin-top: 6px;
  position: relative;
  width: 202px;
}

.contact2 .address-2 {
  left: 0;
  letter-spacing: 0;
  line-height: 33.3px;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  top: 38px;
  white-space: nowrap;
  width: 202px;
}

.contact2 .address-3 {
  left: 53px;
  letter-spacing: 0;
  line-height: 33.3px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 97px;
}

.contact2 .overlap-group-10 {
  align-items: center;
  background-color: var(--white);
  border-radius: 8.76px;
  box-shadow: 0px 12.26px 17.51px #ded7d740;
  display: flex;
  flex-direction: column;
  min-height: 196px;
  padding: 31.5px 103.3px;
  width: 324px;
}

.contact2 .group-1 {
  height: 36px;
  margin-right: 6.32px;
  margin-top: 15px;
  width: 52px;
}

.contact2 .mail-us-1 {
  letter-spacing: 0;
  line-height: 33.3px;
  margin-left: 0.88px;
  margin-top: 11px;
  min-height: 33px;
  text-align: center;
  white-space: nowrap;
  width: 78px;
}

.contact2 .text-77 {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 33.3px;
  margin-top: 4px;
  min-height: 33px;
  opacity: 0.8;
  text-align: center;
  white-space: nowrap;
  width: 116px;
}

.contact2 .overlap-group8 {
  height: 981px;
  margin-left: -3.5px;
  margin-top: 98px;
  position: relative;
  width: 1924px;
}

.contact2 .get-in-touch-2 {
  align-items: flex-start;
  background-color: var(--desert-storm);
  display: flex;
  flex-direction: column;
  left: 4px;
  min-height: 714px;
  padding: 68.3px 358.7px;
  position: absolute;
  top: 0;
  width: 1920px;
}

.contact2 .get-in-touch-3 {
  color: var(--cod-gray);
  font-family: var(--font-family-noto_serif);
  font-size: 31.5px;
  font-weight: 700;
  letter-spacing: 0;
  min-height: 33px;
  width: 282px;
}

.contact2 .text-76 {
  color: var(--cod-gray);
  font-family: var(--font-family-oswald);
  font-size: var(--font-size-s);
  font-weight: 400;
  letter-spacing: 0;
  margin-top: 23px;
  min-height: 33px;
  width: 649px;
}

.contact2 .box-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 0.24px;
  margin-top: 28px;
  min-height: 306px;
  width: 973px;
}

.contact2 .flex-row-1 {
  align-items: flex-start;
  display: flex;
  height: 158px;
  min-width: 963px;
}

.contact2 .flex-col-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 158px;
  width: 468px;
}

.contact2 .overlap-group1-5 {
  align-items: flex-end;
  background-color: var(--white);
  border: 0.9px solid var(--black);
  display: flex;
  height: 74px;
  min-width: 468px;
  padding: 24.5px 17.5px;
}

.contact2 .name-1 {
  background-color: transparent;
  border: 0;
  height: 22px;
  letter-spacing: 0;
  opacity: 0.8;
  padding: 0;
  width: 156px;
}

.contact2 .name-1::placeholder {
  color: #00000099;
}

.contact2 .overlap-group-6 {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  height: 74px;
  margin-top: 11px;
  min-width: 468px;
  padding: 23.6px 18.4px;
}

.contact2 .website-1 {
  background-color: transparent;
  border: 0;
  height: 22px;
  letter-spacing: 0;
  opacity: 0.8;
  padding: 0;
  width: 156px;
}

.contact2 .website-1::placeholder {
  color: #00000099;
}

.contact2 .flex-col-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 26px;
  min-height: 158px;
  width: 468px;
}

.contact2 .overlap-group3-2 {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  height: 74px;
  min-width: 468px;
  padding: 23.6px 18.4px;
}

.contact2 .email-address-1 {
  background-color: transparent;
  border: 0;
  height: 22px;
  letter-spacing: 0;
  opacity: 0.8;
  padding: 0;
  width: 156px;
}

.contact2 .email-address-1::placeholder {
  color: #00000099;
}

.contact2 .subject-1 {
  background-color: transparent;
  border: 0;
  height: 22px;
  letter-spacing: 0;
  opacity: 0.8;
  padding: 0;
  width: 156px;
}

.contact2 .subject-1::placeholder {
  color: #00000099;
}

.contact2 .overlap-group2-5 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 136px;
  margin-top: 11px;
  min-width: 963px;
  padding: 28.0px 18.4px;
}

.contact2 .your-message-1 {
  background-color: transparent;
  border: 0;
  height: 22px;
  letter-spacing: 0;
  opacity: 0.8;
  padding: 0;
  width: 156px;
}

.contact2 .your-message-1::placeholder {
  color: #00000099;
}

.contact2 .buttom-1 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-left: 0.24px;
  margin-top: 28px;
  min-width: 166px;
}

.contact2 .overlap-group5-1 {
  align-items: flex-end;
  background-color: var(--telepossible-blue);
  border-radius: 26.27px;
  display: flex;
  height: 53px;
  justify-content: flex-end;
  min-width: 164px;
  padding: 12.3px 19.4px;
}

.contact2 .send-message-1 {
  color: var(--white);
  cursor: pointer;
  font-family: var(--font-family-oswald);
  font-size: var(--font-size-s);
  font-weight: 500;
  letter-spacing: 0;
  min-height: 24px;
  width: 116px;
}

.contact2 .footer-1 {
  align-items: flex-start;
  background-color: var(--desert-storm);
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 355px;
  position: absolute;
  top: 625px;
  width: 1681px;
}

.contact2 .upper-1 {
  align-items: center;
  display: flex;
  height: 59px;
  padding: 0 308.5px;
  width: 1706px;
}

.contact2 .line-1-1 {
  height: 2px;
  width: 1068px;
}

.contact2 .contents-1 {
  align-items: flex-end;
  background-color: var(--desert-storm);
  display: flex;
  height: 237px;
  min-width: 1706px;
  padding: 59.2px 54.5px;
}

.contact2 .x1-1 {
  align-items: flex-start;
  display: flex;
  height: 118px;
  min-width: 355px;
  padding: 2.6px 0;
}

.contact2 .logo-1 {
  align-self: center;
  height: 65px;
  margin-top: 0.65px;
  object-fit: cover;
  width: 60px;
}

.contact2 .contact-info-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 21px;
  min-height: 103px;
  width: 236px;
}

.contact2 .contact-info-3 {
  height: 32px;
  letter-spacing: 8.53px;
}

.contact2 .text-79 {
  height: 49px;
  letter-spacing: 2.13px;
  margin-top: 22px;
}

.contact2 .x2-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 260px;
  min-height: 118px;
  padding: 1.2px 0;
  width: 367px;
}

.contact2 .connect-with-us-1 {
  height: 32px;
  letter-spacing: 8.53px;
  margin-right: 1.28px;
  margin-top: 1px;
  min-width: 278px;
  text-align: center;
}

.contact2 .icons-1 {
  align-items: flex-start;
  display: flex;
  height: 59px;
  margin-right: 0;
  margin-top: 24px;
  min-width: 367px;
}

.contact2 .instagram-icon-1 {
  height: 60px;
  margin-top: -0.13px;
  object-fit: cover;
  width: 60px;
}

.contact2 .twitter-icon {
  height: 60px;
  margin-left: 94px;
  margin-top: -0.13px;
  object-fit: cover;
  width: 60px;
}

.contact2 .facebook-icon {
  height: 60px;
  margin-left: 95px;
  margin-top: -0.13px;
  object-fit: cover;
  width: 60px;
}

.contact2 .law-1 {
  align-self: flex-start;
  height: 100px;
  letter-spacing: 0;
  margin-left: 261px;
  margin-top: 0;
  width: 300px;
}

.contact2 .copyright-1 {
  align-items: flex-start;
  background-color: var(--desert-storm);
  display: flex;
  min-width: 1706px;
}

.contact2 .overlap-group-11 {
  align-items: flex-start;
  background-color: var(--telepossible-blue);
  display: flex;
  height: 59px;
  justify-content: flex-end;
  min-width: 1706px;
  padding: 20.3px 620.2px;
}

.contact2 .text-3 {
  height: 18px;
  letter-spacing: 7.11px;
  min-width: 464px;
  text-align: center;
}
/* screen - contact3 */

.contact3 {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 2510.03px;
  overflow: hidden;
  width: 1440px;
}

.contact3 .overlap-group7-2 {
  height: 895px;
  margin-right: -480.0px;
  margin-top: -1px;
  position: relative;
  width: 2046px;
}

.contact3 .map-2 {
  height: 442px;
  left: 127px;
  position: absolute;
  top: 453px;
  width: 1440px;
}

.contact3 .overlap-group6-2 {
  height: 465px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1570px;
}

.contact3 .overlap-group-12 {
  height: 454px;
  left: 83px;
  position: absolute;
  top: 0;
  width: 1487px;
}

.contact3 .mask-group-2 {
  background-color: var(--telepossible-white);
  height: 454px;
  left: 41px;
  position: absolute;
  top: 1px;
  width: 1447px;
}

.contact3 .rectangle-3-2 {
  height: 454px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1346px;
}

.contact3 .effect-shape2 {
  align-items: flex-start;
  display: flex;
  height: 376px;
  justify-content: flex-end;
  left: 0;
  min-width: 1565px;
  padding: 0 31.2px;
  position: absolute;
  top: 88px;
}

.contact3 .overlap-group1-6 {
  height: 337px;
  margin-top: -0.67px;
  position: relative;
  width: 213px;
}

.contact3 .polygon-5-2 {
  height: 179px;
  left: 5px;
  position: absolute;
  top: 158px;
  width: 106px;
}

.contact3 .polygon-9-2 {
  height: 179px;
  left: 0;
  position: absolute;
  top: 87px;
  width: 96px;
}

.contact3 .ellipse-4-2 {
  height: 289px;
  left: 79px;
  position: absolute;
  top: 0;
  width: 128px;
}

.contact3 .ellipse-6-2 {
  height: 121px;
  left: 159px;
  position: absolute;
  top: 30px;
  width: 54px;
}

.contact3 .overlap-group2-6 {
  align-self: flex-end;
  height: 261px;
  margin-bottom: 25.7px;
  margin-left: 1045px;
  position: relative;
  width: 205px;
}

.contact3 .polygon-6-2 {
  height: 168px;
  left: 49px;
  position: absolute;
  top: 0;
  width: 156px;
}

.contact3 .polygon-7-2 {
  height: 168px;
  left: 25px;
  position: absolute;
  top: 44px;
  width: 157px;
}

.contact3 .polygon-8-2 {
  height: 167px;
  left: 0;
  position: absolute;
  top: 94px;
  width: 157px;
}

.contact3 .ellipse-5-2 {
  height: 24px;
  left: 142px;
  position: absolute;
  top: 28px;
  width: 24px;
}

.contact3 .text-4 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 466px;
  min-height: 128px;
  position: absolute;
  top: 197px;
  width: 765px;
}

.contact3 .overlap-group3-3 {
  height: 104px;
  margin-right: 4.0px;
  position: relative;
  width: 761px;
}

.contact3 .underline-2 {
  height: 25px;
  left: 233px;
  position: absolute;
  top: 79px;
  width: 326px;
}

.contact3 .place-6 {
  color: var(--white);
  font-family: var(--font-family-noto_serif);
  font-size: 90.1px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: 94.3px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 761px;
}

.contact3 .text-86 {
  color: var(--gravel);
  font-family: var(--font-family-zen_kaku_gothic_antique);
  font-size: 11.3px;
  font-weight: 500;
  letter-spacing: 1.13px;
  margin-right: 4.75px;
  margin-top: 7px;
  min-height: 17px;
  text-align: center;
  width: 263px;
}

.contact3 .header-2 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  height: 85px;
  left: 126px;
  min-width: 1920px;
  padding: 0 29.9px;
  position: absolute;
  top: 1px;
}

.contact3 .logo-img-2 {
  cursor: pointer;
  height: 55px;
  object-fit: cover;
  width: 116px;
}

.contact3 .header-icons-2 {
  align-items: center;
  display: flex;
  margin-left: 414px;
  min-width: 800px;
}

.contact3 .icon-1-2 {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 55px;
  min-width: 172px;
  padding: 0 40px;
}

.contact3 .place-7 {
  letter-spacing: 5.00px;
  min-height: 29px;
  text-align: center;
  width: 90px;
}

.contact3 .icon-2-2 {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 55px;
  margin-left: 38px;
  min-width: 172px;
  padding: 0 40px;
}

.contact3 .about-2 {
  letter-spacing: 5.00px;
  min-height: 29px;
  text-align: center;
  width: 90px;
}

.contact3 .works-2 {
  letter-spacing: 5.00px;
  margin-left: 63px;
  min-height: 29px;
  text-align: center;
  width: 120px;
}

.contact3 .icon-4 {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 55px;
  margin-left: 65px;
  min-width: 172px;
  padding: 0 10px;
}

.contact3 .place-8 {
  letter-spacing: 5.00px;
  min-height: 29px;
  text-align: center;
  width: 150px;
}

.contact3 .list-of-help-2 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  margin-left: 2.03px;
  margin-top: 86px;
  min-width: 879px;
}

.contact3 .call-2 {
  align-items: flex-start;
  align-self: flex-end;
  cursor: pointer;
  display: flex;
  height: 168px;
  margin-bottom: 0;
  min-width: 282px;
  transition: all 0.2s ease;
}

.contact3 .call-2:hover {
  transform: translate(0, -5px);
box-shadow: 0px 12px 5px -8px rgba(0,0,0,0.2);
}

.contact3 .overlap-group2-7 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 7.51px;
  box-shadow: 0px 10.51px 15.02px #ded7d740;
  display: flex;
  flex-direction: column;
  min-height: 168px;
  padding: 27.0px 90.9px;
  width: 278px;
}

.contact3 .overlap-group-13 {
  align-self: center;
  height: 79px;
  margin-left: 0;
  margin-top: 3px;
  position: relative;
  width: 62px;
}

.contact3 .call-us-2 {
  left: 0;
  letter-spacing: 0;
  line-height: 28.5px;
  position: absolute;
  text-align: center;
  top: 51px;
  white-space: nowrap;
  width: 62px;
}

.contact3 .call-svgrepo-com-2-2 {
  height: 38px;
  left: 2px;
  position: absolute;
  top: 16px;
  width: 37px;
}

.contact3 .call-svgrepo-com-1-2 {
  height: 51px;
  left: 10px;
  position: absolute;
  top: 0;
  width: 51px;
}

.contact3 .phone-2 {
  letter-spacing: 0;
  line-height: 28.5px;
  margin-top: 4px;
  min-height: 29px;
  opacity: 0.8;
  text-align: center;
  white-space: nowrap;
  width: 96px;
}

.contact3 .list-of-help-item-2 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 168px;
  margin-left: 19px;
  margin-top: 0;
  min-width: 282px;
  transition: all 0.2s ease;
}

.contact3 .list-of-help-item-2:hover {
  transform: translate(0, -5px);
box-shadow: 0px 12px 5px -8px rgba(0,0,0,0.2);
}

.contact3 .overlap-group1-7 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 7.51px;
  box-shadow: 0px 10.51px 15.02px #ded7d740;
  display: flex;
  flex-direction: column;
  min-height: 168px;
  padding: 27.0px 51.8px;
  width: 278px;
}

.contact3 .location-1-2 {
  align-self: center;
  height: 44px;
  margin-right: 7.27px;
  margin-top: 4px;
  width: 43px;
}

.contact3 .overlap-group-14 {
  height: 61px;
  margin-top: 5px;
  position: relative;
  width: 173px;
}

.contact3 .address-4 {
  left: 0;
  letter-spacing: 0;
  line-height: 28.5px;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  top: 32px;
  white-space: nowrap;
  width: 173px;
}

.contact3 .address-5 {
  left: 45px;
  letter-spacing: 0;
  line-height: 28.5px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 83px;
}

.contact3 .overlap-group-15 {
  align-items: center;
  background-color: var(--white);
  border-radius: 7.51px;
  box-shadow: 0px 10.51px 15.02px #ded7d740;
  display: flex;
  flex-direction: column;
  min-height: 168px;
  padding: 27.0px 88.6px;
  width: 278px;
}

.contact3 .group-2 {
  height: 30px;
  margin-right: 6.93px;
  margin-top: 13px;
  width: 44px;
}

.contact3 .mail-us-2 {
  letter-spacing: 0;
  line-height: 28.5px;
  margin-left: 0.75px;
  margin-top: 10px;
  min-height: 29px;
  text-align: center;
  white-space: nowrap;
  width: 67px;
}

.contact3 .text-85 {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 28.5px;
  margin-top: 4px;
  min-height: 29px;
  opacity: 0.8;
  text-align: center;
  white-space: nowrap;
  width: 100px;
}

.contact3 .overlap-group8-1 {
  height: 841px;
  margin-right: -480.0px;
  margin-top: 84px;
  position: relative;
  width: 1923px;
}

.contact3 .get-in-touch-4 {
  align-items: flex-start;
  background-color: var(--desert-storm);
  display: flex;
  flex-direction: column;
  left: 3px;
  min-height: 714px;
  padding: 58.6px 307.5px;
  position: absolute;
  top: 0;
  width: 1920px;
}

.contact3 .get-in-touch-5 {
  color: var(--cod-gray);
  font-family: var(--font-family-noto_serif);
  font-size: 27px;
  font-weight: 700;
  letter-spacing: 0;
  min-height: 29px;
  width: 241px;
}

.contact3 .text-84 {
  color: var(--cod-gray);
  font-family: var(--font-family-oswald);
  font-size: var(--font-size-xs);
  font-weight: 400;
  letter-spacing: 0;
  margin-top: 20px;
  min-height: 29px;
  width: 556px;
}

.contact3 .box-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 0.43px;
  margin-top: 24px;
  min-height: 262px;
  width: 836px;
}

.contact3 .flex-row-2 {
  align-items: flex-end;
  display: flex;
  height: 136px;
  min-width: 826px;
}

.contact3 .flex-col-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 136px;
  width: 402px;
}

.contact3 .overlap-group2-8 {
  align-items: flex-end;
  background-color: var(--white);
  border: 0.8px solid var(--black);
  display: flex;
  height: 63px;
  min-width: 402px;
  padding: 21.1px 15.0px;
}

.contact3 .name-2 {
  background-color: transparent;
  border: 0;
  height: 19px;
  letter-spacing: 0;
  margin-bottom: 0;
  opacity: 0.8;
  padding: 0;
  width: 134px;
}

.contact3 .name-2::placeholder {
  color: #00000099;
}

.contact3 .overlap-group-16 {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  height: 63px;
  margin-left: 0;
  margin-top: 10px;
  min-width: 402px;
  padding: 20.3px 15.8px;
}

.contact3 .website-2 {
  background-color: transparent;
  border: 0;
  height: 19px;
  letter-spacing: 0;
  opacity: 0.8;
  padding: 0;
  width: 134px;
}

.contact3 .website-2::placeholder {
  color: #00000099;
}

.contact3 .flex-col-5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 23px;
  min-height: 136px;
  width: 402px;
}

.contact3 .overlap-group1-8 {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  height: 63px;
  min-width: 402px;
  padding: 20.3px 15.8px;
}

.contact3 .email-address-2 {
  background-color: transparent;
  border: 0;
  height: 19px;
  letter-spacing: 0;
  opacity: 0.8;
  padding: 0;
  width: 134px;
}

.contact3 .email-address-2::placeholder {
  color: #00000099;
}

.contact3 .overlap-group4-1 {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  height: 63px;
  margin-top: 10px;
  min-width: 402px;
  padding: 20.3px 15.8px;
}

.contact3 .subject-2 {
  background-color: transparent;
  border: 0;
  height: 19px;
  letter-spacing: 0;
  opacity: 0.8;
  padding: 0;
  width: 134px;
}

.contact3 .subject-2::placeholder {
  color: #00000099;
}

.contact3 .overlap-group3-4 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 116px;
  margin-left: 0;
  margin-top: 10px;
  min-width: 826px;
  padding: 24.0px 15.8px;
}

.contact3 .your-message-2 {
  background-color: transparent;
  border: 0;
  height: 19px;
  letter-spacing: 0;
  opacity: 0.8;
  padding: 0;
  width: 134px;
}

.contact3 .your-message-2::placeholder {
  color: #00000099;
}

.contact3 .buttom-2 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-left: 0.43px;
  margin-top: 24px;
  min-width: 142px;
}

.contact3 .overlap-group5-2 {
  align-items: flex-end;
  background-color: var(--telepossible-blue);
  border-radius: 22.53px;
  display: flex;
  height: 45px;
  justify-content: flex-end;
  min-width: 140px;
  padding: 10.5px 16.7px;
}

.contact3 .send-message-2 {
  color: var(--white);
  cursor: pointer;
  font-family: var(--font-family-oswald);
  font-size: var(--font-size-xs);
  font-weight: 500;
  letter-spacing: 0;
  min-height: 20px;
  width: 100px;
}

.contact3 .footer-2 {
  align-items: flex-start;
  background-color: var(--desert-storm);
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 305px;
  position: absolute;
  top: 536px;
  width: 1442px;
}

.contact3 .upper-2 {
  align-items: center;
  display: flex;
  height: 51px;
  padding: 0 264.7px;
  width: 1464px;
}

.contact3 .line-1-2 {
  height: 2px;
  width: 916px;
}

.contact3 .contents-2 {
  align-items: center;
  background-color: var(--desert-storm);
  display: flex;
  height: 203px;
  min-width: 1464px;
  padding: 43.4px 46.8px;
}

.contact3 .x1-2 {
  align-items: center;
  align-self: flex-end;
  display: flex;
  height: 109px;
  min-width: 305px;
  padding: 0.0px 0;
}

.contact3 .logo-2 {
  height: 56px;
  margin-bottom: 6.85px;
  object-fit: cover;
  width: 52px;
}

.contact3 .contact-info-4 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-left: 18px;
  min-height: 106px;
  width: 236px;
}

.contact3 .contact-info-5 {
  height: 27px;
  letter-spacing: 7.32px;
}

.contact3 .text-87 {
  height: 49px;
  letter-spacing: 1.83px;
  margin-top: 30px;
}

.contact3 .x2-2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 223px;
  min-height: 102px;
  padding: 1.0px 0;
  width: 315px;
}

.contact3 .connect-with-us-2 {
  height: 27px;
  letter-spacing: 7.32px;
  margin-right: 1.84px;
  margin-top: 2px;
  min-width: 238px;
  text-align: center;
}

.contact3 .icons-2 {
  align-items: flex-start;
  display: flex;
  height: 51px;
  margin-top: 20px;
  min-width: 315px;
}

.contact3 .instagram-icon-2 {
  height: 52px;
  margin-top: -0.34px;
  object-fit: cover;
  width: 52px;
}

.contact3 .twitter-icon-1 {
  height: 52px;
  margin-left: 81px;
  margin-top: -0.34px;
  object-fit: cover;
  width: 52px;
}

.contact3 .facebook-icon-1 {
  height: 52px;
  margin-left: 81px;
  margin-top: -0.34px;
  object-fit: cover;
  width: 51px;
}

.contact3 .law-2 {
  height: 100px;
  letter-spacing: 0;
  margin-bottom: 1.64px;
  margin-left: 224px;
  width: 300px;
}

.contact3 .copyright-2 {
  align-items: flex-start;
  background-color: var(--desert-storm);
  display: flex;
  min-width: 1464px;
}

.contact3 .overlap-group-17 {
  align-items: flex-end;
  background-color: var(--telepossible-blue);
  display: flex;
  height: 51px;
  justify-content: flex-end;
  min-width: 1464px;
  padding: 17.5px 532.0px;
}

.contact3 .text-5 {
  height: 15px;
  letter-spacing: 6.10px;
  min-width: 398px;
  text-align: center;
}
@media screen and (max-width: 1679px) {
  .screen.contact2 { 
    display: none;
   }
  .screen.contact { 
    display: none;
   }
}
@media screen and (min-width: 1680px) and (max-width: 1919px) {
  .screen.contact { 
    display: none;
   }
  .screen.contact3 { 
    display: none;
   }
}
@media screen and (min-width: 1920px) {
  .screen.contact2 { 
    display: none;
   }
  .screen.contact3 { 
    display: none;
   }
}