/* screen - home */

.home {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 1174px;
  width: 1440px;
}

.home .overlap-group2 {
  align-items: flex-start;
  background-color: var(--desert-storm);
  display: flex;
  flex-direction: column;
  min-height: 1024px;
  width: 1440px;
}

.home .nav-bar {
  align-items: center;
  background-color: var(--desert-storm);
  display: flex;
  height: 70px;
  justify-content: flex-end;
  min-width: 1440px;
  padding: 0 21px;
}

.home .logoimg {
  cursor: pointer;
  height: 50px;
  object-fit: cover;
  width: 106px;
}

.home .navigation-icons {
  align-items: flex-start;
  display: flex;
  margin-bottom: 2.0px;
  margin-left: 511px;
  min-width: 691px;
}

.home .place {
  height: 22px;
  letter-spacing: 2.25px;
  text-align: center;
  width: 44px;
}

.home .group-2 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-left: 111px;
  min-width: 55px;
  transition: all 0.2s ease;
}

.home .group-2:hover {
  transform: scale(1.1);
}

.home .about {
  height: 22px;
  letter-spacing: 2.25px;
  text-align: center;
  width: 53px;
}

.home .group-3 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-left: 103px;
  min-width: 59px;
  transition: all 0.2s ease;
}

.home .group-3:hover {
  transform: scale(1.1);
}

.home .works {
  height: 22px;
  letter-spacing: 2.25px;
  text-align: center;
  width: 57px;
}

.home .group-4 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-left: 87px;
  min-width: 87px;
  transition: all 0.2s ease;
}

.home .group-4:hover {
  transform: scale(1.1);
}

.home .contacts {
  height: 22px;
  letter-spacing: 2.25px;
  text-align: center;
  width: 85px;
}

.home .group-5 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-left: 86px;
  min-width: 61px;
  transition: all 0.2s ease;
}

.home .group-5:hover {
  transform: scale(1.1);
}

.home .donate {
  color: var(--black);
  font-family: var(--font-family-oswald);
  font-size: var(--font-size-xxs);
  font-weight: 700;
  height: 22px;
  letter-spacing: 2.25px;
  min-width: 59px;
  text-align: center;
}

.home .overlap-group {
  height: 15px;
  margin-bottom: 1.0px;
  margin-left: 62px;
  position: relative;
  width: 25px;
}

.home .ellipse-2 {
  border: 1px solid var(--black);
  border-radius: 7.5px;
  height: 15px;
  left: 10px;
  position: absolute;
  top: 0;
  width: 15px;
}

.home .ellipse-3 {
  height: 15px;
  left: 0;
  position: absolute;
  top: 0;
  width: 15px;
}

.home .video {
  align-items: flex-start;
  background-image: url(../img/video-img@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 954px;
  min-width: 1440px;
}

.home .overlap-group1 {
  align-items: flex-end;
  background-color: #00000080;
  display: flex;
  flex-direction: column;
  min-height: 954px;
  padding: 138.5px 50px;
  width: 1440px;
}

.home .potential {
  height: 113px;
  margin-right: 6px;
  width: 549px;
}

.home .overlap-group-1 {
  align-self: flex-start;
  height: 394px;
  margin-top: 28px;
  position: relative;
  width: 1339px;
}

.home .people {
  height: 113px;
  left: 954px;
  position: absolute;
  top: 282px;
  width: 380px;
}

.home .text-2 {
  color: transparent;
  font-family: var(--font-family-oswald);
  font-size: var(--font-size-xl);
  font-weight: 500;
  height: 200px;
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: right;
  top: 97px;
}

.home .span0 {
  color: var(--white);
}

.home .span1 {
  color: var(--blue-gray);
}

.home .prudent {
  height: 112px;
  left: 856px;
  position: absolute;
  top: 0;
  width: 479px;
}

.home .please {
  height: 113px;
  margin-right: 5px;
  margin-top: 28px;
  width: 369px;
}

.home .footer-1 {
  align-items: flex-start;
  background-color: var(--desert-storm);
  display: flex;
  flex-direction: column;
  min-height: 300px;
  width: 1440px;
}

.home .upper {
  align-items: center;
  display: flex;
  height: 50px;
  padding: 0 261px;
  width: 1440px;
}

.home .line-1 {
  height: 1px;
  width: 900px;
}

.home .contents {
  align-items: center;
  background-color: var(--desert-storm);
  display: flex;
  height: 200px;
  justify-content: flex-end;
  min-width: 1440px;
  padding: 0 45px;
}

.home .x1 {
  align-items: center;
  display: flex;
  height: 100px;
  min-width: 300px;
}

.home .logo {
  height: 55px;
  margin-top: 0.55px;
  object-fit: cover;
  width: 50px;
}

.home .contact-info {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 18px;
  min-height: 94px;
  width: 236px;
}

.home .contact-info-1 {
  height: 27px;
  letter-spacing: 7.20px;
}

.home .text-1 {
  color: var(--black);
  font-family: var(--font-family-alternate_gothic_atf-semilight);
  font-size: var(--font-size-xs);
  font-weight: 300;
  height: 49px;
  letter-spacing: 1.80px;
  margin-top: 18px;
}

.home .x2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 219px;
  min-height: 100px;
  padding: 1px 0;
  width: 310px;
}

.home .connect-with-us {
  height: 27px;
  letter-spacing: 7.20px;
  margin-top: 2px;
  min-width: 234px;
  text-align: center;
}

.home .icons {
  align-items: flex-start;
  display: flex;
  margin-top: 19px;
  min-width: 310px;
}

.home .instagram-icon {
  height: 50px;
  object-fit: cover;
  width: 50px;
}

.home .x-icon {
  height: 50px;
  margin-left: 80px;
  object-fit: cover;
  width: 50px;
}

.home .law {
  color: #808080;
  font-family: var(--font-family-alternate_gothic_atf-semilight);
  font-size: var(--font-size-xs);
  font-weight: 300;
  height: 100px;
  letter-spacing: 0;
  margin-left: 220px;
  width: 300px;
}

.home .copyright {
  align-items: flex-start;
  background-color: var(--desert-storm);
  display: flex;
  min-width: 1440px;
}

.home .overlap-group-2 {
  align-items: flex-end;
  background-color: var(--blue-gray);
  display: flex;
  height: 50px;
  justify-content: flex-end;
  min-width: 1440px;
  padding: 17px 523px;
}

.home .text {
  color: var(--white);
  font-family: var(--font-family-oswald);
  font-size: var(--font-size-xxxs);
  font-weight: 300;
  height: 15px;
  letter-spacing: 6.00px;
  min-width: 392px;
  text-align: center;
}
