/* screen - home-desktop */

.home-desktop {
  align-items: flex-start;
  background-color: var(--white);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 9476px;
  overflow: hidden;
  width: 1920px;
}

.home-desktop .x1-banner {
  align-items: flex-start;
  display: flex;
  margin-left: -293px;
  margin-top: -103px;
  min-width: 2643px;
  z-index: 7;
}

.home-desktop .overlap-group7 {
  height: 1265px;
  position: relative;
  width: 2643px;
}

.home-desktop .bg-image {
  height: 1008px;
  left: 293px;
  position: absolute;
  top: 188px;
  width: 1920px;
}

.home-desktop .effect-shape {
  height: 1265px;
  left: 0;
  position: absolute;
  top: 0;
  width: 2643px;
}

.home-desktop .donation-button {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 120px;
  left: 625px;
  min-width: 228px;
  position: absolute;
  top: 765px;
}

.home-desktop .overlap-group {
  height: 120px;
  position: relative;
  width: 226px;
}

.home-desktop .rectangle-702 {
  background-color: var(--telepossible-blue);
  border-radius: 35px;
  height: 68px;
  left: 0;
  position: absolute;
  top: 26px;
  width: 226px;
}

.home-desktop .join-now {
  color: var(--white);
  font-family: var(--font-family-oswald);
  font-size: var(--font-size-xxxl);
  font-weight: 700;
  left: 69px;
  letter-spacing: 0;
  line-height: 120px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.home-desktop .text {
  color: var(--white);
  font-family: var(--font-family-noto_serif);
  font-size: 80px;
  font-weight: 700;
  height: 218px;
  left: 625px;
  letter-spacing: 0;
  position: absolute;
  top: 499px;
  width: 1500px;
}

.home-desktop .header {
  align-items: center;
  background-color: var(--white);
  display: flex;
  height: 85px;
  left: 0;
  min-width: 1920px;
  padding: 0 29.9px;
  position: fixed;
  top: 0;
  z-index: 8;
}

.home-desktop .logo-img {
  height: 55px;
  object-fit: cover;
  width: 116px;
}

.home-desktop .header-icons {
  align-items: center;
  display: flex;
  height: 55px;
  justify-content: flex-end;
  margin-left: 414px;
  min-width: 800px;
  padding: 0 10px;
}

.home-desktop .place {
  letter-spacing: 5.00px;
  min-height: 29px;
  text-align: center;
  width: 90px;
}

.home-desktop .about {
  letter-spacing: 5.00px;
  margin-left: 120px;
  min-height: 29px;
  text-align: center;
  width: 90px;
}

.home-desktop .works {
  letter-spacing: 5.00px;
  margin-left: 105px;
  min-height: 29px;
  text-align: center;
  width: 120px;
}

.home-desktop .place-1 {
  letter-spacing: 5.00px;
  margin-left: 75px;
  min-height: 29px;
  text-align: center;
  width: 150px;
}

.home-desktop .x2-about {
  align-items: flex-end;
  align-self: flex-end;
  display: flex;
  height: 928px;
  margin-right: -549.0px;
  margin-top: 70px;
  min-width: 2389px;
  z-index: 6;
}

.home-desktop .overlap-group6 {
  height: 905px;
  margin-bottom: 0;
  position: relative;
  width: 2389px;
}

.home-desktop .bg-effects {
  align-items: flex-start;
  display: flex;
  height: 850px;
  left: 0;
  min-width: 2389px;
  position: absolute;
  top: 55px;
}

.home-desktop .vector-smart-object-copy-4 {
  align-self: flex-end;
  height: 259px;
  margin-bottom: -0.03px;
  width: 191px;
}

.home-desktop .overlap-group-1 {
  height: 673px;
  margin-left: 1448px;
  position: relative;
  width: 750px;
}

.home-desktop .ellipse-6 {
  background-color: #e1e1e1;
  border-radius: 336.5px;
  height: 673px;
  left: 77px;
  opacity: 0.4;
  position: absolute;
  top: 0;
  width: 673px;
}

.home-desktop .vector-smart-object-copy {
  height: 197px;
  left: 0;
  position: absolute;
  top: 155px;
  width: 196px;
}

.home-desktop .overlap-group1 {
  background-image: url(../img/ellipse-5-2@1x.svg);
  background-size: 100% 100%;
  height: 800px;
  left: 61px;
  position: absolute;
  top: 0;
  width: 811px;
}

.home-desktop .image-1 {
  height: 652px;
  left: 64px;
  position: absolute;
  top: 66px;
  width: 496px;
}

.home-desktop .ellipse-714 {
  height: 223px;
  left: 368px;
  position: absolute;
  top: 41px;
  width: 278px;
}

.home-desktop .text-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 865px;
  min-height: 647px;
  position: absolute;
  top: 76px;
  width: 706px;
}

.home-desktop .we-are-here-to {
  letter-spacing: 0;
  min-height: 75px;
}

.home-desktop .text-117 {
  color: transparent;
  font-family: var(--font-family-zen_kaku_gothic_new);
  font-size: var(--font-size-xxxl);
  font-weight: 700;
  height: 144px;
  letter-spacing: 2.00px;
  margin-top: 60px;
  opacity: 0.8;
  width: 700px;
}

.home-desktop .span-1 {
  letter-spacing: 0.50px;
}

.home-desktop .text-116 {
  color: transparent;
  font-family: var(--font-family-zen_kaku_gothic_new);
  font-size: var(--font-size-xxxl);
  font-weight: 500;
  height: 216px;
  letter-spacing: 2.00px;
  margin-top: 23px;
  opacity: 0.8;
  width: 700px;
}

.home-desktop .overlap-group-2 {
  align-items: flex-start;
  border-radius: 35px;
  display: flex;
  height: 64px;
  margin-top: 65px;
  min-width: 250px;
  padding: 15px 50px;
}

.home-desktop .learn-more {
  color: var(--licorice-2);
  font-family: var(--font-family-heebo);
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 5.00px;
  min-height: 29px;
  min-width: 147px;
  text-align: center;
}

.home-desktop .x3-three-obligations {
  align-items: flex-start;
  display: flex;
  height: 1041px;
  justify-content: center;
  margin-left: -398px;
  margin-top: 30px;
  min-width: 2715px;
  z-index: 5;
}

.home-desktop .overlap-group5 {
  background-image: url(../img/bg-8@1x.svg);
  background-size: 100% 100%;
  height: 1042px;
  margin-top: -0.33px;
  position: relative;
  width: 2716px;
}

.home-desktop .bg-effect {
  height: 737px;
  left: 547px;
  position: absolute;
  top: 207px;
  width: 1626px;
}

.home-desktop .blocks {
  align-items: flex-start;
  display: flex;
  height: 420px;
  left: 646px;
  min-width: 1422px;
  position: absolute;
  top: 406px;
}

.home-desktop .block-1 {
  align-items: center;
  background-image: url(../img/bg-9@2x.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  min-height: 420px;
  padding: 56px 29.5px;
  width: 370px;
}

.home-desktop .image {
  align-items: flex-start;
  background-image: url(../img/ellipse-648@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 81px;
  justify-content: flex-end;
  margin-right: 1.0px;
  min-width: 81px;
  padding: 5px;
}

.home-desktop .social-icon {
  height: 70px;
  object-fit: cover;
  width: 70px;
}

.home-desktop .title {
  letter-spacing: 2.30px;
  margin-top: 38px;
  min-height: 30px;
  text-align: center;
  width: 250px;
}

.home-desktop .text-2 {
  align-self: flex-start;
  height: 74px;
  margin-top: 46px;
  width: 310px;
}

.home-desktop .block-3 {
  align-items: center;
  background-image: url(../img/bg-9@2x.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  margin-left: 156px;
  min-height: 420px;
  padding: 46px 24px;
  width: 370px;
}

.home-desktop .image-2 {
  align-items: flex-start;
  background-image: url(../img/ellipse-648@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 81px;
  justify-content: flex-end;
  margin-left: 1.0px;
  min-width: 81px;
  padding: 5px;
}

.home-desktop .global {
  height: 70px;
  object-fit: cover;
  width: 70px;
}

.home-desktop .title-1 {
  letter-spacing: 2.30px;
  margin-left: 2.0px;
  margin-top: 38px;
  min-height: 60px;
  text-align: center;
  width: 250px;
}

.home-desktop .text-3 {
  align-self: flex-end;
  height: 74px;
  margin-top: 36px;
  width: 321px;
}

.home-desktop .block-2 {
  align-items: center;
  background-image: url(../img/bg-9@2x.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  margin-left: 156px;
  min-height: 420px;
  padding: 56px 24px;
  width: 370px;
}

.home-desktop .moral-icon {
  height: 70px;
  object-fit: cover;
  width: 70px;
}

.home-desktop .text-4 {
  align-self: flex-start;
  height: 47px;
  margin-top: 44px;
  width: 321px;
}

.home-desktop .title-2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 907px;
  min-height: 121px;
  position: absolute;
  top: 161px;
  width: 905px;
}

.home-desktop .obligations {
  height: 30px;
  letter-spacing: 9.00px;
  margin-right: 5.0px;
  text-align: center;
  width: 250px;
}

.home-desktop .text-115 {
  letter-spacing: 0;
  margin-right: 4.0px;
  margin-top: 16px;
  min-height: 75px;
  min-width: 901px;
  text-align: center;
}

.home-desktop .x4-center-info {
  align-items: flex-start;
  align-self: center;
  display: flex;
  height: 1134px;
  margin-left: 26.97px;
  margin-top: 129px;
  min-width: 1593px;
  z-index: 4;
}

.home-desktop .text-5 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 76.53px;
  min-height: 617px;
  width: 526px;
}

.home-desktop .actions {
  height: 21px;
  letter-spacing: 9.00px;
  width: 300px;
}

.home-desktop .title-3 {
  height: 150px;
  letter-spacing: 0;
  margin-top: 25px;
}

.home-desktop .text-6 {
  height: 396px;
  letter-spacing: 2.00px;
  margin-top: 25px;
  opacity: 0.8;
  width: 450px;
}

.home-desktop .overlap-group4 {
  height: 1135px;
  margin-left: 60px;
  margin-top: -0.33px;
  position: relative;
  width: 1007px;
}

.home-desktop .bg-effect-1 {
  height: 1135px;
  left: 0;
  position: absolute;
  top: 0;
  width: 959px;
}

.home-desktop .overlap-group-3 {
  height: 657px;
  left: 167px;
  position: absolute;
  top: 204px;
  width: 840px;
}

.home-desktop .image-3 {
  height: 495px;
  left: 0;
  position: absolute;
  top: 0;
  width: 561px;
}

.home-desktop .image-4 {
  height: 504px;
  left: 269px;
  position: absolute;
  top: 153px;
  width: 571px;
}

.home-desktop .quote {
  height: 215px;
  left: 274px;
  position: absolute;
  top: 729px;
  width: 321px;
}

.home-desktop .x5-funding-goals {
  align-items: flex-end;
  background-image: url(../img/bg-7@1x.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  margin-left: 0;
  margin-top: 129px;
  min-height: 1257px;
  padding: 83.0px 273.0px;
  width: 1921px;
  z-index: 3;
}

.home-desktop .title-4 {
  align-items: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-left: 49.0px;
  min-height: 194px;
  padding: 0 0.0px;
  width: 570px;
}

.home-desktop .donation-goals {
  color: var(--flamingo);
  font-family: var(--font-family-oswald);
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 9.00px;
  margin-right: 4.0px;
  min-height: 30px;
  min-width: 246px;
  text-align: center;
}

.home-desktop .text-114 {
  letter-spacing: 0;
  margin-right: 4.0px;
  margin-top: 14px;
  min-height: 150px;
  min-width: 566px;
  text-align: center;
}

.home-desktop .blocks-1 {
  align-items: flex-start;
  display: flex;
  height: 725px;
  justify-content: center;
  margin-top: 107px;
  min-width: 1330px;
}

.home-desktop .list-1 {
  height: 806px;
  margin-top: -25.5px;
  width: 450px;
}

.home-desktop .list {
  height: 806px;
  margin-left: 30px;
  margin-top: -25.5px;
  width: 450px;
}

.home-desktop .x6-recruiting {
  align-items: flex-end;
  border: 1px solid #707070;
  display: flex;
  height: 785px;
  margin-left: -27px;
  margin-top: 157px;
  min-width: 1973px;
  padding: 87.0px 135.3px;
  z-index: 2;
}

.home-desktop .overlap-group3 {
  height: 567px;
  position: relative;
  width: 1693px;
}

.home-desktop .text-7 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 90px;
  min-height: 553px;
  position: absolute;
  top: 1px;
  width: 643px;
}

.home-desktop .overlap-group-4 {
  height: 445px;
  position: relative;
  width: 643px;
}

.home-desktop .text-106 {
  color: transparent;
  font-family: var(--font-family-noto_serif);
  font-size: 50px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: 68px;
  position: absolute;
  top: 0;
  width: 643px;
}

.home-desktop .span1 {
  color: var(--telepossible-red);
}

.home-desktop .text-108 {
  left: 1px;
  letter-spacing: 0;
  line-height: 40px;
  opacity: 0.8;
  position: absolute;
  top: 203px;
  width: 530px;
}

.home-desktop .text-107 {
  color: var(--orange);
  font-family: var(--font-family-oswald);
  font-size: 34px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 68px;
  margin-top: 35px;
  min-height: 73px;
  white-space: nowrap;
}

.home-desktop .drop-down-text {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 766px;
  min-height: 407px;
  position: absolute;
  top: 20px;
  width: 815px;
}

.home-desktop .flex-row {
  align-items: center;
  display: flex;
  height: 36px;
  margin-left: 5.94px;
  min-width: 420px;
}

.home-desktop .plus {
  height: 2px;
  width: 17px;
}

.home-desktop .text-110 {
  letter-spacing: 0;
  line-height: 36px;
  margin-left: 14px;
  min-height: 36px;
  min-width: 389px;
  white-space: nowrap;
}

.home-desktop .overlap-group1-1 {
  height: 170px;
  margin-top: 18px;
  position: relative;
  width: 792px;
}

.home-desktop .rectangle-21 {
  background-color: var(--white);
  border-radius: 6px;
  height: 154px;
  left: 0;
  position: absolute;
  top: 0;
  width: 680px;
}

.home-desktop .text-109 {
  left: 37px;
  letter-spacing: 0;
  line-height: 34px;
  opacity: 0.8;
  position: absolute;
  top: 0;
  width: 755px;
}

.home-desktop .flex-row-1 {
  align-items: center;
  align-self: center;
  display: flex;
  height: 36px;
  margin-right: 2.0px;
  margin-top: 18px;
  min-width: 797px;
}

.home-desktop .plus-1 {
  height: 11px;
  margin-top: 1.0px;
  width: 11px;
}

.home-desktop .text-112 {
  letter-spacing: 0;
  line-height: 36px;
  margin-left: 18px;
  min-height: 36px;
  min-width: 768px;
  white-space: nowrap;
}

.home-desktop .flex-row-2 {
  align-items: center;
  display: flex;
  height: 36px;
  margin-left: 8px;
  margin-top: 11px;
  min-width: 777px;
}

.home-desktop .plus-2 {
  height: 11px;
  margin-bottom: 1.0px;
  width: 11px;
}

.home-desktop .text-111 {
  letter-spacing: 0;
  line-height: 36px;
  margin-left: 18px;
  min-height: 36px;
  min-width: 748px;
  white-space: nowrap;
}

.home-desktop .flex-row-3 {
  align-items: flex-start;
  display: flex;
  height: 72px;
  margin-left: 8px;
  margin-top: 10px;
  min-width: 643px;
}

.home-desktop .plus-3 {
  height: 11px;
  margin-top: 15px;
  width: 11px;
}

.home-desktop .text-113 {
  letter-spacing: 0;
  line-height: 36px;
  margin-left: 18px;
  min-height: 72px;
}

.home-desktop .effect {
  height: 492px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1693px;
}

.home-desktop .overlap-group2 {
  height: 120px;
  left: 967px;
  position: absolute;
  top: 447px;
  width: 290px;
}

.home-desktop .rectangle-4 {
  border-radius: 35px;
  height: 64px;
  left: 0;
  position: absolute;
  top: 29px;
  width: 290px;
}

.home-desktop .volunteer {
  color: var(--licorice-2);
  font-family: var(--font-family-oswald);
  font-size: var(--font-size-m);
  font-weight: 600;
  left: 111px;
  letter-spacing: 0;
  line-height: 120px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.home-desktop .footer {
  align-items: flex-start;
  background-color: var(--desert-storm);
  display: flex;
  flex-direction: column;
  margin-left: -13px;
  min-height: 406px;
  width: 1920px;
  z-index: 1;
}

.home-desktop .upper {
  align-items: center;
  display: flex;
  height: 68px;
  padding: 0 352.7px;
  width: 1949px;
}

.home-desktop .line-1 {
  height: 2px;
  width: 1219px;
}

.home-desktop .contents {
  align-items: flex-start;
  background-color: var(--desert-storm);
  display: flex;
  height: 271px;
  min-width: 1949px;
  padding: 67.7px 62.3px;
}

.home-desktop .x1 {
  align-items: flex-start;
  display: flex;
  height: 135px;
  min-width: 406px;
  padding: 4.1px 0;
}

.home-desktop .logo {
  align-self: center;
  height: 74px;
  margin-top: 0.74px;
  object-fit: cover;
  width: 68px;
}

.home-desktop .contact-info {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  min-height: 99px;
  width: 253px;
}

.home-desktop .contact-info-1 {
  height: 36px;
  letter-spacing: 9.74px;
}

.home-desktop .text-105 {
  height: 49px;
  letter-spacing: 2.44px;
  margin-top: 14px;
}

.home-desktop .x2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 296px;
  min-height: 135px;
  padding: 1.4px 0;
  width: 420px;
}

.home-desktop .connect-with-us {
  height: 36px;
  letter-spacing: 9.74px;
  margin-left: 0.32px;
  margin-top: 3px;
  min-width: 317px;
  text-align: center;
}

.home-desktop .icons {
  align-items: flex-start;
  display: flex;
  justify-content: flex-end;
  margin-left: 0;
  margin-top: 26px;
  min-width: 420px;
}

.home-desktop .instagram-icon {
  height: 68px;
  margin-top: -0.17px;
  object-fit: cover;
  width: 68px;
}

.home-desktop .x-icon {
  height: 68px;
  margin-left: 108px;
  margin-top: -0.17px;
  object-fit: cover;
  width: 68px;
}

.home-desktop .law {
  height: 100px;
  letter-spacing: 0;
  margin-left: 298px;
  width: 300px;
}

.home-desktop .copyright {
  align-items: flex-start;
  background-color: var(--desert-storm);
  display: flex;
  min-width: 1949px;
}

.home-desktop .overlap-group-5 {
  align-items: flex-end;
  background-color: var(--telepossible-blue);
  display: flex;
  height: 68px;
  justify-content: flex-end;
  min-width: 1949px;
  padding: 23.3px 708.3px;
}

.home-desktop .text-8 {
  height: 20px;
  letter-spacing: 8.12px;
  min-width: 530px;
  text-align: center;
}
