/* screen - index */

.index {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 7300px;
  overflow: hidden;
  width: 1920px;
}

.index .overlap-group7 {
  align-self: flex-start;
  height: 2139px;
  margin-left: -294px;
  margin-top: -104px;
  position: relative;
  width: 2760px;
  z-index: 6;
}

.index .overlap-group5 {
  height: 905px;
  left: 371px;
  position: absolute;
  top: 1234px;
  width: 2389px;
}

.index .bg-effects {
  align-items: flex-start;
  display: flex;
  height: 850px;
  left: 0;
  min-width: 2389px;
  position: absolute;
  top: 55px;
}

.index .vector-smart-object-copy-4 {
  align-self: flex-end;
  height: 259px;
  margin-bottom: -0.03px;
  width: 191px;
}

.index .overlap-group {
  height: 673px;
  margin-left: 1448px;
  position: relative;
  width: 750px;
}

.index .ellipse-6 {
  background-color: #e1e1e1;
  border-radius: 336.5px;
  height: 673px;
  left: 77px;
  opacity: 0.4;
  position: absolute;
  top: 0;
  width: 673px;
}

.index .vector-smart-object-copy {
  height: 197px;
  left: 0;
  position: absolute;
  top: 155px;
  width: 196px;
}

.index .overlap-group1 {
  background-image: url(../img/ellipse-5-1@1x.svg);
  background-size: 100% 100%;
  height: 800px;
  left: 61px;
  position: absolute;
  top: 0;
  width: 811px;
}

.index .image-1 {
  height: 652px;
  left: 64px;
  position: absolute;
  top: 66px;
  width: 496px;
}

.index .ellipse-714 {
  height: 223px;
  left: 368px;
  position: absolute;
  top: 41px;
  width: 278px;
}

.index .text-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 865px;
  min-height: 647px;
  position: absolute;
  top: 76px;
  width: 706px;
}

.index .we-are-here-to {
  letter-spacing: 0;
  min-height: 75px;
}

.index .text-30 {
  color: transparent;
  font-family: var(--font-family-zen_kaku_gothic_new);
  font-size: var(--font-size-m);
  font-weight: 700;
  height: 144px;
  letter-spacing: 2.00px;
  margin-top: 60px;
  opacity: 0.8;
  width: 700px;
}

.index .span0 {
  color: var(--jaguar);
  font-weight: 700;
  letter-spacing: 0.50px;
}

.index .span-1 {
  letter-spacing: 0.50px;
}

.index .text-29 {
  color: transparent;
  font-family: var(--font-family-zen_kaku_gothic_new);
  font-size: var(--font-size-m);
  font-weight: 500;
  height: 216px;
  letter-spacing: 2.00px;
  margin-top: 23px;
  opacity: 0.8;
  width: 700px;
}

.index .button {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-top: 65px;
  min-width: 252px;
}

.index .overlap-group-1 {
  align-items: flex-start;
  border: 2px solid var(--black);
  border-radius: 35px;
  display: flex;
  height: 64px;
  min-width: 250px;
  padding: 15px 50px;
}

.index .learn-more {
  color: #141313;
  font-family: var(--font-family-heebo);
  font-size: var(--font-size-xxs);
  font-weight: 400;
  letter-spacing: 5.00px;
  min-height: 29px;
  min-width: 147px;
  text-align: center;
}

.index .overlap-group6 {
  height: 1265px;
  left: 0;
  position: absolute;
  top: 0;
  width: 2643px;
}

.index .bg-image {
  height: 1008px;
  left: 293px;
  position: absolute;
  top: 188px;
  width: 1920px;
}

.index .effect-shape {
  height: 1265px;
  left: 0;
  position: absolute;
  top: 0;
  width: 2643px;
}

.index .donation-button {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 120px;
  left: 625px;
  min-width: 228px;
  position: absolute;
  top: 765px;
}

.index .overlap-group-2 {
  height: 120px;
  position: relative;
  width: 226px;
}

.index .rectangle-702 {
  background-color: var(--telepossible-blue);
  border-radius: 35px;
  height: 68px;
  left: 0;
  position: absolute;
  top: 26px;
  width: 226px;
}

.index .join-now {
  color: var(--white);
  font-family: var(--font-family-oswald);
  font-size: var(--font-size-m);
  font-weight: 700;
  left: 69px;
  letter-spacing: 0;
  line-height: 120px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.index .text-2 {
  color: var(--white);
  font-family: var(--font-family-noto_serif);
  font-size: 80px;
  font-weight: 700;
  height: 218px;
  left: 625px;
  letter-spacing: 0;
  position: absolute;
  top: 499px;
  width: 1500px;
}

.index .header {
  align-items: center;
  background-color: var(--white);
  display: flex;
  height: 85px;
  left: 0;
  min-width: 1920px;
  padding: 0 29.9px;
  position: fixed;
  top: 0;
  z-index: 7;
}

.index .logo-img {
  cursor: pointer;
  height: 55px;
  object-fit: cover;
  width: 116px;
}

.index .header-icons {
  align-items: center;
  display: flex;
  margin-left: 414px;
  min-width: 800px;
}

.index .icon-1 {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 55px;
  min-width: 172px;
  padding: 0 40px;
}

.index .place {
  letter-spacing: 5.00px;
  min-height: 29px;
  text-align: center;
  width: 90px;
}

.index .icon-2 {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 55px;
  margin-left: 38px;
  min-width: 172px;
  padding: 0 40px;
}

.index .about {
  letter-spacing: 5.00px;
  min-height: 29px;
  text-align: center;
  width: 90px;
}

.index .icon-3 {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 55px;
  margin-left: 38px;
  min-width: 172px;
  padding: 0 25px;
}

.index .works {
  letter-spacing: 5.00px;
  min-height: 29px;
  text-align: center;
  width: 120px;
}

.index .place-1 {
  cursor: pointer;
  letter-spacing: 5.00px;
  margin-left: 48px;
  min-height: 29px;
  text-align: center;
  width: 150px;
}

.index .x3-three-obligations {
  align-items: flex-start;
  display: flex;
  height: 1041px;
  justify-content: center;
  margin-right: 0.77px;
  margin-top: 30px;
  min-width: 2715px;
  z-index: 5;
}

.index .overlap-group4 {
  background-image: url(../img/bg-11@1x.svg);
  background-size: 100% 100%;
  height: 1042px;
  margin-top: -0.33px;
  position: relative;
  width: 2716px;
}

.index .bg-effect {
  height: 737px;
  left: 547px;
  position: absolute;
  top: 207px;
  width: 1626px;
}

.index .blocks {
  align-items: flex-start;
  display: flex;
  height: 420px;
  left: 647px;
  min-width: 1422px;
  position: absolute;
  top: 406px;
}

.index .block-1 {
  align-items: center;
  background-image: url(../img/bg-2@2x.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  min-height: 420px;
  padding: 56px 29.5px;
  width: 370px;
}

.index .image {
  align-items: flex-start;
  background-image: url(../img/ellipse-648@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 81px;
  justify-content: flex-end;
  margin-right: 1.0px;
  min-width: 81px;
  padding: 5px;
}

.index .social-icon {
  height: 70px;
  object-fit: cover;
  width: 70px;
}

.index .title {
  letter-spacing: 2.30px;
  margin-top: 38px;
  min-height: 30px;
  text-align: center;
  width: 250px;
}

.index .text-3 {
  align-self: flex-start;
  height: 74px;
  margin-top: 46px;
  width: 310px;
}

.index .block-3 {
  align-items: center;
  background-image: url(../img/bg-2@2x.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  margin-left: 156px;
  min-height: 420px;
  padding: 46px 24px;
  width: 370px;
}

.index .image-2 {
  align-items: flex-start;
  background-image: url(../img/ellipse-648@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 81px;
  justify-content: flex-end;
  margin-left: 1.0px;
  min-width: 81px;
  padding: 5px;
}

.index .global {
  height: 70px;
  object-fit: cover;
  width: 70px;
}

.index .title-1 {
  letter-spacing: 2.30px;
  margin-left: 2.0px;
  margin-top: 38px;
  min-height: 60px;
  text-align: center;
  width: 250px;
}

.index .text-4 {
  align-self: flex-end;
  height: 74px;
  margin-top: 36px;
  width: 321px;
}

.index .block-2 {
  align-items: center;
  background-image: url(../img/bg-2@2x.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  margin-left: 156px;
  min-height: 420px;
  padding: 56px 24px;
  width: 370px;
}

.index .moral-icon {
  height: 70px;
  object-fit: cover;
  width: 70px;
}

.index .text-5 {
  align-self: flex-start;
  height: 47px;
  margin-top: 44px;
  width: 321px;
}

.index .title-2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 907px;
  min-height: 121px;
  position: absolute;
  top: 161px;
  width: 905px;
}

.index .obligations {
  height: 30px;
  letter-spacing: 9.00px;
  margin-right: 5.0px;
  text-align: center;
  width: 250px;
}

.index .text-28 {
  letter-spacing: 0;
  margin-right: 4.0px;
  margin-top: 16px;
  min-height: 75px;
  min-width: 901px;
  text-align: center;
}

.index .x4-center-info {
  height: 1134px;
  margin-left: 80.97px;
  margin-top: 129px;
  position: relative;
  width: 1533px;
  z-index: 4;
}

.index .overlap-group3 {
  height: 1135px;
  left: 526px;
  position: absolute;
  top: 0;
  width: 1007px;
}

.index .bg-effect-1 {
  height: 1135px;
  left: 0;
  position: absolute;
  top: 0;
  width: 959px;
}

.index .overlap-group-3 {
  height: 657px;
  left: 167px;
  position: absolute;
  top: 204px;
  width: 840px;
}

.index .image-3 {
  height: 495px;
  left: 0;
  position: absolute;
  top: 0;
  width: 561px;
}

.index .image-4 {
  height: 504px;
  left: 269px;
  position: absolute;
  top: 153px;
  width: 571px;
}

.index .quote {
  height: 215px;
  left: 274px;
  position: absolute;
  top: 729px;
  width: 321px;
}

.index .text-6 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 726px;
  position: absolute;
  top: 184px;
  width: 526px;
}

.index .actions {
  height: 21px;
  letter-spacing: 9.00px;
  width: 300px;
}

.index .title-3 {
  height: 150px;
  letter-spacing: 0;
  margin-top: 25px;
}

.index .text-27 {
  color: transparent;
  font-family: var(--font-family-zen_kaku_gothic_new);
  font-size: var(--font-size-m);
  font-weight: 500;
  letter-spacing: 2.00px;
  margin-top: 26px;
  min-height: 504px;
  opacity: 0.8;
  width: 450px;
}

.index .span-2 {
  color: var(--black);
  font-weight: 500;
  letter-spacing: 0.50px;
}

.index .span1 {
  color: var(--telepossible-blue);
  font-weight: 900;
  letter-spacing: 0.50px;
}

.index .x5-funding-goals {
  align-items: flex-end;
  background-image: url(../img/bg-10@1x.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  margin-right: 5.0px;
  margin-top: 129px;
  min-height: 1257px;
  padding: 83.0px 273.0px;
  width: 1921px;
  z-index: 3;
}

.index .title-4 {
  align-items: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-left: 49.0px;
  min-height: 194px;
  padding: 0 0.0px;
  width: 570px;
}

.index .donation-goals {
  color: #f25e25;
  font-family: var(--font-family-oswald);
  font-size: var(--font-size-xxs);
  font-weight: 400;
  letter-spacing: 9.00px;
  margin-right: 4.0px;
  min-height: 30px;
  min-width: 246px;
  text-align: center;
}

.index .text-26 {
  letter-spacing: 0;
  margin-right: 4.0px;
  margin-top: 14px;
  min-height: 150px;
  min-width: 566px;
  text-align: center;
}

.index .blocks-1 {
  align-items: flex-start;
  display: flex;
  height: 725px;
  justify-content: center;
  margin-top: 107px;
  min-width: 1330px;
}

.index .list-1 {
  cursor: pointer;
  height: 806px;
  margin-top: -25.5px;
  transition: all 0.2s ease;
  width: 450px;
}

.index .list-1:hover {
  transform: scale(1.1);
}

.index .list {
  cursor: pointer;
  height: 806px;
  margin-left: 30px;
  margin-top: -25.5px;
  transition: all 0.2s ease;
  width: 450px;
}

.index .list:hover {
  transform: scale(1.1);
}

.index .x6-recruiting {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  margin-right: 5.79px;
  margin-top: 288px;
  min-width: 1692px;
  z-index: 2;
}

.index .overlap-group2 {
  height: 597px;
  margin-top: -0.13px;
  position: relative;
  width: 1693px;
}

.index .bg-effect-2 {
  height: 492px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1693px;
}

.index .drop-down-text {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 773px;
  min-height: 569px;
  position: absolute;
  top: 28px;
  width: 805px;
}

.index .box-1 {
  align-items: flex-start;
  display: flex;
  height: 214px;
  min-width: 789px;
}

.index .x1-plus {
  height: 2px;
  margin-left: -1px;
  margin-top: 14px;
  width: 16px;
}

.index .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  min-height: 214px;
  width: 755px;
}

.index .text-22 {
  letter-spacing: -0.40px;
  line-height: 30px;
  min-height: 30px;
  white-space: nowrap;
}

.index .text-21 {
  color: var(--black);
  font-family: var(--font-family-zen_kaku_gothic_new);
  font-size: var(--font-size-xxxs);
  font-weight: 400;
  letter-spacing: -0.36px;
  line-height: 30px;
  margin-top: 4px;
  min-height: 180px;
  opacity: 0.8;
  width: 755px;
}

.index .box-2 {
  align-items: flex-start;
  display: flex;
  height: 60px;
  margin-left: 2px;
  margin-top: 28px;
  min-width: 609px;
}

.index .x2-plus {
  height: 11px;
  margin-left: -1px;
  margin-top: 9px;
  width: 11px;
}

.index .text {
  letter-spacing: -0.40px;
  line-height: 30px;
  margin-left: 18px;
  min-height: 60px;
}

.index .box-3 {
  align-items: flex-start;
  display: flex;
  height: 60px;
  margin-left: 2px;
  margin-top: 28px;
  min-width: 540px;
}

.index .x3-plus {
  height: 11px;
  margin-left: -1px;
  margin-top: 12px;
  width: 11px;
}

.index .box-4 {
  align-items: center;
  display: flex;
  height: 30px;
  margin-left: 2px;
  margin-top: 28px;
  min-width: 805px;
}

.index .x4-plus {
  height: 11px;
  margin-bottom: 1.0px;
  margin-left: -1px;
  width: 11px;
}

.index .text-18 {
  letter-spacing: -0.40px;
  line-height: 30px;
  margin-left: 18px;
  min-height: 30px;
  min-width: 775px;
  white-space: nowrap;
}

.index .button-1 {
  align-items: flex-start;
  align-self: center;
  cursor: pointer;
  display: flex;
  margin-left: 1.0px;
  margin-top: 66px;
  min-width: 252px;
}

.index .overlap-group-4 {
  align-items: flex-start;
  background-color: var(--telepossible-red);
  border-radius: 35px;
  display: flex;
  height: 55px;
  min-width: 250px;
  padding: 13.0px 56.0px;
}

.index .join-now-1 {
  color: var(--white);
  font-family: var(--font-family-heebo);
  font-size: var(--font-size-xxs);
  font-weight: 800;
  height: 29px;
  letter-spacing: 6.00px;
  min-width: 138px;
  text-align: center;
}

.index .text-7 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 89px;
  min-height: 591px;
  position: absolute;
  top: 1px;
  width: 542px;
}

.index .text-25 {
  letter-spacing: 0;
  min-height: 150px;
}

.index .text-24 {
  letter-spacing: 2.00px;
  margin-top: 33px;
  min-height: 324px;
  opacity: 0.8;
  width: 530px;
}

.index .text-23 {
  color: var(--telepossible-blue);
  font-family: var(--font-family-roboto_slab);
  font-size: 34px;
  font-weight: 700;
  letter-spacing: 0;
  margin-top: 39px;
  min-height: 45px;
}

.index .footer {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  margin-right: 6.0px;
  margin-top: 260px;
  min-height: 400px;
  width: 1920px;
  z-index: 1;
}

.index .overlap-group1-1 {
  height: 307px;
  margin-left: 0;
  position: relative;
  width: 1925px;
}

.index .contents {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 267px;
  justify-content: flex-end;
  left: 0;
  min-width: 1925px;
  padding: 66.8px 37.4px;
  position: absolute;
  top: 40px;
}

.index .x1 {
  align-items: flex-end;
  display: flex;
  height: 112px;
  justify-content: flex-end;
  margin-top: 0;
  min-width: 458px;
}

.index .logo {
  height: 74px;
  margin-bottom: 8.33px;
  object-fit: cover;
  width: 68px;
}

.index .contact-info {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  margin-left: 37px;
  min-height: 104px;
  width: 358px;
}

.index .contact-info-1 {
  height: 28px;
  letter-spacing: 9.62px;
  margin-left: 0;
  width: 274px;
}

.index .text-17 {
  height: 65px;
  letter-spacing: 2.00px;
  margin-top: 11px;
  width: 354px;
}

.index .x2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 235px;
  margin-top: 0;
  min-height: 132px;
  padding: 0.0px 0;
  width: 414px;
}

.index .connect-with-us {
  height: 28px;
  letter-spacing: 9.62px;
  margin-right: 0;
  margin-top: 8px;
  text-align: center;
  width: 348px;
}

.index .icons {
  align-items: flex-start;
  display: flex;
  height: 67px;
  margin-right: 0;
  margin-top: 29px;
  min-width: 414px;
}

.index .instagram-icon {
  height: 68px;
  margin-top: -0.33px;
  object-fit: cover;
  width: 68px;
}

.index .x-icon {
  height: 68px;
  margin-left: 106px;
  margin-top: -0.33px;
  object-fit: cover;
  width: 68px;
}

.index .law {
  align-self: flex-end;
  height: 134px;
  letter-spacing: -0.40px;
  margin-left: 210px;
  width: 508px;
}

.index .upper {
  align-items: flex-start;
  display: flex;
  height: 67px;
  left: 0;
  padding: 32.4px 348.4px;
  position: absolute;
  top: 0;
  width: 1925px;
}

.index .line-1 {
  height: 2px;
  width: 1204px;
}

.index .copyright {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  margin-left: 0;
  margin-top: 27px;
  min-width: 1925px;
}

.index .overlap-group-5 {
  align-items: flex-end;
  background-color: var(--telepossible-blue);
  display: flex;
  height: 67px;
  min-width: 1925px;
  padding: 21.4px 721.8px;
}

.index .text-8 {
  height: 23px;
  letter-spacing: 9.62px;
  text-align: center;
  width: 480px;
}
