/* screen - about */

.about {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 6779px;
  overflow: hidden;
  width: 1920px;
}

.about .overlap-group9 {
  align-items: flex-start;
  background-image: url(../img/banner-@1x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 604px;
  min-width: 1920px;
}

.about .header1 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  height: 85px;
  min-width: 1920px;
  padding: 0 29.9px;
}

.about .logo-img {
  height: 55px;
  object-fit: cover;
  width: 116px;
}

.about .header-icons {
  align-items: center;
  display: flex;
  margin-left: 414px;
  min-width: 800px;
}

.about .icon-1 {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 55px;
  min-width: 172px;
  padding: 0 40px;
}

.about .place {
  letter-spacing: 5.00px;
  min-height: 29px;
  text-align: center;
  width: 90px;
}

.about .about-1 {
  letter-spacing: 5.00px;
  margin-left: 78px;
  min-height: 29px;
  text-align: center;
  width: 90px;
}

.about .works {
  letter-spacing: 5.00px;
  margin-left: 105px;
  min-height: 29px;
  text-align: center;
  width: 120px;
}

.about .icon-4 {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 55px;
  margin-left: 65px;
  min-width: 172px;
  padding: 0 10px;
}

.about .place-1 {
  letter-spacing: 5.00px;
  min-height: 29px;
  text-align: center;
  width: 150px;
}

.about .introduction {
  align-items: flex-start;
  background-image: url(../img/dot-style@1x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 951px;
  justify-content: flex-end;
  margin-left: 0;
  margin-top: 90px;
  min-width: 1920px;
  padding: 122px 87.0px;
}

.about .overlap-group-1 {
  align-self: center;
  height: 614px;
  margin-bottom: 1.0px;
  position: relative;
  width: 979px;
}

.about .x3 {
  height: 576px;
  left: 0;
  position: absolute;
  top: 38px;
  width: 939px;
}

.about .x2 {
  height: 576px;
  left: 20px;
  position: absolute;
  top: 18px;
  width: 939px;
}

.about .x1 {
  height: 576px;
  left: 40px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 939px;
}

.about .text {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 131px;
  min-height: 707px;
  width: 602px;
}

.about .text-23 {
  color: var(--jaguar);
  font-family: var(--font-family-noto_serif);
  font-size: var(--font-size-xxxxl);
  font-weight: 700;
  letter-spacing: 0;
  min-height: 150px;
  width: 470px;
}

.about .text-22 {
  color: var(--jaguar);
  font-family: var(--font-family-zen_maru_gothic);
  font-size: var(--font-size-xl);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 40px;
  margin-top: 28px;
  min-height: 200px;
  opacity: 0.8;
  width: 547px;
}

.about .overlap-group1 {
  background-color: #fbf2ed;
  border-radius: 10px;
  height: 98px;
  margin-top: 43px;
  position: relative;
  width: 526px;
}

.about .name-1 {
  color: var(--jaguar);
  font-family: var(--font-family-oswald);
  font-size: var(--font-size-s);
  font-weight: 400;
  height: 70px;
  left: 74px;
  letter-spacing: 0;
  line-height: 40px;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  top: 19px;
  width: 399px;
}

.about .group {
  height: 59px;
  left: 23px;
  position: absolute;
  top: 22px;
  width: 65px;
}

.about .dollar-collected {
  align-items: center;
  display: flex;
  height: 159px;
  margin-top: 29px;
  min-width: 604px;
}

.about .overlap-group-2 {
  align-items: flex-end;
  background-image: url(../img/rectangle-716@2x.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  min-height: 159px;
  padding: 40.0px 20px;
  width: 170px;
}

.about .core-values {
  color: var(--white);
  font-family: var(--font-family-oswald);
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 34px;
  margin-top: 8px;
  min-height: 34px;
  min-width: 129px;
  white-space: nowrap;
}

.about .what-we-pursue {
  align-self: center;
  color: var(--white);
  font-family: var(--font-family-oswald);
  font-size: var(--font-size-m);
  font-weight: 400;
  height: 27px;
  letter-spacing: 0;
  margin-top: 10px;
  text-align: center;
  width: 124px;
}

.about .text-21 {
  letter-spacing: 0;
  line-height: 34px;
  margin-bottom: 5.0px;
  margin-left: 23px;
  min-height: 102px;
  opacity: 0.8;
  width: 405px;
}

.about .overlap-group10 {
  align-self: center;
  height: 620px;
  margin-left: 101.0px;
  margin-top: 141px;
  position: relative;
  width: 1255px;
}

.about .overlap-group1-1 {
  height: 620px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1255px;
}

.about .our-vission {
  align-items: flex-start;
  display: flex;
  height: 577px;
  left: 0;
  min-width: 645px;
  position: absolute;
  top: 0;
}

.about .line-5 {
  height: 291px;
  width: 1px;
}

.about .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 7px;
  min-height: 577px;
  width: 631px;
}

.about .our-vision {
  align-self: flex-end;
  color: var(--black);
  font-family: var(--font-family-noto_serif);
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 40px;
  min-height: 54px;
  width: 621px;
}

.about .text-15 {
  letter-spacing: 0;
  line-height: 18px;
  margin-left: 16px;
  margin-top: 34px;
  min-height: 139px;
  opacity: 0.8;
  width: 484px;
}

.about .span0 {
  line-height: 34px;
}

.about .span1 {
  line-height: 40px;
}

.about .text-16 {
  color: transparent;
  font-family: var(--font-family-oswald);
  font-size: var(--font-size-m);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 34px;
  margin-top: 239px;
  min-height: 111px;
  opacity: 0.8;
  width: 567px;
}

.about .span-1 {
  color: var(--telepossible-blue);
}

.about .about-us {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 615px;
  min-height: 620px;
  position: absolute;
  top: 0;
  width: 640px;
}

.about .text-1 {
  align-items: flex-start;
  display: flex;
  height: 242px;
  min-width: 646px;
}

.about .line-6 {
  height: 226px;
  margin-left: -1px;
  width: 1px;
}

.about .flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 19px;
  min-height: 242px;
  width: 621px;
}

.about .about-us-1 {
  color: var(--black);
  font-family: var(--font-family-noto_serif);
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 40px;
  min-height: 54px;
  width: 621px;
}

.about .text-17 {
  color: var(--orange);
  font-family: var(--font-family-noto_serif);
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 34px;
  margin-left: 5px;
  margin-top: 10px;
  min-height: 49px;
  width: 484px;
}

.about .text-18 {
  letter-spacing: 0;
  line-height: 18px;
  margin-left: 5px;
  margin-top: 18px;
  min-height: 111px;
  opacity: 0.8;
  width: 484px;
}

.about .image-2 {
  background-color: #c4c4c4;
  border-radius: 5px;
  height: 348px;
  margin-left: 24.0px;
  margin-top: 30px;
  width: 506px;
}

.about .dollar-collected-1 {
  align-items: flex-end;
  display: flex;
  height: 159px;
  left: 7px;
  min-width: 574px;
  position: absolute;
  top: 272px;
}

.about .overlap-group7 {
  align-items: flex-end;
  background-image: url(../img/rectangle-716-1@2x.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  min-height: 159px;
  padding: 19px 22px;
  width: 170px;
}

.about .x15y {
  color: var(--white);
  font-family: var(--font-family-oswald);
  font-size: var(--font-size-xxxxl);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 34px;
  margin-top: 16px;
  min-height: 34px;
  min-width: 106px;
  white-space: nowrap;
}

.about .years-of-experience {
  align-self: center;
  color: var(--white);
  font-family: var(--font-family-oswald);
  font-size: var(--font-size-m);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 28px;
  margin-top: 18px;
  min-height: 53px;
  text-align: center;
  width: 124px;
}

.about .text-24 {
  letter-spacing: 0;
  line-height: 34px;
  margin-left: 31px;
  min-height: 149px;
  opacity: 0.8;
  width: 367px;
}

.about .overlap-group8 {
  height: 2174px;
  margin-left: -467px;
  margin-top: 157px;
  position: relative;
  width: 2715px;
}

.about .overlap-group2 {
  background-image: url(../img/bg@1x.svg);
  background-size: 100% 100%;
  height: 1042px;
  left: 0;
  position: absolute;
  top: 1133px;
  width: 2716px;
}

.about .bg-effect {
  height: 737px;
  left: 547px;
  position: absolute;
  top: 207px;
  width: 1626px;
}

.about .blocks {
  align-items: flex-start;
  display: flex;
  height: 420px;
  left: 646px;
  min-width: 1422px;
  position: absolute;
  top: 406px;
}

.about .block-1 {
  align-items: center;
  background-image: url(../img/bg-1@2x.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  min-height: 420px;
  padding: 56px 29.5px;
  width: 370px;
}

.about .image {
  align-items: flex-start;
  background-image: url(../img/ellipse-648@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 81px;
  justify-content: flex-end;
  margin-right: 1.0px;
  min-width: 81px;
  padding: 5px;
}

.about .social-icon {
  height: 70px;
  object-fit: cover;
  width: 70px;
}

.about .title {
  letter-spacing: 2.30px;
  margin-top: 38px;
  min-height: 30px;
  text-align: center;
  width: 250px;
}

.about .text-2 {
  align-self: flex-start;
  height: 74px;
  margin-top: 46px;
  width: 310px;
}

.about .block-3 {
  align-items: center;
  background-image: url(../img/bg-1@2x.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  margin-left: 156px;
  min-height: 420px;
  padding: 46px 24px;
  width: 370px;
}

.about .image-3 {
  align-items: flex-start;
  background-image: url(../img/ellipse-648@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 81px;
  justify-content: flex-end;
  margin-left: 1.0px;
  min-width: 81px;
  padding: 5px;
}

.about .global {
  height: 70px;
  object-fit: cover;
  width: 70px;
}

.about .title-1 {
  letter-spacing: 2.30px;
  margin-left: 2.0px;
  margin-top: 38px;
  min-height: 60px;
  text-align: center;
  width: 250px;
}

.about .text-3 {
  align-self: flex-end;
  height: 74px;
  margin-top: 36px;
  width: 321px;
}

.about .block-2 {
  align-items: center;
  background-image: url(../img/bg-1@2x.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  margin-left: 156px;
  min-height: 420px;
  padding: 56px 24px;
  width: 370px;
}

.about .moral-icon {
  height: 70px;
  object-fit: cover;
  width: 70px;
}

.about .text-4 {
  align-self: flex-start;
  height: 47px;
  margin-top: 44px;
  width: 321px;
}

.about .title-2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 907px;
  min-height: 121px;
  position: absolute;
  top: 161px;
  width: 905px;
}

.about .obligations {
  height: 30px;
  letter-spacing: 9.00px;
  margin-right: 5.0px;
  text-align: center;
  width: 250px;
}

.about .text-19 {
  letter-spacing: 0;
  margin-right: 4.0px;
  margin-top: 16px;
  min-height: 75px;
  min-width: 901px;
  text-align: center;
}

.about .overlap-group5 {
  align-items: flex-start;
  background-image: url(../img/bg-4@1x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 1183px;
  justify-content: flex-end;
  left: 84px;
  min-width: 2548px;
  padding: 9px 334.6px;
  position: absolute;
  top: 0;
}

.about .flex-col-2 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-top: 99.61px;
  min-height: 279px;
  width: 508px;
}

.about .overlap-group-3 {
  align-self: flex-end;
  height: 181px;
  position: relative;
  width: 466px;
}

.about .our-services {
  color: var(--jaguar-2);
  font-family: var(--font-family-noto_serif);
  font-size: 72px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 46px;
  width: 466px;
}

.about .text-20 {
  color: var(--orange);
  font-family: var(--font-family-oswald);
  font-size: var(--font-size-xl);
  font-weight: 500;
  left: 3px;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 463px;
}

.about .group-1 {
  height: 58px;
  margin-top: 39px;
  width: 58px;
}

.about .overlap-group6 {
  height: 1154px;
  margin-left: 8px;
  position: relative;
  width: 938px;
}

.about .overlap-group1-2 {
  align-items: flex-start;
  background-image: url(../img/bg-5@2x.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 641px;
  padding: 93px 83px;
  position: absolute;
  top: 0;
  width: 538px;
}

.about .quote {
  align-self: center;
  height: 57px;
  margin-right: 15.0px;
  margin-top: 29px;
  width: 57px;
}

.about .overlap-group-4 {
  height: 347px;
  margin-top: 22px;
  position: relative;
  width: 361px;
}

.about .text-user {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 177px;
  min-height: 51px;
  position: absolute;
  top: 237px;
  width: 126px;
}

.about .name {
  letter-spacing: 0;
  min-height: 27px;
}

.about .voluntter {
  letter-spacing: 0;
  margin-left: 2px;
  margin-top: 4px;
  min-height: 20px;
  opacity: 0.8;
}

.about .text-5 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 34px;
  min-height: 263px;
  padding: 0 2px;
  position: absolute;
  top: 0;
  width: 327px;
}

.about .tele-p-immediat-symptoms-better {
  height: 157px;
  margin-right: 2.0px;
  margin-top: 16px;
  width: 321px;
}

.about .quotation-copy-2-1 {
  height: 1px;
  margin-right: 72.0px;
  margin-top: 90px;
  width: 1px;
}

.about .image-1 {
  height: 127px;
  left: 0;
  position: absolute;
  top: 220px;
  width: 227px;
}

.about .overlap-group2-1 {
  align-items: flex-start;
  background-image: url(../img/bg-6@2x.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  left: 400px;
  min-height: 641px;
  padding: 93px 39px;
  position: absolute;
  top: 0;
  width: 538px;
}

.about .overlap-group {
  height: 347px;
  margin-top: 22px;
  position: relative;
  width: 405px;
}

.about .text-6 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 78px;
  min-height: 263px;
  padding: 0 0.5px;
  position: absolute;
  top: 0;
  width: 327px;
}

.about .based-on-the-ch-hey-are-on-hold {
  height: 292px;
  margin-right: 2.0px;
  margin-top: -52px;
  width: 324px;
}

.about .quotation-copy-2 {
  height: 1px;
  margin-right: 72.0px;
  margin-top: 22px;
  width: 1px;
}

.about .overlap-group3 {
  align-items: flex-start;
  background-image: url(../img/bg-7@2x.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 641px;
  padding: 93px 39px;
  position: absolute;
  top: 513px;
  width: 538px;
}

.about .text-7 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 78px;
  min-height: 263px;
  padding: 0 1.5px;
  position: absolute;
  top: 0;
  width: 327px;
}

.about .tele-p-provides-es-between-them {
  height: 293px;
  margin-right: 2.0px;
  margin-top: -52px;
  width: 322px;
}

.about .overlap-group4 {
  align-items: flex-start;
  background-image: url(../img/bg-8@2x.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  left: 400px;
  min-height: 641px;
  padding: 93px 39px;
  position: absolute;
  top: 513px;
  width: 538px;
}

.about .text-8 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 78px;
  min-height: 263px;
  padding: 0 3px;
  position: absolute;
  top: 0;
  width: 327px;
}

.about .even-when-the-v-om-the-patients {
  height: 225px;
  margin-right: 2.0px;
  margin-top: -18px;
  width: 319px;
}

.about .quotation-copy-2-2 {
  height: 1px;
  margin-right: 72.0px;
  margin-top: 56px;
  width: 1px;
}

.about .group-2 {
  height: 47px;
  margin-left: 170px;
  margin-top: 98px;
  width: 48px;
}

.about .footer {
  align-items: flex-start;
  background-color: var(--desert-storm);
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  min-height: 406px;
  width: 1920px;
}

.about .upper {
  align-items: center;
  display: flex;
  height: 68px;
  padding: 0 352.7px;
  width: 1949px;
}

.about .line-1 {
  height: 2px;
  width: 1219px;
}

.about .contents {
  align-items: flex-end;
  background-color: var(--desert-storm);
  display: flex;
  height: 271px;
  min-width: 1949px;
  padding: 67.7px 62.3px;
}

.about .x1-1 {
  align-items: flex-start;
  display: flex;
  height: 135px;
  min-width: 406px;
  padding: 4.1px 0;
}

.about .logo {
  align-self: center;
  height: 74px;
  margin-top: 0.74px;
  object-fit: cover;
  width: 68px;
}

.about .contact-info {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  min-height: 99px;
  width: 253px;
}

.about .contact-info-1 {
  height: 36px;
  letter-spacing: 9.74px;
}

.about .text-14 {
  height: 49px;
  letter-spacing: 2.44px;
  margin-top: 14px;
}

.about .x2-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 296px;
  min-height: 135px;
  padding: 1.4px 0;
  width: 420px;
}

.about .connect-with-us {
  height: 36px;
  letter-spacing: 9.74px;
  margin-left: 0.32px;
  margin-top: 3px;
  min-width: 317px;
  text-align: center;
}

.about .icons {
  align-items: flex-start;
  display: flex;
  justify-content: flex-end;
  margin-left: 0;
  margin-top: 26px;
  min-width: 420px;
}

.about .instagram-icon {
  height: 68px;
  margin-top: -0.17px;
  object-fit: cover;
  width: 68px;
}

.about .x-icon {
  height: 68px;
  margin-left: 108px;
  margin-top: -0.17px;
  object-fit: cover;
  width: 68px;
}

.about .law {
  align-self: flex-start;
  height: 100px;
  letter-spacing: 0;
  margin-left: 298px;
  margin-top: 0;
  width: 300px;
}

.about .copyright {
  align-items: flex-start;
  background-color: var(--desert-storm);
  display: flex;
  min-width: 1949px;
}

.about .overlap-group-5 {
  align-items: flex-end;
  background-color: var(--telepossible-blue);
  display: flex;
  height: 68px;
  justify-content: flex-end;
  min-width: 1949px;
  padding: 23.3px 708.3px;
}

.about .text-9 {
  height: 20px;
  letter-spacing: 8.12px;
  min-width: 530px;
  text-align: center;
}
/* screen - contact */

.contact {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 3342px;
  overflow: hidden;
  width: 1920px;
}

.contact .overlap-group7-1 {
  height: 1190px;
  margin-left: -168px;
  margin-top: -1px;
  position: relative;
  width: 2091px;
}

.contact .map {
  height: 586px;
  left: 168px;
  position: absolute;
  top: 604px;
  width: 1920px;
}

.contact .overlap-group6-1 {
  height: 619px;
  left: 0;
  position: absolute;
  top: 0;
  width: 2091px;
}

.contact .overlap-group-7 {
  height: 605px;
  left: 55px;
  position: absolute;
  top: 0;
  width: 2036px;
}

.contact .mask-group {
  background-color: var(--telepossible-white);
  height: 604px;
  left: 110px;
  position: absolute;
  top: 1px;
  width: 1926px;
}

.contact .rectangle-3 {
  height: 605px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1904px;
}

.contact .effect-shape1 {
  align-items: flex-start;
  display: flex;
  height: 501px;
  left: 0;
  min-width: 2084px;
  padding: 0 21px;
  position: absolute;
  top: 118px;
}

.contact .overlap-group1-3 {
  height: 446px;
  position: relative;
  width: 356px;
}

.contact .polygon-5 {
  height: 237px;
  left: 13px;
  position: absolute;
  top: 210px;
  width: 274px;
}

.contact .polygon-9 {
  height: 237px;
  left: 0;
  position: absolute;
  top: 116px;
  width: 274px;
}

.contact .ellipse-4 {
  height: 383px;
  left: 179px;
  position: absolute;
  top: 0;
  width: 170px;
}

.contact .ellipse-6 {
  height: 160px;
  left: 285px;
  position: absolute;
  top: 39px;
  width: 71px;
}

.contact .overlap-group2-2 {
  align-self: flex-end;
  height: 349px;
  margin-bottom: 33.4px;
  margin-left: 1392px;
  position: relative;
  width: 273px;
}

.contact .polygon-6 {
  height: 224px;
  left: 65px;
  position: absolute;
  top: 0;
  width: 208px;
}

.contact .polygon-7 {
  height: 223px;
  left: 34px;
  position: absolute;
  top: 59px;
  width: 208px;
}

.contact .polygon-8 {
  height: 224px;
  left: 0;
  position: absolute;
  top: 125px;
  width: 208px;
}

.contact .ellipse-5 {
  height: 31px;
  left: 190px;
  position: absolute;
  top: 37px;
  width: 31px;
}

.contact .text-10 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 621px;
  min-height: 170px;
  position: absolute;
  top: 262px;
  width: 1017px;
}

.contact .overlap-group3-1 {
  height: 138px;
  margin-right: 4.0px;
  position: relative;
  width: 1013px;
}

.contact .underline {
  height: 32px;
  left: 312px;
  position: absolute;
  top: 106px;
  width: 433px;
}

.contact .place-2 {
  color: var(--white);
  font-family: var(--font-family-noto_serif);
  font-size: 120px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: 125.5px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 1013px;
}

.contact .text-27 {
  color: #494949;
  font-family: var(--font-family-zen_kaku_gothic_antique);
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1.50px;
  margin-right: 5.0px;
  margin-top: 10px;
  min-height: 22px;
  text-align: center;
  width: 350px;
}

.contact .header {
  align-items: center;
  background-color: var(--white);
  display: flex;
  height: 85px;
  left: 168px;
  min-width: 1920px;
  padding: 0 29.9px;
  position: absolute;
  top: 1px;
}

.contact .logo-img-1 {
  cursor: pointer;
  height: 55px;
  object-fit: cover;
  width: 116px;
}

.contact .header-icons-1 {
  align-items: center;
  cursor: pointer;
  display: flex;
  margin-left: 414px;
  min-width: 800px;
}

.contact .icon-1-1 {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 55px;
  min-width: 172px;
  padding: 0 40px;
}

.contact .place-3 {
  letter-spacing: 5.00px;
  min-height: 29px;
  text-align: center;
  width: 90px;
}

.contact .icon-2 {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 55px;
  margin-left: 38px;
  min-width: 172px;
  padding: 0 40px;
}

.contact .about-2 {
  letter-spacing: 5.00px;
  min-height: 29px;
  text-align: center;
  width: 90px;
}

.contact .works-1 {
  letter-spacing: 5.00px;
  margin-left: 63px;
  min-height: 29px;
  text-align: center;
  width: 120px;
}

.contact .place-4 {
  letter-spacing: 5.00px;
  margin-left: 75px;
  min-height: 29px;
  text-align: center;
  width: 150px;
}

.contact .list-of-help {
  align-items: flex-start;
  align-self: center;
  display: flex;
  margin-top: 116px;
  min-width: 1170px;
}

.contact .call {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 224px;
  min-width: 374px;
  transition: all 0.2s ease;
}

.contact .call:hover {
  transform: translate(0, -5px);
box-shadow: 0px 12px 5px -8px rgba(0,0,0,0.2);
}

.contact .overlap-group2-3 {
  align-items: center;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0px 14px 20px #ded7d740;
  display: flex;
  flex-direction: column;
  min-height: 224px;
  padding: 36px 0;
  width: 370px;
}

.contact .overlap-group-8 {
  height: 105px;
  margin-top: 4px;
  position: relative;
  width: 82px;
}

.contact .call-us {
  left: 0;
  letter-spacing: 0;
  line-height: 38px;
  position: absolute;
  text-align: center;
  top: 67px;
  white-space: nowrap;
}

.contact .call-svgrepo-com-2 {
  height: 49px;
  left: 3px;
  position: absolute;
  top: 21px;
  width: 49px;
}

.contact .call-svgrepo-com-1 {
  height: 67px;
  left: 14px;
  position: absolute;
  top: 0;
  width: 67px;
}

.contact .phone {
  letter-spacing: 0;
  line-height: 38px;
  margin-top: 5px;
  min-height: 38px;
  min-width: 128px;
  opacity: 0.8;
  text-align: center;
  white-space: nowrap;
}

.contact .list-of-help-item {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 224px;
  margin-left: 26px;
  min-width: 374px;
  transition: all 0.2s ease;
}

.contact .list-of-help-item:hover {
  transform: translate(0, -5px);
box-shadow: 0px 12px 5px -8px rgba(0,0,0,0.2);
}

.contact .overlap-group1-4 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0px 14px 20px #ded7d740;
  display: flex;
  flex-direction: column;
  min-height: 224px;
  padding: 36px 69px;
  width: 370px;
}

.contact .location-1 {
  align-self: center;
  height: 57px;
  margin-right: 7.0px;
  margin-top: 6px;
  width: 57px;
}

.contact .overlap-group-9 {
  height: 81px;
  margin-top: 8px;
  position: relative;
  width: 231px;
}

.contact .address {
  left: 0;
  letter-spacing: 0;
  line-height: 38px;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  top: 43px;
  white-space: nowrap;
}

.contact .address-1 {
  left: 60px;
  letter-spacing: 0;
  line-height: 38px;
  position: absolute;
  text-align: center;
  top: 0;
}

.contact .overlap-group-10 {
  align-items: center;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0px 14px 20px #ded7d740;
  display: flex;
  flex-direction: column;
  min-height: 224px;
  padding: 36px 118px;
  width: 370px;
}

.contact .group-3 {
  height: 39px;
  margin-right: 5.42px;
  margin-top: 18px;
  width: 59px;
}

.contact .mail-us {
  letter-spacing: 0;
  line-height: 38px;
  margin-left: 1.0px;
  margin-top: 14px;
  min-height: 38px;
  min-width: 89px;
  text-align: center;
  white-space: nowrap;
}

.contact .text-26 {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 38px;
  margin-top: 5px;
  min-height: 38px;
  min-width: 133px;
  opacity: 0.8;
  text-align: center;
  white-space: nowrap;
}

.contact .get-in-touch {
  align-items: flex-start;
  background-color: var(--desert-storm);
  display: flex;
  flex-direction: column;
  margin-top: 112px;
  min-height: 714px;
  padding: 61px 400px;
  width: 1920px;
}

.contact .get-in-touch-1 {
  color: var(--cod-gray);
  font-family: var(--font-family-noto_serif);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0;
  margin-left: 10px;
  margin-top: 17px;
  min-height: 38px;
  width: 322px;
}

.contact .text-25 {
  color: var(--cod-gray);
  font-family: var(--font-family-oswald);
  font-size: var(--font-size-m);
  font-weight: 400;
  letter-spacing: 0;
  margin-left: 10px;
  margin-top: 26px;
  min-height: 38px;
  width: 742px;
}

.contact .box {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  min-height: 349px;
  width: 1110px;
}

.contact .flex-row {
  align-items: flex-start;
  display: flex;
  height: 181px;
  min-width: 1100px;
}

.contact .flex-col-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 181px;
  width: 535px;
}

.contact .overlap-group1-5 {
  align-items: flex-end;
  background-color: var(--white);
  border: 1px solid var(--black);
  display: flex;
  height: 84px;
  min-width: 535px;
  padding: 28px 20px;
}

.contact .name-2 {
  background-color: transparent;
  border: 0;
  height: 25px;
  letter-spacing: 0;
  opacity: 0.8;
  padding: 0;
  width: 178px;
}

.contact .name-2::placeholder {
  color: #00000099;
}

.contact .overlap-group-6 {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  height: 84px;
  margin-top: 13px;
  min-width: 535px;
  padding: 27px 21px;
}

.contact .website {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  height: 25px;
  letter-spacing: 0;
  opacity: 0.8;
  padding: 0;
  width: 178px;
}

.contact .website::placeholder {
  color: #00000099;
}

.contact .flex-col-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  min-height: 181px;
  width: 535px;
}

.contact .overlap-group2-4 {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  height: 84px;
  min-width: 535px;
  padding: 27px 21px;
}

.contact .email-address {
  background-color: transparent;
  border: 0;
  height: 25px;
  letter-spacing: 0;
  opacity: 0.8;
  padding: 0;
  width: 178px;
}

.contact .email-address::placeholder {
  color: #00000099;
}

.contact .subject {
  background-color: transparent;
  border: 0;
  height: 25px;
  letter-spacing: 0;
  opacity: 0.8;
  padding: 0;
  width: 178px;
}

.contact .subject::placeholder {
  color: #00000099;
}

.contact .overlap-group4-1 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 155px;
  margin-top: 13px;
  min-width: 1100px;
  padding: 32px 21px;
}

.contact .your-message {
  background-color: transparent;
  border: 0;
  height: 25px;
  letter-spacing: 0;
  opacity: 0.8;
  padding: 0;
  width: 178px;
}

.contact .your-message::placeholder {
  color: #00000099;
}

.contact .buttom {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-left: 10px;
  margin-top: 32px;
  min-width: 189px;
}

.contact .overlap-group5-1 {
  align-items: flex-end;
  background-color: var(--telepossible-blue);
  border-radius: 30px;
  display: flex;
  height: 60px;
  justify-content: flex-end;
  min-width: 187px;
  padding: 14px 22.2px;
}

.contact .send-message {
  color: var(--white);
  cursor: pointer;
  font-family: var(--font-family-oswald);
  font-size: var(--font-size-m);
  font-weight: 500;
  letter-spacing: 0;
  min-height: 27px;
  width: 133px;
}

.contact .footer-1 {
  align-items: flex-start;
  background-color: var(--desert-storm);
  display: flex;
  flex-direction: column;
  margin-left: -4px;
  min-height: 406px;
  width: 1920px;
}

.contact .upper-1 {
  align-items: center;
  display: flex;
  height: 68px;
  padding: 0 352.7px;
  width: 1949px;
}

.contact .line-1-1 {
  height: 2px;
  width: 1219px;
}

.contact .contents-1 {
  align-items: flex-start;
  background-color: var(--desert-storm);
  display: flex;
  height: 271px;
  min-width: 1949px;
  padding: 67.7px 62.3px;
}

.contact .x1-2 {
  align-items: flex-start;
  display: flex;
  height: 135px;
  min-width: 406px;
  padding: 4.1px 0;
}

.contact .logo-1 {
  align-self: center;
  height: 74px;
  margin-top: 0.74px;
  object-fit: cover;
  width: 68px;
}

.contact .contact-info-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  min-height: 99px;
  width: 253px;
}

.contact .contact-info-3 {
  height: 36px;
  letter-spacing: 9.74px;
}

.contact .text-28 {
  height: 49px;
  letter-spacing: 2.44px;
  margin-top: 14px;
}

.contact .x2-2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 296px;
  min-height: 135px;
  padding: 1.4px 0;
  width: 420px;
}

.contact .connect-with-us-1 {
  height: 36px;
  letter-spacing: 9.74px;
  margin-left: 0.32px;
  margin-top: 3px;
  min-width: 317px;
  text-align: center;
}

.contact .icons-1 {
  align-items: flex-start;
  display: flex;
  justify-content: flex-end;
  margin-left: 0;
  margin-top: 26px;
  min-width: 420px;
}

.contact .instagram-icon-1 {
  height: 68px;
  margin-top: -0.17px;
  object-fit: cover;
  width: 68px;
}

.contact .x-icon-1 {
  height: 68px;
  margin-left: 108px;
  margin-top: -0.17px;
  object-fit: cover;
  width: 68px;
}

.contact .law-1 {
  height: 100px;
  letter-spacing: 0;
  margin-left: 298px;
  width: 300px;
}

.contact .copyright-1 {
  align-items: flex-start;
  background-color: var(--desert-storm);
  display: flex;
  min-width: 1949px;
}

.contact .overlap-group-11 {
  align-items: flex-end;
  background-color: var(--telepossible-blue);
  display: flex;
  height: 68px;
  justify-content: flex-end;
  min-width: 1949px;
  padding: 23.3px 708.3px;
}

.contact .text-11 {
  height: 20px;
  letter-spacing: 8.12px;
  min-width: 530px;
  text-align: center;
}
/* screen - index */

.index {
  align-items: flex-start;
  background-color: var(--white);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 9476px;
  overflow: hidden;
  width: 1920px;
}

.index .x1-banner {
  align-items: flex-start;
  display: flex;
  margin-left: -293px;
  margin-top: -103px;
  min-width: 2643px;
  z-index: 7;
}

.index .overlap-group7-2 {
  height: 1265px;
  position: relative;
  width: 2643px;
}

.index .bg-image {
  height: 1008px;
  left: 293px;
  position: absolute;
  top: 188px;
  width: 1920px;
}

.index .effect-shape {
  height: 1265px;
  left: 0;
  position: absolute;
  top: 0;
  width: 2643px;
}

.index .donation-button {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 120px;
  left: 625px;
  min-width: 228px;
  position: absolute;
  top: 765px;
}

.index .overlap-group-12 {
  height: 120px;
  position: relative;
  width: 226px;
}

.index .rectangle-702 {
  background-color: var(--telepossible-blue);
  border-radius: 35px;
  height: 68px;
  left: 0;
  position: absolute;
  top: 26px;
  width: 226px;
}

.index .join-now {
  color: var(--white);
  font-family: var(--font-family-oswald);
  font-size: var(--font-size-xxxl);
  font-weight: 700;
  left: 69px;
  letter-spacing: 0;
  line-height: 120px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.index .text-12 {
  color: var(--white);
  font-family: var(--font-family-noto_serif);
  font-size: 80px;
  font-weight: 700;
  height: 218px;
  left: 625px;
  letter-spacing: 0;
  position: absolute;
  top: 499px;
  width: 1500px;
}

.index .header-1 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  height: 85px;
  left: 0;
  min-width: 1920px;
  padding: 0 29.9px;
  position: fixed;
  top: 0;
  z-index: 8;
}

.index .logo-img-2 {
  cursor: pointer;
  height: 55px;
  object-fit: cover;
  width: 116px;
}

.index .header-icons-2 {
  align-items: center;
  display: flex;
  margin-left: 414px;
  min-width: 800px;
}

.index .icon-1-2 {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 55px;
  min-width: 172px;
  padding: 0 40px;
}

.index .place-5 {
  letter-spacing: 5.00px;
  min-height: 29px;
  text-align: center;
  width: 90px;
}

.index .icon-2-1 {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 55px;
  margin-left: 38px;
  min-width: 172px;
  padding: 0 40px;
}

.index .about-3 {
  letter-spacing: 5.00px;
  min-height: 29px;
  text-align: center;
  width: 90px;
}

.index .works-2 {
  letter-spacing: 5.00px;
  margin-left: 63px;
  min-height: 29px;
  text-align: center;
  width: 120px;
}

.index .icon-4-1 {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 55px;
  margin-left: 65px;
  min-width: 172px;
  padding: 0 10px;
}

.index .place-6 {
  letter-spacing: 5.00px;
  min-height: 29px;
  text-align: center;
  width: 150px;
}

.index .x2-about {
  align-items: flex-end;
  align-self: flex-end;
  display: flex;
  height: 928px;
  margin-right: -549.0px;
  margin-top: 70px;
  min-width: 2389px;
  z-index: 6;
}

.index .overlap-group6-2 {
  height: 905px;
  margin-bottom: 0;
  position: relative;
  width: 2389px;
}

.index .bg-effects {
  align-items: flex-start;
  display: flex;
  height: 850px;
  left: 0;
  min-width: 2389px;
  position: absolute;
  top: 55px;
}

.index .vector-smart-object-copy-4 {
  align-self: flex-end;
  height: 259px;
  margin-bottom: -0.03px;
  width: 191px;
}

.index .overlap-group-13 {
  height: 673px;
  margin-left: 1448px;
  position: relative;
  width: 750px;
}

.index .ellipse-6-1 {
  background-color: #e1e1e1;
  border-radius: 336.5px;
  height: 673px;
  left: 77px;
  opacity: 0.4;
  position: absolute;
  top: 0;
  width: 673px;
}

.index .vector-smart-object-copy {
  height: 197px;
  left: 0;
  position: absolute;
  top: 155px;
  width: 196px;
}

.index .overlap-group1-6 {
  background-image: url(../img/ellipse-5-1@1x.svg);
  background-size: 100% 100%;
  height: 800px;
  left: 61px;
  position: absolute;
  top: 0;
  width: 811px;
}

.index .image-5 {
  height: 652px;
  left: 64px;
  position: absolute;
  top: 66px;
  width: 496px;
}

.index .ellipse-714 {
  height: 223px;
  left: 368px;
  position: absolute;
  top: 41px;
  width: 278px;
}

.index .text-13 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 865px;
  min-height: 647px;
  position: absolute;
  top: 76px;
  width: 706px;
}

.index .we-are-here-to {
  letter-spacing: 0;
  min-height: 75px;
}

.index .span0-1 {
  color: var(--jaguar);
  font-family: var(--font-family-noto_serif);
  font-size: var(--font-size-xxxxl);
  font-weight: 700;
}

.index .text-13-1 {
  color: transparent;
  font-family: var(--font-family-zen_kaku_gothic_new);
  font-size: var(--font-size-xxxl);
  font-weight: 700;
  height: 144px;
  letter-spacing: 2.00px;
  margin-top: 60px;
  opacity: 0.8;
  width: 700px;
}

.index .span0-2 {
  color: var(--jaguar);
  font-weight: 700;
  letter-spacing: 0.50px;
}

.index .span-3 {
  letter-spacing: 0.50px;
}

.index .text-12-1 {
  color: transparent;
  font-family: var(--font-family-zen_kaku_gothic_new);
  font-size: var(--font-size-xxxl);
  font-weight: 500;
  height: 216px;
  letter-spacing: 2.00px;
  margin-top: 23px;
  opacity: 0.8;
  width: 700px;
}

.index .button {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-top: 65px;
  min-width: 252px;
}

.index .overlap-group-14 {
  align-items: flex-start;
  border: 2px solid var(--black);
  border-radius: 35px;
  display: flex;
  height: 64px;
  min-width: 250px;
  padding: 15px 50px;
}

.index .learn-more {
  color: #141313;
  font-family: var(--font-family-heebo);
  font-size: var(--font-size-l);
  font-weight: 400;
  letter-spacing: 5.00px;
  min-height: 29px;
  min-width: 147px;
  text-align: center;
}

.index .x3-three-obligations {
  align-items: flex-start;
  display: flex;
  height: 1041px;
  justify-content: center;
  margin-left: -398px;
  margin-top: 30px;
  min-width: 2715px;
  z-index: 5;
}

.index .overlap-group5-2 {
  background-image: url(../img/bg-10@1x.svg);
  background-size: 100% 100%;
  height: 1042px;
  margin-top: -0.33px;
  position: relative;
  width: 2716px;
}

.index .bg-effect-1 {
  height: 737px;
  left: 547px;
  position: absolute;
  top: 207px;
  width: 1626px;
}

.index .blocks-1 {
  align-items: flex-start;
  display: flex;
  height: 420px;
  left: 646px;
  min-width: 1422px;
  position: absolute;
  top: 406px;
}

.index .block-1-1 {
  align-items: center;
  background-image: url(../img/bg-1@2x.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  min-height: 420px;
  padding: 56px 29.5px;
  width: 370px;
}

.index .image-4 {
  align-items: flex-start;
  background-image: url(../img/ellipse-648@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 81px;
  justify-content: flex-end;
  margin-right: 1.0px;
  min-width: 81px;
  padding: 5px;
}

.index .social-icon-1 {
  height: 70px;
  object-fit: cover;
  width: 70px;
}

.index .title-3 {
  letter-spacing: 2.30px;
  margin-top: 38px;
  min-height: 30px;
  text-align: center;
  width: 250px;
}

.index .text-29 {
  align-self: flex-start;
  height: 74px;
  margin-top: 46px;
  width: 310px;
}

.index .block-3-1 {
  align-items: center;
  background-image: url(../img/bg-1@2x.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  margin-left: 156px;
  min-height: 420px;
  padding: 46px 24px;
  width: 370px;
}

.index .image-6 {
  align-items: flex-start;
  background-image: url(../img/ellipse-648@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 81px;
  justify-content: flex-end;
  margin-left: 1.0px;
  min-width: 81px;
  padding: 5px;
}

.index .global-1 {
  height: 70px;
  object-fit: cover;
  width: 70px;
}

.index .title-4 {
  letter-spacing: 2.30px;
  margin-left: 2.0px;
  margin-top: 38px;
  min-height: 60px;
  text-align: center;
  width: 250px;
}

.index .text-30 {
  align-self: flex-end;
  height: 74px;
  margin-top: 36px;
  width: 321px;
}

.index .block-2-1 {
  align-items: center;
  background-image: url(../img/bg-1@2x.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  margin-left: 156px;
  min-height: 420px;
  padding: 56px 24px;
  width: 370px;
}

.index .moral-icon-1 {
  height: 70px;
  object-fit: cover;
  width: 70px;
}

.index .text-31 {
  align-self: flex-start;
  height: 47px;
  margin-top: 44px;
  width: 321px;
}

.index .title-5 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 907px;
  min-height: 121px;
  position: absolute;
  top: 161px;
  width: 905px;
}

.index .obligations-1 {
  height: 30px;
  letter-spacing: 9.00px;
  margin-right: 5.0px;
  text-align: center;
  width: 250px;
}

.index .text-11-1 {
  letter-spacing: 0;
  margin-right: 4.0px;
  margin-top: 16px;
  min-height: 75px;
  min-width: 901px;
  text-align: center;
}

.index .x4-center-info {
  align-items: flex-start;
  align-self: center;
  display: flex;
  height: 1134px;
  margin-left: 26.97px;
  margin-top: 129px;
  min-width: 1593px;
  z-index: 4;
}

.index .text-32 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 76.53px;
  min-height: 617px;
  width: 526px;
}

.index .actions {
  height: 21px;
  letter-spacing: 9.00px;
  width: 300px;
}

.index .title-6 {
  color: var(--cod-gray);
  font-family: var(--font-family-noto_serif);
  font-size: var(--font-size-xxxxl);
  font-weight: 700;
  height: 150px;
  letter-spacing: 0;
  margin-top: 25px;
}

.index .text-33 {
  color: var(--jaguar);
  font-family: var(--font-family-zen_kaku_gothic_new);
  font-size: var(--font-size-xxxl);
  font-weight: 700;
  height: 396px;
  letter-spacing: 2.00px;
  margin-top: 25px;
  opacity: 0.8;
  width: 450px;
}

.index .overlap-group4-2 {
  height: 1135px;
  margin-left: 60px;
  margin-top: -0.33px;
  position: relative;
  width: 1007px;
}

.index .bg-effect-2 {
  height: 1135px;
  left: 0;
  position: absolute;
  top: 0;
  width: 959px;
}

.index .overlap-group-15 {
  height: 657px;
  left: 167px;
  position: absolute;
  top: 204px;
  width: 840px;
}

.index .image-7 {
  height: 495px;
  left: 0;
  position: absolute;
  top: 0;
  width: 561px;
}

.index .image-8 {
  height: 504px;
  left: 269px;
  position: absolute;
  top: 153px;
  width: 571px;
}

.index .quote-1 {
  height: 215px;
  left: 274px;
  position: absolute;
  top: 729px;
  width: 321px;
}

.index .x5-funding-goals {
  align-items: flex-end;
  background-image: url(../img/bg-9@1x.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  margin-left: 0;
  margin-top: 129px;
  min-height: 1257px;
  padding: 83.0px 273.0px;
  width: 1921px;
  z-index: 3;
}

.index .title-7 {
  align-items: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-left: 49.0px;
  min-height: 194px;
  padding: 0 0.0px;
  width: 570px;
}

.index .donation-goals {
  color: #f25e25;
  font-family: var(--font-family-oswald);
  font-size: var(--font-size-l);
  font-weight: 400;
  letter-spacing: 9.00px;
  margin-right: 4.0px;
  min-height: 30px;
  min-width: 246px;
  text-align: center;
}

.index .text-10-1 {
  color: var(--cod-gray);
  font-family: var(--font-family-noto_serif);
  font-size: var(--font-size-xxxxl);
  font-weight: 700;
  letter-spacing: 0;
  margin-right: 4.0px;
  margin-top: 14px;
  min-height: 150px;
  min-width: 566px;
  text-align: center;
}

.index .blocks-2 {
  align-items: flex-start;
  display: flex;
  height: 725px;
  justify-content: center;
  margin-top: 107px;
  min-width: 1330px;
}

.index .list-1 {
  cursor: pointer;
  height: 806px;
  margin-top: -25.5px;
  transition: all 0.2s ease;
  width: 450px;
}

.index .list-1:hover {
  transform: scale(1.1);
}

.index .list {
  cursor: pointer;
  height: 806px;
  margin-left: 30px;
  margin-top: -25.5px;
  transition: all 0.2s ease;
  width: 450px;
}

.index .list:hover {
  transform: scale(1.1);
}

.index .x6-recruiting {
  align-items: flex-end;
  border: 1px solid #707070;
  display: flex;
  height: 785px;
  margin-left: -27px;
  margin-top: 157px;
  min-width: 1973px;
  padding: 87.0px 135.3px;
  z-index: 2;
}

.index .overlap-group3-2 {
  height: 567px;
  position: relative;
  width: 1693px;
}

.index .text-34 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 90px;
  min-height: 553px;
  position: absolute;
  top: 1px;
  width: 643px;
}

.index .overlap-group-16 {
  height: 445px;
  position: relative;
  width: 643px;
}

.index .text-2-1 {
  color: transparent;
  font-family: var(--font-family-noto_serif);
  font-size: 50px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: 68px;
  position: absolute;
  top: 0;
  width: 643px;
}

.index .span-4 {
  color: var(--jaguar);
}

.index .span1-1 {
  color: var(--telepossible-red);
}

.index .text-4-1 {
  left: 1px;
  letter-spacing: 0;
  line-height: 40px;
  opacity: 0.8;
  position: absolute;
  top: 203px;
  width: 530px;
}

.index .text-3-1 {
  color: var(--orange);
  font-family: var(--font-family-oswald);
  font-size: 34px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 68px;
  margin-top: 35px;
  min-height: 73px;
  white-space: nowrap;
}

.index .drop-down-text {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 766px;
  min-height: 407px;
  position: absolute;
  top: 20px;
  width: 815px;
}

.index .flex-row-1 {
  align-items: center;
  display: flex;
  height: 36px;
  margin-left: 5.94px;
  min-width: 420px;
}

.index .plus {
  height: 2px;
  width: 17px;
}

.index .text-6-1 {
  letter-spacing: 0;
  line-height: 36px;
  margin-left: 14px;
  min-height: 36px;
  min-width: 389px;
  white-space: nowrap;
}

.index .overlap-group1-7 {
  height: 170px;
  margin-top: 18px;
  position: relative;
  width: 792px;
}

.index .rectangle-21 {
  background-color: var(--white);
  border-radius: 6px;
  height: 154px;
  left: 0;
  position: absolute;
  top: 0;
  width: 680px;
}

.index .text-5-1 {
  left: 37px;
  letter-spacing: 0;
  line-height: 34px;
  opacity: 0.8;
  position: absolute;
  top: 0;
  width: 755px;
}

.index .flex-row-2 {
  align-items: center;
  align-self: center;
  display: flex;
  height: 36px;
  margin-right: 2.0px;
  margin-top: 18px;
  min-width: 797px;
}

.index .plus-1 {
  height: 11px;
  margin-top: 1.0px;
  width: 11px;
}

.index .text-8-1 {
  letter-spacing: 0;
  line-height: 36px;
  margin-left: 18px;
  min-height: 36px;
  min-width: 768px;
  white-space: nowrap;
}

.index .flex-row-3 {
  align-items: center;
  display: flex;
  height: 36px;
  margin-left: 8px;
  margin-top: 11px;
  min-width: 777px;
}

.index .plus-2 {
  height: 11px;
  margin-bottom: 1.0px;
  width: 11px;
}

.index .text-7-1 {
  letter-spacing: 0;
  line-height: 36px;
  margin-left: 18px;
  min-height: 36px;
  min-width: 748px;
  white-space: nowrap;
}

.index .flex-row-4 {
  align-items: flex-start;
  display: flex;
  height: 72px;
  margin-left: 8px;
  margin-top: 10px;
  min-width: 643px;
}

.index .plus-3 {
  height: 11px;
  margin-top: 15px;
  width: 11px;
}

.index .text-9-1 {
  letter-spacing: 0;
  line-height: 36px;
  margin-left: 18px;
  min-height: 72px;
}

.index .effect {
  height: 492px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1693px;
}

.index .button-1 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 120px;
  left: 967px;
  min-width: 292px;
  position: absolute;
  top: 447px;
}

.index .overlap-group2-5 {
  height: 120px;
  position: relative;
  width: 290px;
}

.index .rectangle-4 {
  border: 2px solid var(--black);
  border-radius: 35px;
  height: 64px;
  left: 0;
  position: absolute;
  top: 29px;
  width: 290px;
}

.index .volunteer {
  color: #141313;
  font-family: var(--font-family-oswald);
  font-size: var(--font-size-m);
  font-weight: 600;
  left: 111px;
  letter-spacing: 0;
  line-height: 120px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.index .footer-2 {
  align-items: flex-start;
  background-color: var(--desert-storm);
  display: flex;
  flex-direction: column;
  margin-left: -13px;
  min-height: 406px;
  width: 1920px;
  z-index: 1;
}

.index .upper-2 {
  align-items: center;
  display: flex;
  height: 68px;
  padding: 0 352.7px;
  width: 1949px;
}

.index .line-1-2 {
  height: 2px;
  width: 1219px;
}

.index .contents-2 {
  align-items: flex-start;
  background-color: var(--desert-storm);
  display: flex;
  height: 271px;
  min-width: 1949px;
  padding: 67.7px 62.3px;
}

.index .x1-3 {
  align-items: flex-start;
  display: flex;
  height: 135px;
  min-width: 406px;
  padding: 4.1px 0;
}

.index .logo-2 {
  align-self: center;
  height: 74px;
  margin-top: 0.74px;
  object-fit: cover;
  width: 68px;
}

.index .contact-info-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  min-height: 99px;
  width: 253px;
}

.index .contact-info-5 {
  height: 36px;
  letter-spacing: 9.74px;
}

.index .text-1-1 {
  height: 49px;
  letter-spacing: 2.44px;
  margin-top: 14px;
}

.index .x2-3 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 296px;
  min-height: 135px;
  padding: 1.4px 0;
  width: 420px;
}

.index .connect-with-us-2 {
  height: 36px;
  letter-spacing: 9.74px;
  margin-left: 0.32px;
  margin-top: 3px;
  min-width: 317px;
  text-align: center;
}

.index .icons-2 {
  align-items: flex-start;
  display: flex;
  justify-content: flex-end;
  margin-right: 0;
  margin-top: 26px;
  min-width: 420px;
}

.index .instagram-icon-2 {
  height: 68px;
  margin-top: -0.17px;
  object-fit: cover;
  width: 68px;
}

.index .x-icon-2 {
  height: 68px;
  margin-left: 108px;
  margin-top: -0.17px;
  object-fit: cover;
  width: 68px;
}

.index .law-2 {
  height: 100px;
  letter-spacing: 0;
  margin-left: 298px;
  width: 300px;
}

.index .copyright-2 {
  align-items: flex-start;
  background-color: var(--desert-storm);
  display: flex;
  min-width: 1949px;
}

.index .overlap-group-17 {
  align-items: flex-end;
  background-color: var(--telepossible-blue);
  display: flex;
  height: 68px;
  justify-content: flex-end;
  min-width: 1949px;
  padding: 23.3px 708.3px;
}

.index .text-35 {
  height: 20px;
  letter-spacing: 8.12px;
  min-width: 530px;
  text-align: center;
}
@media screen and (max-width: 1919px) {
  .screen.index { 
    display: none;
   }
  .screen.about { 
    display: none;
   }
  .screen.contact { 
    display: none;
   }
}
@media screen and (min-width: 1920px) and (max-width: 1919px) {
  .screen.index { 
    display: none;
   }
  .screen.about { 
    display: none;
   }
  .screen.contact { 
    display: none;
   }
}
@media screen and (min-width: 1920px) {
}