:root { 
  --black: #000000;
  --blue-gray: #010f98;
  --desert-storm: #f8f8f8;
  --gallery: #efefef;
  --white: #ffffff;
 
  --font-size-l: 48px;
  --font-size-m: 28px;
  --font-size-s: 24px;
  --font-size-xl: 50px;
  --font-size-xs: 15px;
  --font-size-xxl: 80px;
  --font-size-xxxl: 135px;
 
  --font-family-alternate_gothic_atf-black: "Alternate Gothic ATF-Black", Helvetica;
  --font-family-alternate_gothic_atf-book: "Alternate Gothic ATF-Book", Helvetica;
  --font-family-oswald: "Oswald", Helvetica;
}
.oswald-light-black-28px {
  color: var(--black);
  font-family: var(--font-family-oswald);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 300;
}

.oswald-light-blue-gray-28px {
  color: var(--blue-gray);
  font-family: var(--font-family-oswald);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 300;
}

.oswald-normal-black-15px {
  color: var(--black);
  font-family: var(--font-family-oswald);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.alternategothicatf-book-normal-black-24px {
  color: var(--black);
  font-family: var(--font-family-alternate_gothic_atf-book);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.alternategothicatf-black-blue-gray-24px {
  color: var(--blue-gray);
  font-family: var(--font-family-alternate_gothic_atf-black);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 900;
}
